# Scott Breitbach
## 24-Feb-2021
## DSC540, Weeks 11-12

In [1]:
import sqlite3

# Activity 11: Retrieving Data Correctly From Databases

## 1) Connect to **petsDB** and check whether the connection has been successful.

In [5]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
#     rows = cursor.execute('PRAGMA foreign_keys = 1')
    try:
        conn.execute("SELECT * FROM persons")
        print(True)
    except sqlite3.ProgrammingError as e:
        print(f"Error: {e}")
        print(False)
conn.close()

True

In [6]:
try:
    conn.execute("SELECT * FROM persons")
    print(True)
except sqlite3.ProgrammingError as e:
    print(f"Error: {e}")
    print(False)

Error: Cannot operate on a closed database.
False

## 2) Find the different age groups in the persons database.

In [14]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age")
    for c, a in rows:
        print(f"Age {a}:\t{c} individual(s)")

Age 5:	2 individual(s)
Age 6:	1 individual(s)
Age 7:	1 individual(s)
Age 8:	3 individual(s)
Age 9:	1 individual(s)
Age 11:	2 individual(s)
Age 12:	3 individual(s)
Age 13:	1 individual(s)
Age 14:	4 individual(s)
Age 16:	2 individual(s)
Age 17:	2 individual(s)
Age 18:	3 individual(s)
Age 19:	1 individual(s)
Age 22:	3 individual(s)
Age 23:	2 individual(s)
Age 24:	3 individual(s)
Age 25:	2 individual(s)
Age 27:	1 individual(s)
Age 30:	1 individual(s)
Age 31:	3 individual(s)
Age 32:	1 individual(s)
Age 33:	1 individual(s)
Age 34:	2 individual(s)
Age 35:	3 individual(s)
Age 36:	3 individual(s)
Age 37:	1 individual(s)
Age 39:	2 individual(s)
Age 40:	1 individual(s)
Age 42:	1 individual(s)
Age 44:	2 individual(s)
Age 48:	2 individual(s)
Age 49:	1 individual(s)
Age 50:	1 individual(s)
Age 51:	2 individual(s)
Age 52:	2 individual(s)
Age 53:	2 individual(s)
Age 54:	2 individual(s)
Age 58:	1 individual(s)
Age 59:	1 individual(s)
Age 60:	1 individual(s)
Age 61:	1 individual(s)
Age 62:	2 individual(s)
Age 63:	1 individual(s)
Age 65:	2 individual(s)
Age 66:	2 individual(s)
Age 67:	1 individual(s)
Age 68:	3 individual(s)
Age 69:	1 individual(s)
Age 70:	1 individual(s)
Age 71:	4 individual(s)
Age 72:	1 individual(s)
Age 73:	5 individual(s)
Age 74:	3 individual(s)

## 3) Find the age group that has the maximum number of people.

In [23]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age ORDER BY count(*) DESC")
    for c, a in rows:
        print(f"Most people ({c} total) were {a} years old.")
        break

Most people (5 total) were 73 years old.

## 4) Find the people who do not have a last name.

In [25]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT * FROM persons WHERE last_name is Null")
    for row in rows:
        print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(6, 'Cary', None, 73, 'new port', 76856785)
(8, 'Francisca', None, 14, 'west port', 123456)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(35, 'Maritza', None, 73, 'east port', 9756543)
(37, 'Grant', None, 61, 'east port', 76856785)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(82, 'Letha', None, 44, 'new port', 9756543)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(89, 'Anissa', None, 8, 'south port', 76856785)
(91, 'Sid', None, 22, 'west port', 123456)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)

## 5) Find out how many people have more than one pet.

In [32]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    sql = """
        SELECT count(*) FROM (SELECT count(owner_id) FROM pets 
        GROUP BY owner_id HAVING count(owner_id) >1)
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(f"{row[0]} people have >1 pet.")

43 people have >1 pet.

## 6) Find out how many pets have received treatment.

In [39]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    
    # get number of treated pets
    sql = "SELECT count(*) FROM pets WHERE treatment_done=1"
    rows = cursor.execute(sql)
    for row in rows:
        treated = row[0]
        
    # get total number of pets
    sql = "SELECT count(*) FROM pets"
    rows = cursor.execute(sql)
    for row in rows:
        total = row[0]
    
    print(f"{treated} out of {total} pets have been treated.")

36 out of 150 pets have been treated.

## 7) Find out how many pets have received treatment *and* the type of pet is known.

In [44]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    
    # get number of treated pets of known type
    sql = "SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT Null"
    rows = cursor.execute(sql)
    for row in rows:
        treatAndType = row[0]
    
    # get total number of pets with known type
    sql = "SELECT count(*) FROM pets WHERE pet_type IS NOT Null"
    rows = cursor.execute(sql)
    for row in rows:
        totalKnownType = row[0]    
    
    print(f"{treatAndType} pets out of {totalKnownType} with known type have been treated.")

16 pets out of 68 with known type have been treated.

## 8) Find out how many pets are from the city called **east port**.

In [54]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
# For total number of people from 'east port':
# SELECT count(*) FROM persons WHERE city='east port'
    sql = """
        SELECT count(*) FROM pets
        JOIN persons ON pets.owner_id = id
        WHERE persons.city='east port'
    """    
    rows = cursor.execute(sql)
    for row in rows:
        print(f"There are {row[0]} pets from the city called 'east port'.")

There are 49 pets from the city called 'east port'.

## 9) Find out how many pets are from the city called **east port** *and* who received a treatment.

In [56]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()

    sql = """
        SELECT count(*) FROM pets
        JOIN persons ON pets.owner_id = id
        WHERE persons.city='east port' AND pets.treatment_done=1
    """    
    rows = cursor.execute(sql)
    for row in rows:
        print(f"There are {row[0]} pets from 'east port' who received treatment.")

There are 11 pets from 'east port' who received treatment.