In [1]:
import numpy as np

In [2]:
import pandas as pd

In [22]:
nrows = 3
ncols = 2

In [23]:
size = nrows * ncols

In [24]:
size

6

In [6]:
np.random.seed(42)

In [7]:
np.random.random(size)

array([0.37454012, 0.95071431, 0.73199394, 0.59865848, 0.15601864,
       0.15599452])

In [9]:
np.random.randint(1, 501, size)

array([331, 459,  88, 373, 100, 360])

In [21]:
# np.random.randint(1, 501, 500)
np.random.randint(1, 501, 500).min()
np.random.randint(1, 501, 500).max()

498

In [27]:
array = np.random.randint(1, 501, size)

In [28]:
array.reshape(nrows, ncols)

array([[485, 470],
       [460, 258],
       [127, 485]])

In [29]:
matrix = array.reshape(nrows, ncols)

In [30]:
matrix

array([[485, 470],
       [460, 258],
       [127, 485]])

In [31]:
pd.DataFrame(matrix)

     0    1
0  485  470
1  460  258
2  127  485

In [32]:
df = pd.DataFrame(matrix)

In [33]:
df

     0    1
0  485  470
1  460  258
2  127  485

In [35]:
df.iloc[0].sum()

955

In [37]:
len(df)

3

In [42]:
df.shape

(3, 2)

In [44]:
for i in range(df.shape[0]):
    print(f"Sum of row {i+1}: {df.iloc[i].sum()}")

Sum of row 1: 955
Sum of row 2: 718
Sum of row 3: 612

In [40]:
df[0]

0    485
1    460
2    127
Name: 0, dtype: int32

In [46]:
df[0].sum()

1072

In [47]:
df.sum()

0    1072
1    1213
dtype: int64

In [48]:
df.sum(axis=1)

0    955
1    718
2    612
dtype: int64

In [49]:
matrix

array([[485, 470],
       [460, 258],
       [127, 485]])

In [50]:
np.sum(matrix)

2285

In [51]:
np.sum(matrix, axis=0)

array([1072, 1213])

In [63]:
df

     0    1
0  485  470
1  460  258
2  127  485

In [62]:
df.sort_values(by=1, axis=0, ascending=True)

     0    1
1  460  258
0  485  470
2  127  485

In [64]:
df.sort_values(by=1, axis=1, ascending=True)

     1    0
0  470  485
1  258  460
2  485  127