# Scott Breitbach
## Milestone 2: Cleaning / Formatting Flat File Source
## 22-Jan-2021
## DSC540, Weeks 5-6

In [1]:
import pandas as pd

### Perform at least 5 data transformation and/or cleansing steps to your flat file data.  
For example:  
* Replace Headers
* Format data into a more readable format
* Identify outliers and bad data
* Find duplicates
* Fix casing or inconsistent values
* Conduct Fuzzy Matching  

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

Import CSV file:

In [2]:
df = pd.read_csv('nebraska.csv')
df.head()

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,micro,500 W South St Ste 8,NaN,NaN,Lincoln,Nebraska,NaN,68522-1744,http://www.backswingbrewing.com,4.025154e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN,NaN
1,barley-boys-brewery-omaha,Barley Boys Brewery,planning,NaN,NaN,NaN,Omaha,Nebraska,NaN,68144-1922,http://www.barleyboysbrewery.com,4.025986e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN,NaN
2,benson-brewery-omaha,Benson Brewery,brewpub,6059 Maple St,NaN,NaN,Omaha,Nebraska,NaN,68104-4050,http://www.bensonbrewery.com,4.029349e+09,2018-07-24 01:33:43,2018-08-24 00:47:32,United States,-96.006345,41.284898,NaN
3,blue-blood-brewing-company-lincoln,Blue Blood Brewing Company,brewpub,925 Robbers Cave Rd,NaN,NaN,Lincoln,Nebraska,NaN,68502,http://www.bluebloodbrewing.com,4.024772e+09,2018-07-24 01:33:43,2018-08-24 00:47:33,United States,-96.707014,40.779996,NaN
4,boiler-brewing-company-lincoln,Boiler Brewing Company,micro,129 N 10th St Ste 8,NaN,NaN,Lincoln,Nebraska,NaN,68508-3633,http://www.boilerbrewingcompany.com,4.022619e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN,NaN

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               53 non-null     object
 1   name             53 non-null     object
 2   brewery_type     53 non-null     object
 3   street           45 non-null     object
 4   address_2        0 non-null      float64
 5   address_3        0 non-null      float64
 6   city             53 non-null     object
 7   state            53 non-null     object
 8   county_province  0 non-null      float64
 9   postal_code      53 non-null     object
 10  website_url      46 non-null     object
 11  phone            50 non-null     float64
 12  created_at       53 non-null     object
 13  updated_at       53 non-null     object
 14  country          53 non-null     object
 15  longitude        31 non-null     float64
 16  latitude         31 non-null     float64
 17  tags             0 non-null      float64
dtypes: float64(7), object(11)
memory usage: 7.6+ KB
None

#### 1) It would appear that four of the columns consist entirely of NaNs. These are not useful and should be removed:

In [14]:
# df.isna().all() # Shows True for any column made entirely of NaNs

In [32]:
# df.notna().any()# Shows True for any column NOT made entirely of NaNs

In [30]:
# noNulls = df.dropna(axis=1, how='all') # Assigns new DF without NaN columns

In [29]:
# noNulls.info()

In [28]:
# df.info()

In [26]:
df.dropna(axis=1, how='all', inplace=True) # inplace=True; removes NaN columns without having to assign a new DF

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            53 non-null     object
 1   name          53 non-null     object
 2   brewery_type  53 non-null     object
 3   street        45 non-null     object
 4   city          53 non-null     object
 5   state         53 non-null     object
 6   postal_code   53 non-null     object
 7   website_url   46 non-null     object
 8   phone         50 non-null     float64
 9   created_at    53 non-null     object
 10  updated_at    53 non-null     object
 11  country       53 non-null     object
 12  longitude     31 non-null     float64
 13  latitude      31 non-null     float64
dtypes: float64(3), object(11)
memory usage: 5.9+ KB

In [35]:
df.head()

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,micro,500 W South St Ste 8,Lincoln,Nebraska,68522-1744,http://www.backswingbrewing.com,4.025154e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
1,barley-boys-brewery-omaha,Barley Boys Brewery,planning,NaN,Omaha,Nebraska,68144-1922,http://www.barleyboysbrewery.com,4.025986e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
2,benson-brewery-omaha,Benson Brewery,brewpub,6059 Maple St,Omaha,Nebraska,68104-4050,http://www.bensonbrewery.com,4.029349e+09,2018-07-24 01:33:43,2018-08-24 00:47:32,United States,-96.006345,41.284898
3,blue-blood-brewing-company-lincoln,Blue Blood Brewing Company,brewpub,925 Robbers Cave Rd,Lincoln,Nebraska,68502,http://www.bluebloodbrewing.com,4.024772e+09,2018-07-24 01:33:43,2018-08-24 00:47:33,United States,-96.707014,40.779996
4,boiler-brewing-company-lincoln,Boiler Brewing Company,micro,129 N 10th St Ste 8,Lincoln,Nebraska,68508-3633,http://www.boilerbrewingcompany.com,4.022619e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN

#### 2) Some breweries are still in the planning stage. Let's remove them because they're not brewing yet:

In [36]:
brewersDF = df[df['brewery_type'] != 'planning']

In [40]:
# brewersDF.head()

In [39]:
brewersDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 52
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45 non-null     object
 1   name          45 non-null     object
 2   brewery_type  45 non-null     object
 3   street        45 non-null     object
 4   city          45 non-null     object
 5   state         45 non-null     object
 6   postal_code   45 non-null     object
 7   website_url   40 non-null     object
 8   phone         43 non-null     float64
 9   created_at    45 non-null     object
 10  updated_at    45 non-null     object
 11  country       45 non-null     object
 12  longitude     31 non-null     float64
 13  latitude      31 non-null     float64
dtypes: float64(3), object(11)
memory usage: 5.3+ KB

In [41]:
brewersDF.head()

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,micro,500 W South St Ste 8,Lincoln,Nebraska,68522-1744,http://www.backswingbrewing.com,4.025154e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
2,benson-brewery-omaha,Benson Brewery,brewpub,6059 Maple St,Omaha,Nebraska,68104-4050,http://www.bensonbrewery.com,4.029349e+09,2018-07-24 01:33:43,2018-08-24 00:47:32,United States,-96.006345,41.284898
3,blue-blood-brewing-company-lincoln,Blue Blood Brewing Company,brewpub,925 Robbers Cave Rd,Lincoln,Nebraska,68502,http://www.bluebloodbrewing.com,4.024772e+09,2018-07-24 01:33:43,2018-08-24 00:47:33,United States,-96.707014,40.779996
4,boiler-brewing-company-lincoln,Boiler Brewing Company,micro,129 N 10th St Ste 8,Lincoln,Nebraska,68508-3633,http://www.boilerbrewingcompany.com,4.022619e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
5,bolo-beer-co-valentine,Bolo Beer Co,micro,420 E 1st St,Valentine,Nebraska,69201-1904,http://www.bolobeer.com,NaN,2018-07-24 01:33:43,2018-08-24 00:47:34,United States,-100.545728,42.872047

TO DO:  
* Remove columns with datetime info from web scraping
* ~~Rename breweries (swap hyphens with spaces; Title Case; )~~ Wait, id is different than name
* All breweries are US, so 'country' column can be removed
* Maybe fix phone # format?
* Add column for 5-digit zip
* Maybe get missing lat-long from addresses? Is this even useful?
* "Remove dupicates"
* Maybe make a histogram to look for outliers?