In [1]:
import sqlite3
import pandas as pd

In [2]:
testDF = pd.read_csv('testData.csv')
nebrDF = pd.read_csv('nebraska.csv')

Create the DB:

In [3]:
conn = sqlite3.connect('TestDB.db')
cursor = conn.cursor()

Create the table:

In [4]:
# c.execute('CREATE TABLE IF NOT EXISTS test (Brewery Name, City, State, Type of Brewery, Type of Distribution, Notes, Num Locations, Locations)')
# conn.commit()

Get from pandas DF to SQL:

In [5]:
testDF.to_sql('test', conn, if_exists='replace', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

Take a look:

In [6]:
cursor.execute('''SELECT * FROM test''')

for row in cursor.fetchall()[:5]:
    print(row)

('Backswing Brewing Co.', 'Lincoln', 'Nebraska', 'Micro', 'On-tap at the brewery and at select locations', 'Distro planned for 2016', 1, 'Lincoln')
('Benson Brewery', 'Omaha', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Other beers, locals included, on tap. Omaha Brewing is the parent company', 1, 'Omaha')
('Boiler Brewing Company', 'Lincoln', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Tours posted on FB page', 2, 'Lincoln / Lincoln - South')
('Bolo Beer Co.', 'Valentine', 'Nebraska', 'Taproom', 'On tap at the brewery and select distribution around Omaha', None, 1, 'Valentine')
('Bootleg Brewers, Sandhills Brewing Co.', 'Taylor', 'Nebraska', 'Brewpub', 'Taproom only', 'Steakhouse and lodging available', 1, 'Taylor')

Get a list of the tables:

In [7]:
res = conn.execute('''
    SELECT name FROM sqlite_master WHERE type='table';
''')

for name in res:
    print(name[0])

nebr
csvtable
webtable
apitable
test

In [8]:
with sqlite3.connect('TestDB.db') as conn:
    cursor = conn.cursor()
    testDF.to_sql('test', conn, if_exists='replace', index=False)
    nebrDF.to_sql('nebr', conn, if_exists='replace', index=False)

In [9]:
cursor.execute('''SELECT * FROM test''')

for row in cursor.fetchall()[:5]:
    print(row)

('Backswing Brewing Co.', 'Lincoln', 'Nebraska', 'Micro', 'On-tap at the brewery and at select locations', 'Distro planned for 2016', 1, 'Lincoln')
('Benson Brewery', 'Omaha', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Other beers, locals included, on tap. Omaha Brewing is the parent company', 1, 'Omaha')
('Boiler Brewing Company', 'Lincoln', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Tours posted on FB page', 2, 'Lincoln / Lincoln - South')
('Bolo Beer Co.', 'Valentine', 'Nebraska', 'Taproom', 'On tap at the brewery and select distribution around Omaha', None, 1, 'Valentine')
('Bootleg Brewers, Sandhills Brewing Co.', 'Taylor', 'Nebraska', 'Brewpub', 'Taproom only', 'Steakhouse and lodging available', 1, 'Taylor')

In [10]:
cursor.execute('''SELECT * FROM nebr''')

for row in cursor.fetchall()[:5]:
    print(row)

('backswing-brewing-co-lincoln', 'Backswing Brewing Co.', 'micro', '500 W South St Ste 8', None, None, 'Lincoln', 'Nebraska', None, '68522-1744', 'http://www.backswingbrewing.com', 4025154263.0, '2018-07-24 01:33:43', '2018-08-11 21:38:14', 'United States', None, None, None)
('barley-boys-brewery-omaha', 'Barley Boys Brewery', 'planning', None, None, None, 'Omaha', 'Nebraska', None, '68144-1922', 'http://www.barleyboysbrewery.com', 4025986096.0, '2018-07-24 01:33:43', '2018-08-11 21:38:14', 'United States', None, None, None)
('benson-brewery-omaha', 'Benson Brewery', 'brewpub', '6059 Maple St', None, None, 'Omaha', 'Nebraska', None, '68104-4050', 'http://www.bensonbrewery.com', 4029348668.0, '2018-07-24 01:33:43', '2018-08-24 00:47:32', 'United States', -96.00634511, 41.28489756, None)
('blue-blood-brewing-company-lincoln', 'Blue Blood Brewing Company', 'brewpub', '925 Robbers Cave Rd', None, None, 'Lincoln', 'Nebraska', None, '68502', 'http://www.bluebloodbrewing.com', 4024772337.0, '2018-07-24 01:33:43', '2018-08-24 00:47:33', 'United States', -96.70701376, 40.77999602, None)
('boiler-brewing-company-lincoln', 'Boiler Brewing Company', 'micro', '129 N 10th St Ste 8', None, None, 'Lincoln', 'Nebraska', None, '68508-3633', 'http://www.boilerbrewingcompany.com', 4022618775.0, '2018-07-24 01:33:43', '2018-08-11 21:38:14', 'United States', None, None, None)

## Column headers - replace spaces with underscores

In [301]:
csvData = pd.read_csv("CSV_nebraskaCleaned.csv")
webData = pd.read_csv("WEB_NEbeerReddit.csv")
apiData = pd.read_csv("API_beerMapping.csv")

In [12]:
csvData.columns

Index(['Brewery ID', 'Brewery Name', 'Type of Brewery', 'Street Address',
       'City', 'State', 'Postal Code', '5-digit Zip', 'Website', 'Phone',
       'Longitude', 'Latitude'],
      dtype='object')

In [14]:
# csvData.columns.replace(" ", "_")

In [15]:
for c in csvData.columns:
    print(c)

Brewery ID
Brewery Name
Type of Brewery
Street Address
City
State
Postal Code
5-digit Zip
Website
Phone
Longitude
Latitude

In [16]:
newCols = []
for c in csvData.columns:
    newCols.append(c.replace(" ", "_"))
newCols

['Brewery_ID',
 'Brewery_Name',
 'Type_of_Brewery',
 'Street_Address',
 'City',
 'State',
 'Postal_Code',
 '5-digit_Zip',
 'Website',
 'Phone',
 'Longitude',
 'Latitude']

In [17]:
csvData.columns = newCols

In [18]:
csvData.columns

Index(['Brewery_ID', 'Brewery_Name', 'Type_of_Brewery', 'Street_Address',
       'City', 'State', 'Postal_Code', '5-digit_Zip', 'Website', 'Phone',
       'Longitude', 'Latitude'],
      dtype='object')

### This part here:

In [307]:
def colSpaceToUnderscore(df):
    '''Replaces spaces with underscores in the column names of a DataFrame'''
#     print(f"Old column names:\n{df.columns}")
    newCols = []
    for c in df.columns:
        newCols.append(c.replace(' ', '_'))
    df.columns = newCols
    print(f"New column names:\n{df.columns}")

In [303]:
colSpaceToUnderscore(webData)

New column names:
Index(['Brewery_Name', 'City', 'State', 'Type_of_Brewery',
       'Type_of_Distribution', 'Notes', '#_Locations', 'Locations'],
      dtype='object')

In [304]:
colSpaceToUnderscore(csvData)

New column names:
Index(['Brewery_ID', 'Brewery_Name', 'Type_of_Brewery', 'Street_Address',
       'City', 'State', 'Postal_Code', '5-digit_Zip', 'Website', 'Phone',
       'Longitude', 'Latitude'],
      dtype='object')

In [22]:
webData.columns

Index(['Brewery_Name', 'City', 'State', 'Type_of_Brewery',
       'Type_of_Distribution', 'Notes', '#_Locations', 'Locations'],
      dtype='object')

In [23]:
print(f"The new column names are: {webData.columns}")

The new column names are: Index(['Brewery_Name', 'City', 'State', 'Type_of_Brewery',
       'Type_of_Distribution', 'Notes', '#_Locations', 'Locations'],
      dtype='object')

In [305]:
colSpaceToUnderscore(apiData)

New column names:
Index(['BreweryID', 'BreweryName', 'Type', 'ReviewLink', 'ProxyLink', 'Map',
       'StreetAddress', 'City', 'State', 'Zip', 'Country', 'PhoneNum',
       'Website', 'Rating', 'ImageCount'],
      dtype='object')

In [306]:
csvData.head()

,Brewery_ID,Brewery_Name,Type_of_Brewery,Street_Address,City,State,Postal_Code,5-digit_Zip,Website,Phone,Longitude,Latitude
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,Micro,500 W South St Ste 8,Lincoln,Nebraska,68522-1744,68522,http://www.backswingbrewing.com,(402) 515-4263,NaN,NaN
1,benson-brewery-omaha,Benson Brewery,Brewpub,6059 Maple St,Omaha,Nebraska,68104-4050,68104,http://www.bensonbrewery.com,(402) 934-8668,-96.006345,41.284898
2,boiler-brewing-company-lincoln,Boiler Brewing Company,Micro,129 N 10th St Ste 8,Lincoln,Nebraska,68508-3633,68508,http://www.boilerbrewingcompany.com,(402) 261-8775,NaN,NaN
3,bolo-beer-co-valentine,Bolo Beer Co,Micro,420 E 1st St,Valentine,Nebraska,69201-1904,69201,http://www.bolobeer.com,(402) 259-5180,-100.545728,42.872047
4,bootleg-brewers-sandhills-brewing-company-taylor,Bootleg Brewers - Sandhills Brewing Company,Brewpub,45145 829th Rd,Taylor,Nebraska,68879-8120,68879,http://www.bootlegbrewers.com,(308) 942-3440,NaN,NaN

In [26]:
csvData.Type_of_Brewery.unique()

array(['Micro', 'Brewpub'], dtype=object)

In [27]:
webData.head()

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations
0,Backswing Brewing Co.,Lincoln,Nebraska,Micro,On-tap at the brewery and at select locations,Distro planned for 2016,1,Lincoln
1,Benson Brewery,Omaha,Nebraska,Taproom,On tap only at the brewery,"Other beers, locals included, on tap. Omaha Br...",1,Omaha
2,Boiler Brewing Company,Lincoln,Nebraska,Taproom,On tap only at the brewery,Tours posted on FB page,2,Lincoln / Lincoln - South
3,Bolo Beer Co.,Valentine,Nebraska,Taproom,On tap at the brewery and select distribution ...,NaN,1,Valentine
4,"Bootleg Brewers, Sandhills Brewing Co.",Taylor,Nebraska,Brewpub,Taproom only,Steakhouse and lodging available,1,Taylor

In [28]:
webData.Type_of_Brewery.unique()

array(['Micro', 'Taproom', 'Brewpub', 'Chain', 'Micro/Brewpub'],
      dtype=object)

In [29]:
apiData.head()

,BreweryID,BreweryName,Type,ReviewLink,ProxyLink,Map,StreetAddress,City,State,Zip,Country,PhoneNum,Website,Rating,ImageCount
0,21938,Catalyst Brewing Company,Brewery,https://beermapping.com/location/21938,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,5730 Hidcote Drive,Lincoln,NE,68516,United States,402-875-5588,NaN,0.0,0
1,19644,Backswing Brewing Co.,Brewery,https://beermapping.com/location/19644,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,500 W South St #8,Lincoln,NE,68522,United States,(402) 515-4263,facebook.com/BackswingBrewingCo/timeline,0.0,0
2,17706,Benson Brewery,Brewpub,https://beermapping.com/location/17706,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,6059 Maple Street,Omaha,NE,68104,United States,(402) 937-1892,bensonbrewery.com,0.0,0
3,20376,Boiler Brewing Company,Brewery,https://beermapping.com/location/20376,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,"129 N 10th St, Suite 8",Lincoln,NE,68508,United States,402-261-8775,boilerbrewingcompany.com,0.0,0
4,20287,Bolo Beer Co,Brewery,https://beermapping.com/location/20287,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,420 East 1st St,Valentine,NE,69201,United States,NaN,facebook.com/BoloBeerCo,0.0,0

In [30]:
apiData.Type.unique()

array(['Brewery', 'Brewpub'], dtype=object)

In [31]:
apiData.sort_values('Rating', ascending=False).head(6)

,BreweryID,BreweryName,Type,ReviewLink,ProxyLink,Map,StreetAddress,City,State,Zip,Country,PhoneNum,Website,Rating,ImageCount
28,10511,Lucky Bucket Brewing Co,Brewery,https://beermapping.com/location/10511,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,"11941 Centennial Road, Ste 1",La Vista,NE,68128,United States,(402) 763-8868,luckybucketbrewing.com,100.00000,0
7,18888,Brickway Brewery and Distillery,Brewery,https://beermapping.com/location/18888,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,1116 Jackson Street,Omaha,NE,68102,United States,(402) 933-2613,http://www.drinkbrickway.com/,93.33340,1
41,1374,Upstream Brewing Company,Brewpub,https://beermapping.com/location/1374,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,514 South 11th Street,Omaha,NE,68102,United States,(402) 344-0200,upstreambrewing.com/,83.33340,5
33,3113,Schilling Bridge Winery and Microbrewery,Brewery,https://beermapping.com/location/3113,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,710th Road,Pawnee City,NE,68420,United States,402-852-2400,schillingbridgewinery.com,71.66665,5
22,685,Jaipur Restaurant and Brewpub,Brewpub,https://beermapping.com/location/685,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,10922 Elm St.,Omaha,NE,68144,United States,(402) 392-7331,NaN,71.66645,0
0,21938,Catalyst Brewing Company,Brewery,https://beermapping.com/location/21938,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,5730 Hidcote Drive,Lincoln,NE,68516,United States,402-875-5588,NaN,0.00000,0

## Fixing Addresses
https://pypi.org/project/pandas-usaddress/

In [32]:
# pip install pandas_usaddress

In [33]:
import pandas_usaddress

In [51]:
# # breaks address apart into components
# testDF = pandas_usaddress.tag(csvData, ['Street_Address'])  
# # breaks into components and standardizes Av Ave Avenue, etc to ave
# testDF = pandas_usaddress.tag(csvData, ['Street_Address'], standardize=True) 
# # single column output
# testDF = pandas_usaddress.tag(csvData, ['Street_Address'], granularity='single') 
# standardizes and single column output
testDF = pandas_usaddress.tag(csvData, ['Street_Address'], granularity='single', standardize=True)

In [67]:
# testDF.tail(12)

In [57]:
# csvData.Street_Address == testDF.Street_Address

In [59]:
testDF.SingleLine.tail()

39             18 e 21st st
40            514 s 11th st
41           3501 center st
42          720 van dorn st
43    2100 magnum cir ste 1
Name: SingleLine, dtype: object

In [63]:
testDF.SingleLine.str.title().tail()

39             18 E 21St St
40            514 S 11Th St
41           3501 Center St
42          720 Van Dorn St
43    2100 Magnum Cir Ste 1
Name: SingleLine, dtype: object

Cool.

In [64]:
tempDF = csvData.copy()

In [65]:
tempDF.Street_Address = testDF.SingleLine.str.title()

In [75]:
tempDF.Street_Address.head()

0    500 W South St Ste 8
1           6059 Maple St
2     925 Robbers Cave Rd
3     129 N 10Th St Ste 8
4            420 E 1St St
Name: Street_Address, dtype: object

In [ ]:
testDF = pandas_usaddress.tag(csvData, ['Street_Address'], granularity='single', standardize=True) 
tempDF.Street_Address = testDF.SingleLine.str.title()

### This part here:

In [308]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity'''
    tempDF = pandas_usaddress.tag(df, [colName], granularity='single', standardize=True) 
    df[colName] = tempDF.SingleLine.str.title()

In [309]:
standardizeAddress(csvData, 'Street_Address')
standardizeAddress(apiData, 'StreetAddress')

In [73]:
apiData.StreetAddress.head()

0          5730 Hidcote Dr
1         500 W South St 8
2            6059 Maple St
3    129 N 10Th St Suite 8
4             420 E 1St St
Name: StreetAddress, dtype: object

In [74]:
csvData.Street_Address.head()

0    500 W South St Ste 8
1           6059 Maple St
2     925 Robbers Cave Rd
3     129 N 10Th St Ste 8
4            420 E 1St St
Name: Street_Address, dtype: object

## What to fix next... Omaha?
Omaha neighborhoods: https://en.wikipedia.org/wiki/Neighborhoods_of_Omaha,_Nebraska

In [ ]:
omahaSubs = ['Papillion', 'La Vista', 'Elkhorn', 'Benson'] # ... so many

In [76]:
import requests

In [77]:
url = "https://en.wikipedia.org/wiki/Neighborhoods_of_Omaha,_Nebraska"
listOfTables = pd.read_html(url)

In [78]:
len(listOfTables)

4

In [81]:
# listOfTables[1]

Sweet

In [82]:
omahaSubsDF = listOfTables[1]

In [84]:
omahaSubsDF.columns

Index(['Neighborhoods in Omaha alphabetical order',
       'Neighborhoods in Omaha alphabetical order.1',
       'Neighborhoods in Omaha alphabetical order.2',
       'Neighborhoods in Omaha alphabetical order.3',
       'Neighborhoods in Omaha alphabetical order.4',
       'Neighborhoods in Omaha alphabetical order.5'],
      dtype='object')

In [85]:
omahaSubs = omahaSubsDF['Neighborhoods in Omaha alphabetical order']

In [86]:
type(omahaSubs)

pandas.core.series.Series

In [89]:
# list(omahaSubs[1:])

In [137]:
omahaSubs = list(omahaSubsDF['Neighborhoods in Omaha alphabetical order'][1:])
omahaSubs.append('Omaha')
omahaSubs.append('LaVista')

In [95]:
# Might not need this; list seems to be working
omahaSubsTuple = tuple(omahaSubsDF['Neighborhoods in Omaha alphabetical order'][1:])

So far so good...

In [175]:
testDF = webData.copy()

In [148]:
testDF.head()

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations
0,Backswing Brewing Co.,Lincoln,Nebraska,Micro,On-tap at the brewery and at select locations,Distro planned for 2016,1,Lincoln
1,Benson Brewery,Omaha,Nebraska,Taproom,On tap only at the brewery,"Other beers, locals included, on tap. Omaha Br...",1,Omaha
2,Boiler Brewing Company,Lincoln,Nebraska,Taproom,On tap only at the brewery,Tours posted on FB page,2,Lincoln / Lincoln - South
3,Bolo Beer Co.,Valentine,Nebraska,Taproom,On tap at the brewery and select distribution ...,NaN,1,Valentine
4,"Bootleg Brewers, Sandhills Brewing Co.",Taylor,Nebraska,Brewpub,Taproom only,Steakhouse and lodging available,1,Taylor

In [176]:
testDF['Central_City'] = testDF.City

In [162]:
testDF.head()

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations,City2
0,Backswing Brewing Co.,Lincoln,Nebraska,Micro,On-tap at the brewery and at select locations,Distro planned for 2016,1,Lincoln,Lincoln
1,Benson Brewery,Omaha,Nebraska,Taproom,On tap only at the brewery,"Other beers, locals included, on tap. Omaha Br...",1,Omaha,Omaha
2,Boiler Brewing Company,Lincoln,Nebraska,Taproom,On tap only at the brewery,Tours posted on FB page,2,Lincoln / Lincoln - South,Lincoln
3,Bolo Beer Co.,Valentine,Nebraska,Taproom,On tap at the brewery and select distribution ...,NaN,1,Valentine,Valentine
4,"Bootleg Brewers, Sandhills Brewing Co.",Taylor,Nebraska,Brewpub,Taproom only,Steakhouse and lodging available,1,Taylor,Taylor

In [158]:
# testDF[testDF.City2.isin(omahaSubs)] = 'Omaha'
# testDF[testDF['City2'].isin(omahaSubs) == True] = 'Omaha'

There's the trick. Add the optional column argument:

In [178]:
testDF.loc[(testDF['Central_City'].isin(omahaSubs) == True), 'Central_City'] = 'Omaha'

### This part here:

In [310]:
def omahaSuburbs(df, colName):
    df['Central_City'] = df[colName]
    df.loc[(df['Central_City'].isin(omahaSubs) == True), 'Central_City'] = "Omaha"

In [311]:
omahaSuburbs(csvData, 'City')
omahaSuburbs(webData, 'City')
omahaSuburbs(apiData, 'City')

In [179]:
testDF.head(25)

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations,City2
0,Backswing Brewing Co.,Lincoln,Nebraska,Micro,On-tap at the brewery and at select locations,Distro planned for 2016,1,Lincoln,Lincoln
1,Benson Brewery,Omaha,Nebraska,Taproom,On tap only at the brewery,"Other beers, locals included, on tap. Omaha Br...",1,Omaha,Omaha
2,Boiler Brewing Company,Lincoln,Nebraska,Taproom,On tap only at the brewery,Tours posted on FB page,2,Lincoln / Lincoln - South,Lincoln
3,Bolo Beer Co.,Valentine,Nebraska,Taproom,On tap at the brewery and select distribution ...,NaN,1,Valentine,Valentine
4,"Bootleg Brewers, Sandhills Brewing Co.",Taylor,Nebraska,Brewpub,Taproom only,Steakhouse and lodging available,1,Taylor,Taylor
5,Bottle Rocket Brewing Company,Seward,Nebraska,Taproom,NaN,Opened fall 2015,1,Seward,Seward
6,Brewery 719,Alliance,Nebraska,Taproom,On-tap at the brewery,Opened Feb 2019,1,Alliance,Alliance
7,Brickway Brewery & Distillery,Omaha,Nebraska,Micro,On tap and select distribution around Omaha; D...,formerly Borgata,1,Omaha - Downtown,Omaha
8,Brush Creek Brewing Company,Atkinson,Nebraska,Brewpub,NaN,NaN,1,Atkinson,Atkinson
9,Canyon Lakes Brewing Company,Johnson Lake,Nebraska,Brewpub,On tap at the brewery,"Opened June 19, 2019",1,Johnson Lake,Johnson Lake
10,Catalyst Brewing Company,Lincoln,Nebraska,Brewpub,On-tap at the brewery,"Owned by the LOCAL Beer, Patio, & Kitchen folk...",1,Lincoln,Lincoln
11,Code Beer Company,Lincoln,Nebraska,Micro,On tap at the brewery,NaN,1,Lincoln,Lincoln
12,Cosmic Eye Brewing,Lincoln,Nebraska,Taproom,"On tap, crowlers, retail cans",Opened 03-Oct-2018,1,Lincoln,Lincoln
13,Divots Brewery,Norfolk,Nebraska,Brewpub,NaN,Small brewing operation in the conference cent...,1,Norfolk,Norfolk
14,Empyrean Brewing Company,Lincoln,Nebraska,Micro,"On tap state-wide, bottles",Oldest Microbrew in Nebraska,1,Lincoln - Haymarket,Lincoln
15,Fairfield Opera House Brewery & Grill,Fairfield,Nebraska,Brewpub,NaN,NaN,1,Fairfield,Fairfield
16,Farnam House Brewing Company,Omaha,Nebraska,Brewpub,On tap only at the brewery,Formerly Goldenrod,1,Omaha - Midtown,Omaha
17,First Street Brewing Company,Hastings,Nebraska,Taproom,On-tap at the brewery and at select locations,NaN,1,Hastings,Hastings
18,Flyover Brewing Company,Scottsbluff,Nebraska,Brewpub,On tap at the brewery,Opened Sept 2018,1,Scottsbluff,Scottsbluff
19,Gottberg Brew Pub,Columbus,Nebraska,Brewpub,On tap only at the brewery,Root beer and cream soda,1,Columbus,Columbus
20,Granite City Food & Brewery,Omaha,Nebraska,Chain,On tap only at the brewery,NaN,2,Omaha / Lincoln,Omaha
21,Hanging Horseshoe Brewing Company,Imperial,Nebraska,Taproom,On tap on-site only,Part of Broken Arrow Cellars Winery,1,Imperial,Imperial
22,Hwy 14 Brewing Company,Albion,Nebraska,Micro,On tap at the brewery,Opened October 2018,1,Albion,Albion
23,Infusion Brewing Company,Benson,Nebraska,Micro,"On tap throughout Omaha and at the brewery, sp...",12-15 house-brewed beers,4,Benson / Omaha - SW / Omaha - Little Bohemia /...,Omaha
24,Jaipur Brewing Company,Omaha,Nebraska,Brewpub,On tap only at the brewery,NaN,1,Omaha - West,Omaha

In [271]:
# (testDF['City2'].isin(omahaSubs) == True)

In [171]:
testDF[(testDF['City2'].isin(omahaSubs)) == True]

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations,City2
1,Benson Brewery,Omaha,Nebraska,Taproom,On tap only at the brewery,"Other beers, locals included, on tap. Omaha Br...",1,Omaha,Omaha
7,Brickway Brewery & Distillery,Omaha,Nebraska,Micro,On tap and select distribution around Omaha; D...,formerly Borgata,1,Omaha - Downtown,Omaha
16,Farnam House Brewing Company,Omaha,Nebraska,Brewpub,On tap only at the brewery,Formerly Goldenrod,1,Omaha - Midtown,Omaha
20,Granite City Food & Brewery,Omaha,Nebraska,Chain,On tap only at the brewery,NaN,2,Omaha / Lincoln,Omaha
23,Infusion Brewing Company,Benson,Nebraska,Micro,"On tap throughout Omaha and at the brewery, sp...",12-15 house-brewed beers,4,Benson / Omaha - SW / Omaha - Little Bohemia /...,Benson
24,Jaipur Brewing Company,Omaha,Nebraska,Brewpub,On tap only at the brewery,NaN,1,Omaha - West,Omaha
26,Jukes Ale Works,Elkhorn,Nebraska,Brewpub,NaN,"Opened July 9, 2019",1,Elkhorn,Elkhorn
28,Kros Strain Brewing Company,LaVista,Nebraska,Micro,On tap at the brewery,NaN,1,LaVista,LaVista
32,Lucky Bucket Brewing Company,LaVista,Nebraska,Micro,"On tap state-wide, bottles",NaN,1,LaVista,LaVista
34,Monolithic Brewing,Omaha,Nebraska,Brewpub,On-tap at the brewery,"Opened Oct 2020, Formerly Omaha Ale Works",1,Omaha,Omaha
35,Nebraska Brewing Company,LaVista,Nebraska,Micro/Brewpub,"On tap state-wide, cans and bottles",Largest production facility in the state; Papi...,1,LaVista,LaVista
38,Pint Nine Brewing Company,Papillion,Nebraska,Micro,On tap at the brewery,NaN,1,Papillion,Papillion
44,Scriptown Brewing Company,Omaha,Nebraska,Taproom,On tap at the brewery and around Omaha,NaN,1,Omaha - Midtown,Omaha
45,Site-1 Brewing,Omaha,Nebraska,Micro,On tap at the brewery,Opened Dec 2020,1,Omaha,Omaha
51,Upstream Brewing Company,Omaha,Nebraska,Brewpub,"On tap in Omaha, limited bottles",4-5 rotating seasonals and 8 house beers. Omah...,1,Omaha - Downtown,Omaha
52,Vis Major Brewing Company,Omaha,Nebraska,Brewpub,On tap at the brewery,NaN,1,Omaha,Omaha

In [138]:
# if testDF['City'] in omahaSubs == True:
#     testDF['City2'] = "Omaha"

In [139]:
# import numpy as np

In [140]:
# for i in testDF['City']:
#     if i in omahaSubs:
#         testDF['City2'] = "Omaha"
#     else:
#         testDF['City2'] = np.nan

In [101]:
# testDF.City2 # Nope, just makes everything in the column that

In [105]:
testDF.City[1] in omahaSubs

False

In [142]:
# testDF[testDF.City2 in omahaSubsTuple]

In [270]:
# testDF.City2.isin(omahaSubs)

In [269]:
# testDF.City2.isin(omahaSubs)

In [124]:
# testDF[testDF.City2.isin(omahaSubs)] = 'Omaha'

In [268]:
# testDF.City

In [267]:
# testDF.City2

In [266]:
# testDF[['City', 'City2']]

In [146]:
testDF.head()

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations,City2
0,Backswing Brewing Co.,Lincoln,Nebraska,Micro,On-tap at the brewery and at select locations,Distro planned for 2016,1,Lincoln,Lincoln
1,Omaha,Omaha,Omaha,Omaha,Omaha,Omaha,Omaha,Omaha,Omaha
2,Boiler Brewing Company,Lincoln,Nebraska,Taproom,On tap only at the brewery,Tours posted on FB page,2,Lincoln / Lincoln - South,Lincoln
3,Bolo Beer Co.,Valentine,Nebraska,Taproom,On tap at the brewery and select distribution ...,NaN,1,Valentine,Valentine
4,"Bootleg Brewers, Sandhills Brewing Co.",Taylor,Nebraska,Brewpub,Taproom only,Steakhouse and lodging available,1,Taylor,Taylor

In [187]:
testList = ['one']

In [188]:
testList.extend(['two', 'three'])

In [189]:
testList

['one', 'two', 'three']

Sweet

## Phone Numbers

In [190]:
import phonenumbers as pn

In [192]:
csvData.Phone.head()

0    (402) 515-4263
1    (402) 934-8668
2    (402) 477-2337
3    (402) 261-8775
4    (402) 259-5180
Name: Phone, dtype: object

In [260]:
# apiData.PhoneNum

In [217]:
# apiData.PhoneNum.str.strip()

In [201]:
apiData.PhoneNum = apiData.PhoneNum.str.strip()

In [261]:
# apiData["PhoneNum"] = apiData['PhoneNum'].astype(str).map(lambda x: pn.format_number(pn.parse(x, 'US'), pn.PhoneNumberFormat.NATIONAL))

In [215]:
# for n in apiData.PhoneNum:
#     print(pn.format_number(pn.parse(n, 'US'), pn.PhoneNumberFormat.NATIONAL))

In [ ]:
try:
    apiData["PhoneNum2"] = apiData['PhoneNum'].astype(str).map(lambda x: pn.format_number(pn.parse(x, 'US'), pn.PhoneNumberFormat.NATIONAL))
except:
    apiData["PhoneNum2"]

In [256]:
testDF = apiData.copy()

### This part here:

In [312]:
def fixPhoneNums(df, colName):
    phList = []
    for i in range(len(df[colName])):
        try:
            phList.append(pn.format_number(pn.parse(df[colName][i], 'US'), pn.PhoneNumberFormat.NATIONAL))
        except:
            phList.append(np.nan)
    df[colName] = phList

In [313]:
fixPhoneNums(apiData, 'PhoneNum')

In [258]:
fixPhoneNums(testDF, 'PhoneNum')

In [262]:
# testDF.PhoneNum

In [263]:
phList = []
for i in range(len(testDF.PhoneNum)):
    try:
        phList.append(pn.format_number(pn.parse(testDF.PhoneNum[i], 'US'), pn.PhoneNumberFormat.NATIONAL))
    except:
        phList.append(np.nan)
# phList

In [244]:
testDF['PhoneNum'] = phList

In [264]:
# testDF.PhoneNum

In [237]:
for i in range(len(testDF.PhoneNum)):
    try:
        testDF.PhoneNum[i] = pn.format_number(pn.parse(testDF.PhoneNum[i], 'US'), pn.PhoneNumberFormat.NATIONAL)
    except:
        testDF.PhoneNum[i] = np.nan

<ipython-input-237-fb6bbc5157bd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDF.PhoneNum[i] = pn.format_number(pn.parse(testDF.PhoneNum[i], 'US'), pn.PhoneNumberFormat.NATIONAL)
<ipython-input-237-fb6bbc5157bd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDF.PhoneNum[i] = np.nan

In [265]:
# testDF.PhoneNum

In [272]:
# for i in apiData.PhoneNum:
#     print(i)

In [273]:
# for n in apiData.PhoneNum:
#     try:
#         print(pn.format_number(pn.parse(n, 'US'), pn.PhoneNumberFormat.NATIONAL))
#     except:
#         print(np.nan)

## Fuzzy Matching

In [277]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [314]:
checkDF = csvData.copy()
actualDF = webData.copy()

testDF = pd.DataFrame()
testDF['NamesToCheck'] = checkDF['Brewery_Name']

actualName = []
similarity = []

for i in testDF['NamesToCheck']:
    ratio = process.extract(i, actualDF['Brewery_Name'], limit=1, 
                            scorer=fuzz.token_sort_ratio) # TSoR effecive on both
    actualName.append(ratio[0][0])
    similarity.append(ratio[0][1])
    
    testDF['NameMatch'] = pd.Series(actualName)
    testDF['Score'] = pd.Series(similarity)
    
print('Average Score: {0:.2f}'.format(testDF['Score'].mean()))

testDF.sort_values('Score', ascending=False)

Average Score: 96.02

,NamesToCheck,NameMatch,Score
0,Backswing Brewing Co.,Backswing Brewing Co.,100
27,Lucky Bucket Brewing Co,Lucky Bucket Brewing Company,100
1,Benson Brewery,Benson Brewery,100
22,Kinkaider Brewing Co,Kinkaider Brewing Company,100
23,Kros Strain Brewing Company,Kros Strain Brewing Company,100
24,Lazy Horse Brewing,Lazy Horse Brewing & Winery,100
25,Loop Brewing Co,Loop Brewing Company,100
26,Lost Way Brewery,Lost Way Brewery,100
30,Pals Brewing Company,Pals Brewing Company,100
18,Infusion Brewing Company,Infusion Brewing Company,100
33,Scratchtown Brewing Company,Scratchtown Brewing Company,100
34,Scriptown Brewing Company,Scriptown Brewing Company,100
36,Steeple Brewing Co,Steeple Brewing Co.,100
37,Thunderhead Brewing Co,Thunderhead Brewing Company,100
39,Vis Major Brewing Co,Vis Major Brewing Company,100
40,White Elm Brewing Co,White Elm Brewing Company,100
19,Infusion Brewing Company,Infusion Brewing Company,100
21,Johnnie Byrd Brewing Company,Johnnie Byrd Brewing Company,100
17,Hanging Horseshoe Brewing Company,Hanging Horseshoe Brewing Company,100
10,Empyrean Brewing Co,Empyrean Brewing Company,100
2,Boiler Brewing Company,Boiler Brewing Company,100
3,Bolo Beer Co,Bolo Beer Co.,100
5,Bottle Rocket Brewing Co,Bottle Rocket Brewing Company,100
7,Brush Creek Brewing Company,Brush Creek Brewing Company,100
16,Granite City Food & Brewery (#7),Granite City Food & Brewery,100
9,Divots Brewery,Divots Brewery,100
8,Code Beer Co.,Code Beer Company,100
11,Fairfield Opera House Brewery,Fairfield Opera House Brewery & Grill,100
12,Farnam House Brewing Company,Farnam House Brewing Company,100
13,First Street Brewing,First Street Brewing Company,100
14,Gottberg Brew Pub,Gottberg Brew Pub,100
15,Granite City Food & Brewery (#16),Granite City Food & Brewery,100
41,Zipline Brewing Co,Zipline Brewing Co.,100
4,Bootleg Brewers - Sandhills Brewing Company,"Bootleg Brewers, Sandhills Brewing Co.",97
6,Brickway Brewery and Distillery,Brickway Brewery & Distillery,90
29,Nebraska Brewing Co - Papillion,Nebraska Brewing Company,88
31,Prairie Pride Brewery,Prairie Pride Brewing Company,86
28,Nebraska Brewing Co - La Vista,Nebraska Brewing Company,83
38,Upstream Brewing Co (#1),Upstream Brewing Company,83
35,Soaring Wings Brewing,Soaring Wings Vineyard & Brewing,76
32,SchillingBridge Winery & Microbrewery,Schillingbridge Brewing Company,71
20,Jaipur Restaurant and Brewpub,Jaipur Brewing Company,59

CSV data:
* Delete Blue Blood (index 2)
* Rename Lazlo's --> Empyrean (index 25)

In [315]:
checkDF = apiData.copy()
actualDF = webData.copy()

testDF = pd.DataFrame()
testDF['NamesToCheck'] = checkDF['BreweryName']

actualName = []
similarity = []

for i in testDF['NamesToCheck']:
    ratio = process.extract(i, actualDF['Brewery_Name'], limit=1, 
                            scorer=fuzz.partial_ratio) # PR was most effective
    actualName.append(ratio[0][0])
    similarity.append(ratio[0][1])
    
    testDF['NameMatch'] = pd.Series(actualName)
    testDF['Score'] = pd.Series(similarity)
    
print('Average Score: {0:.2f}'.format(testDF['Score'].mean()))

# testDF.sort_values('Score', ascending=False)

Average Score: 96.04

api(PR):
* The Brewery at Divots
* Shilling Bridge Winery and Microbrewery
* Lazy Horse Vineyard and Brewery

In [316]:
scorer_dict = { 'R':fuzz.ratio, 
                'PR': fuzz.partial_ratio, 
                'TSeR': fuzz.token_set_ratio, 
                'TSoR': fuzz.token_sort_ratio,
                'PTSeR': fuzz.partial_token_set_ratio, 
                'PTSoR': fuzz.partial_token_sort_ratio, 
                'WR': fuzz.WRatio, 
                'QR': fuzz.QRatio,
                'UWR': fuzz.UWRatio, 
                'UQR': fuzz.UQRatio }

def scorerTesterFunction(x):
    testDF = pd.DataFrame()
    testDF['NamesToCheck'] = checkDF['BreweryName']
    
    actualName = []
    similarity = []
    
    for i in testDF['NamesToCheck']:
        ratio = process.extract(i, actualDF['Brewery_Name'], limit=1,
                               scorer=scorer_dict[x])
        actualName.append(ratio[0][0])
        similarity.append(ratio[0][1])
        
        testDF[x+'Name'] = pd.Series(actualName)
        testDF[x+'Score'] = pd.Series(similarity)
        
    print('Average Score: {0:.2f}'.format(testDF[x+'Score'].mean()))
        
    return testDF.sort_values(x+'Score', ascending=False)

In [298]:
# scorerTesterFunction('R')

R - Just 1:
* The Brewery at Divots

In [297]:
# scorerTesterFunction('TSeR')

TSeR: 100%

In [300]:
scorerTesterFunction('TSoR')

Average Score: 91.74

,NamesToCheck,TSoRName,TSoRScore
0,Catalyst Brewing Company,Catalyst Brewing Company,100
16,Flyover Brewing Company,Flyover Brewing Company,100
43,White Elm Brewing Company,White Elm Brewing Company,100
41,Upstream Brewing Company,Upstream Brewing Company,100
40,Thunderhead Brewing Company,Thunderhead Brewing Company,100
39,Thunderhead Brewing Company,Thunderhead Brewing Company,100
34,Scratchtown Brewing Company,Scratchtown Brewing Company,100
32,Prairie Pride Brewing Company,Prairie Pride Brewing Company,100
31,Platte Valley Brewery,Platte Valley Brewery,100
30,Pals Brewing Company,Pals Brewing Company,100
29,Nebraska Brewing Company,Nebraska Brewing Company,100
27,Lost Way Brewery,Lost Way Brewery,100
24,Kinkaider Brewing Company,Kinkaider Brewing Company,100
1,Backswing Brewing Co.,Backswing Brewing Co.,100
21,Infusion Brewing Company,Infusion Brewing Company,100
20,Infusion Brewing Company,Infusion Brewing Company,100
23,Johnnie Byrd Brewing Company,Johnnie Byrd Brewing Company,100
8,Hanging Horseshoe Brewing Company,Hanging Horseshoe Brewing Company,100
15,First Street Brewing Company,First Street Brewing Company,100
14,Farnam House Brewing Company,Farnam House Brewing Company,100
2,Benson Brewery,Benson Brewery,100
12,Empyrean Brewing Company,Empyrean Brewing Company,100
6,Bottle Rocket Brewing Company,Bottle Rocket Brewing Company,100
3,Boiler Brewing Company,Boiler Brewing Company,100
4,Bolo Beer Co,Bolo Beer Co.,100
10,Code Beer Company,Code Beer Company,100
9,Brush Creek Brewing Company,Brush Creek Brewing Company,100
13,Fairfield Opera House Brewery and Grill,Fairfield Opera House Brewery & Grill,95
5,Bootleg Brewers / Sandhills Brewing Company,"Bootleg Brewers, Sandhills Brewing Co.",94
7,Brickway Brewery and Distillery,Brickway Brewery & Distillery,93
28,Lucky Bucket Brewing Co,Lucky Bucket Brewing Company,90
42,Vis Major Brewing Co.,Vis Major Brewing Company,89
44,Zipline Brewing Company,Zipline Brewing Co.,88
37,Steeple Brewing Company,Steeple Brewing Co.,88
45,Zipline Brewing Company,Zipline Brewing Co.,88
19,Granite City Food and Brewery - Omaha,Granite City Food & Brewery,83
11,Cosmic Eye Brewing Company,Cosmic Eye Brewing,82
35,Scriptown Brewing,Scriptown Brewing Company,81
18,Granite City Food and Brewery - Lincoln,Granite City Food & Brewery,81
38,The Brewery at Divots,Divots Brewery,80
17,Gottberg Brewpub,Gottberg Brew Pub,79
26,Loop Brewing,Loop Brewing Company,75
25,Lazy Horse Vineyard and Brewery,Lazy Horse Brewing & Winery,71
36,Soaring Wings,Soaring Wings Vineyard & Brewing,60
33,Schilling Bridge Winery and Microbrewery,Schillingbridge Brewing Company,56
22,Jaipur Restaurant and Brewpub,Jaipur Brewing Company,47

#### Works for both data sets:
Scratch that, csv set: Code Beer -> Bolo 
 TSoR: 100%

In [295]:
# scorerTesterFunction('QR')

QR:
* The Brewery at Divots

In [294]:
# scorerTesterFunction('UQR')

UQR:
* The Brewery at Divots

In [ ]:
checkDF = apiData.copy()
actualDF = webData.copy()

testDF = pd.DataFrame()
testDF['NamesToCheck'] = checkDF['BreweryName']

actualName = []
similarity = []

for i in testDF['NamesToCheck']:
    ratio = process.extract(i, actualDF['Brewery_Name'], limit=1, 
                            scorer=fuzz.token_sort_ratio) # TSoR worked for both
    actualName.append(ratio[0][0])
    similarity.append(ratio[0][1])
    
    testDF['NameMatch'] = pd.Series(actualName)
    testDF['Score'] = pd.Series(similarity)
    
print('Average Score: {0:.2f}'.format(testDF['Score'].mean()))

# testDF.sort_values('Score', ascending=False)

### This part here:

In [345]:
def fuzzyMatch(df, colName, scorer=fuzz.ratio, display=False):
    checkDF = df.copy()
    actualDF = webData.copy()
    testDF = pd.DataFrame()
    testDF['NamesToCheck'] = checkDF[colName]
    
    actualName = []
    similarity = []
    for i in testDF['NamesToCheck']:  # TSoR worked for both data sets-NOPE, IT DIDN'T
        ratio = process.extract(i, actualDF['Brewery_Name'], limit=1, 
                                scorer=scorer) 
        actualName.append(ratio[0][0])
        similarity.append(ratio[0][1])
        testDF['NameMatch'] = pd.Series(actualName)
        testDF['Score'] = pd.Series(similarity)
    
    if display == True:
        print('Average Score: {0:.2f}'.format(testDF['Score'].mean()))
        return testDF.sort_values('Score', ascending=False)
    elif display == False:
        return testDF['NameMatch']

In [350]:
csvData['Brewery_Name'] = fuzzyMatch(csvData, 'Brewery_Name', 
                                     scorer=fuzz.partial_ratio, display=False)

In [353]:
# fuzzyMatch(csvData, 'Brewery_Name', scorer=fuzz.partial_ratio, display=True)

In [352]:
apiData['BreweryName'] = fuzzyMatch(apiData, 'BreweryName', 
                                    scorer=fuzz.token_sort_ratio, display=False)

In [354]:
# fuzzyMatch(apiData, 'BreweryName', scorer=fuzz.token_sort_ratio, display=True)

In [320]:
csvData.Brewery_Name

0                           Backswing Brewing Co.
1                                  Benson Brewery
2                          Boiler Brewing Company
3                                    Bolo Beer Co
4     Bootleg Brewers - Sandhills Brewing Company
5                        Bottle Rocket Brewing Co
6                 Brickway Brewery and Distillery
7                     Brush Creek Brewing Company
8                                   Code Beer Co.
9                                  Divots Brewery
10                            Empyrean Brewing Co
11                  Fairfield Opera House Brewery
12                   Farnam House Brewing Company
13                           First Street Brewing
14                              Gottberg Brew Pub
15              Granite City Food & Brewery (#16)
16               Granite City Food & Brewery (#7)
17              Hanging Horseshoe Brewing Company
18                       Infusion Brewing Company
19                       Infusion Brewing Company
20                  Jaipur Restaurant and Brewpub
21                   Johnnie Byrd Brewing Company
22                           Kinkaider Brewing Co
23                    Kros Strain Brewing Company
24                             Lazy Horse Brewing
25                                Loop Brewing Co
26                               Lost Way Brewery
27                        Lucky Bucket Brewing Co
28                 Nebraska Brewing Co - La Vista
29                Nebraska Brewing Co - Papillion
30                           Pals Brewing Company
31                          Prairie Pride Brewery
32          SchillingBridge Winery & Microbrewery
33                    Scratchtown Brewing Company
34                      Scriptown Brewing Company
35                          Soaring Wings Brewing
36                             Steeple Brewing Co
37                         Thunderhead Brewing Co
38                       Upstream Brewing Co (#1)
39                           Vis Major Brewing Co
40                           White Elm Brewing Co
41                             Zipline Brewing Co
Name: Brewery_Name, dtype: object

In [355]:
csvData.shape

(42, 13)

In [356]:
webData.shape

(55, 9)

In [357]:
apiData.shape

(46, 16)

### More with Addresses: (get rid of Suites)

In [429]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pandas_usaddress.tag(df, [colName], granularity='single', standardize=True) 
    df[colName] = tempDF.SingleLine.str.title()

In [430]:
testDF = csvData.copy()

In [537]:
# standardizeAddress(testDF, 'Street_Address')
# testDF.Street_Address

In [432]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pandas_usaddress.tag(df, [colName], granularity='low', standardize=True) 
    df[colName] = tempDF.StreetTag.str.title()

In [433]:
testDF = csvData.copy()

In [441]:
# standardizeAddress(testDF, 'Street_Address')
# testDF.Street_Address

In [435]:
testDF = apiData.copy()

In [439]:
standardizeAddress(testDF, 'StreetAddress')
# testDF.StreetAddress

In [455]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pandas_usaddress.tag(df, [colName], granularity='medium', standardize=True) 
    df[colName] = tempDF.OccupancySuite.str.title()

In [504]:
testDF = csvData.copy()

In [505]:
standardizeAddress(testDF, 'Street_Address')
testDF.Street_Address.head()

0    Ste 8
1      NaN
2    Ste 8
3      NaN
4      NaN
Name: Street_Address, dtype: object

In [506]:
testDF = apiData.copy()

In [507]:
standardizeAddress(testDF, 'StreetAddress')
testDF.StreetAddress.head()

0        NaN
1          8
2        NaN
3    Suite 8
4        NaN
Name: StreetAddress, dtype: object

In [463]:
df = pd.DataFrame()

In [464]:
df['StreetAddress'] = apiData['StreetAddress']

In [465]:
df['Suffix'] = testDF.StreetAddress

In [467]:
dfCopy = df.copy()

In [494]:
df.head()

           StreetAddress   Suffix
0        5730 Hidcote Dr      NaN
1       500 W South St 8        8
2          6059 Maple St      NaN
3  129 N 10Th St Suite 8  Suite 8
4           420 E 1St St      NaN

In [491]:
# df['StreetAddress'].map(lambda x: x.rstrip(df['Suffix']))
for i in range(len(df.StreetAddress)):
#     print(df.StreetAddress[i])
    if df.Suffix[i] == 'NaN':
        pass
    else:
        try:
            df.StreetAddress[i].str.rstrip(df.Suffix[i])
        except:
            df.StreetAddress[i].rstrip(str(df.Suffix[i])

SyntaxError: unexpected EOF while parsing (<ipython-input-491-e0e1bddb3d58>, line 10)

In [500]:
for i in range(len(df.StreetAddress)):
    df['test'][i] = df.StreetAddress[i].rstrip(str(df.Suffix[i]))

In [502]:
df.head()

           StreetAddress   Suffix             test
0        5730 Hidcote Dr      NaN  5730 Hidcote Dr
1       500 W South St 8        8  500 W South St
2          6059 Maple St      NaN    6059 Maple St
3  129 N 10Th St Suite 8  Suite 8       129 N 10Th
4           420 E 1St St      NaN     420 E 1St St

In [503]:
# df['StreetAddress'].str.rstrip(df['Suffix'])

In [429]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pandas_usaddress.tag(df, [colName], granularity='single', standardize=True) 
    df[colName] = tempDF.SingleLine.str.title()

In [455]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pandas_usaddress.tag(df, [colName], granularity='medium', standardize=True) 
    df[colName] = tempDF.OccupancySuite.str.title()

In [518]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pd.DataFrame()
    addressDF = pd.DataFrame()
    
    tempDF = pandas_usaddress.tag(df, [colName], granularity='single', standardize=True) 
    addressDF['Address'] = tempDF.SingleLine.str.title()
    tempDF = pandas_usaddress.tag(df, [colName], granularity='medium', standardize=True) 
    addressDF['Suffix'] = tempDF.OccupancySuite.str.title()
    
    for i in range(len(addressDF.Address)):
        addressDF['Address'][i] = addressDF.Address[i].rstrip(str(addressDF.Suffix[i])).strip()
        
    df[colName] = addressDF['Address']

In [527]:
testDF2 = pd.DataFrame()

In [524]:
testDF = apiData.copy()

In [525]:
testDF.StreetAddress.head()

0          5730 Hidcote Dr
1         500 W South St 8
2            6059 Maple St
3    129 N 10Th St Suite 8
4             420 E 1St St
Name: StreetAddress, dtype: object

In [528]:
testDF2['Before'] = testDF.StreetAddress

In [529]:
standardizeAddress(testDF, 'StreetAddress')

In [535]:
testDF.StreetAddress.head()

0    5730 Hidcote Dr
1     500 W South St
2      6059 Maple St
3         129 N 10Th
4       420 E 1St St
Name: StreetAddress, dtype: object

In [531]:
testDF2['After'] = testDF.StreetAddress

In [534]:
testDF2.head()

                  Before            After
0        5730 Hidcote Dr  5730 Hidcote Dr
1       500 W South St 8   500 W South St
2          6059 Maple St    6059 Maple St
3  129 N 10Th St Suite 8       129 N 10Th
4           420 E 1St St     420 E 1St St

In [50]:
testDF = csvData.copy()

In [61]:
csvData['Street_Address'] = csvData['Street_Address'].str.replace(' Blackstone District', '')

In [64]:
csvData['Street_Address'] = csvData['Street_Address'].str.replace('500 W South', '500 W South St')

In [66]:
testDF = apiData.copy()

In [69]:
apiData['StreetAddress'] = apiData['StreetAddress'].str.replace('710Th Rd', '62193 710Th Rd')

In [71]:
testDF.StreetAddress.head()

0    5730 Hidcote Dr
1     500 W South St
2      6059 Maple St
3         129 N 10Th
4       420 E 1St St
Name: StreetAddress, dtype: object

# Add Lat / Lon?

# SQL DB JOIN

Let's get a fresh start:

# Load data into an SQL database, each as an individual table.

In [124]:
import pandas as pd
import sqlite3

In [125]:
# Load the previously cleaned data from CSV files:
csvData = pd.read_csv("CSV_nebraskaCleaned.csv")
webData = pd.read_csv("WEB_NEbeerReddit.csv")
apiData = pd.read_csv("API_beerMapping.csv")

## First, a little extra cleaning

#### Replace spaces in column names with underscores:

In [126]:
def colSpaceToUnderscore(df):
    '''Replaces spaces with underscores in the column names of a DataFrame'''
    newCols = []
    for c in df.columns:
        newCols.append(c.replace(' ', '_'))
    df.columns = newCols
    print(f"New column names:\n{df.columns}")

In [127]:
colSpaceToUnderscore(csvData)
colSpaceToUnderscore(webData)
colSpaceToUnderscore(apiData)

New column names:
Index(['Brewery_ID', 'Brewery_Name', 'Type_of_Brewery', 'Street_Address',
       'City', 'State', 'Postal_Code', '5-digit_Zip', 'Website', 'Phone',
       'Longitude', 'Latitude'],
      dtype='object')
New column names:
Index(['Brewery_Name', 'City', 'State', 'Type_of_Brewery',
       'Type_of_Distribution', 'Notes', '#_Locations', 'Locations'],
      dtype='object')
New column names:
Index(['BreweryID', 'BreweryName', 'Type', 'ReviewLink', 'ProxyLink', 'Map',
       'StreetAddress', 'City', 'State', 'Zip', 'Country', 'PhoneNum',
       'Website', 'Rating', 'ImageCount'],
      dtype='object')

#### Make street addresses a uniform format:

In [128]:
import pandas_usaddress

def standardizeAddress(df, colName):
    '''Creates street address uniformity and makes Title Case;
    Replaces existing street address column.'''
    tempDF = pd.DataFrame()
    addressDF = pd.DataFrame()
    
    tempDF = pandas_usaddress.tag(df, [colName], granularity='single', standardize=True) 
    addressDF['Address'] = tempDF.SingleLine.str.title()
    tempDF = pandas_usaddress.tag(df, [colName], granularity='medium', standardize=True) 
    addressDF['Suffix'] = tempDF.OccupancySuite.str.title()
    
    for i in range(len(addressDF.Address)):
        addressDF['Address'][i] = addressDF.Address[i].rstrip(str(addressDF.Suffix[i])).strip()
        
    df[colName] = addressDF['Address']

In [129]:
standardizeAddress(csvData, 'Street_Address')
standardizeAddress(apiData, 'StreetAddress')

In [130]:
# A few manual fixes:
csvData['Street_Address'] = csvData['Street_Address'].str.replace(' Blackstone District', '')
csvData['Street_Address'] = csvData['Street_Address'].str.replace('500 W South', '500 W South St')
apiData['StreetAddress'] = apiData['StreetAddress'].str.replace('710Th Rd', '62193 710Th Rd')
csvData.State = 'NE'
webData.State = 'NE'

#### Add a column for consolidating Omaha suburbs:
https://en.wikipedia.org/wiki/Neighborhoods_of_Omaha,_Nebraska

In [131]:
import requests
# Use table from Wikipedia page to generage a list of suburbs:
url = "https://en.wikipedia.org/wiki/Neighborhoods_of_Omaha,_Nebraska"
listOfTables = pd.read_html(url)
omahaSubsDF = listOfTables[1]
omahaSubs = list(omahaSubsDF['Neighborhoods in Omaha alphabetical order'][1:])
# omahaSubs.extend(['Omaha', 'LaVista'])  # Add a couple

In [132]:
def fixCitySpacing(df):
    df['City'].replace('Mc Cook', 'McCook', inplace=True)
    df['City'].replace('LaVista', 'La Vista', inplace=True)

In [133]:
fixCitySpacing(csvData)
fixCitySpacing(webData)
fixCitySpacing(apiData)

In [134]:
def omahaSuburbs(df, colName):
    '''Creates a copy of the City column and converts any locations 
    found in the list of Omaha suburbs to "Omaha"'''
    df['Central_City'] = df[colName]
    df.loc[(df['Central_City'].isin(omahaSubs) == True), 'Central_City'] = "Omaha"

In [135]:
omahaSuburbs(csvData, 'City')
omahaSuburbs(webData, 'City')
omahaSuburbs(apiData, 'City')

#### Standardize phone numbers:

In [136]:
import phonenumbers as pn
import numpy as np

def fixPhoneNums(df, colName):
    '''Attempts to convert each phone number to a standardized format and add
    to a list, adding NaN if it fails. Assigns the list back to the DF column.'''
    phList = []
    for i in range(len(df[colName])):
        try:
            phList.append(pn.format_number(pn.parse(df[colName][i], 'US'), 
                                           pn.PhoneNumberFormat.NATIONAL))
        except:
            phList.append(np.nan)
    df[colName] = phList

In [137]:
fixPhoneNums(apiData, 'PhoneNum')

#### Standardize Brewery Names:

In [138]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

def fuzzyMatch(df, colName, scorer=fuzz.ratio, display=False):
    '''Fuzzy matches a column of brewery names against a standard set of names.
    `display=True`  returns a DF comparing old with new names plus a score.
    `display=False` returns a Series of the corrected names.'''
    checkDF = df.copy()
    actualDF = webData.copy()
    testDF = pd.DataFrame()
    testDF['NamesToCheck'] = checkDF[colName]
    
    actualName = []
    similarity = []
    for i in testDF['NamesToCheck']:
        ratio = process.extract(i, actualDF['Brewery_Name'], 
                                limit=1, scorer=scorer) 
        actualName.append(ratio[0][0])
        similarity.append(ratio[0][1])
        testDF['NameMatch'] = pd.Series(actualName)
        testDF['Score'] = pd.Series(similarity)
    
    if display == True:
        print('Average Score: {0:.2f}'.format(testDF['Score'].mean()))
        return testDF.sort_values('Score', ascending=False)
    elif display == False:
        return testDF['NameMatch']

In [139]:
csvData['Brewery_Name'] = fuzzyMatch(csvData, 'Brewery_Name', 
                                     fuzz.partial_ratio, display=False)

In [140]:
apiData['BreweryName'] = fuzzyMatch(apiData, 'BreweryName', 
                                    fuzz.token_sort_ratio, display=False)

#### Drop Granite City:

In [141]:
def removeGC(df, colName):
    df = df[df[colName] != 'Granite City Food & Brewery']
    return df

In [142]:
csvData = removeGC(csvData, 'Brewery_Name')
webData = removeGC(webData, 'Brewery_Name')
apiData = removeGC(apiData, 'BreweryName')

#### Fix an incorrect zip code:

In [211]:
apiData.loc[apiData['BreweryName'] == 'Code Beer Company', ['Zip']] = 68510

## Load DataFrames into an SQL Database

In [215]:
# Load data into an SQL database, each as an individual table:
with sqlite3.connect('DBTest2.db') as conn:
    cursor = conn.cursor()
    csvData.to_sql('csvtable', conn, if_exists='replace', index=False)
    webData.to_sql('webtable', conn, if_exists='replace', index=False)
    apiData.to_sql('apitable', conn, if_exists='replace', index=False)

In [216]:
res = conn.execute('''SELECT name FROM sqlite_master WHERE type='table';''')
tableList = []
for name in res:
    print(name[0])
    tableList.append(name[0])

brewAddress
csvtable
webtable
apitable

## Now on to the JOIN stuff

In [145]:
with sqlite3.connect('DBTest2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    sql = """
        SELECT
          webtable.Brewery_Name,
          webtable.City,
          csvtable.City,
          apitable.City
        FROM webtable
        LEFT JOIN csvtable
          ON webtable.Brewery_Name = csvtable.Brewery_Name
        LEFT JOIN apitable
          ON webtable.Brewery_Name = apitable.BreweryName;
    """
#     rows = cursor.execute(sql)
#     for row in rows:
#         print(row)

In [146]:
columns = ['Brewery', 'City']
data = []

with sqlite3.connect('DBTest2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    sql = """
        SELECT Brewery_Name, City
        FROM webtable
        UNION
        SELECT BreweryName, City
        FROM apitable
        UNION
        SELECT Brewery_Name, City
        FROM csvtable;
    """
    rows = cursor.execute(sql)
    for row in rows:
#         print(row)
        data.append(row)

In [147]:
# data

In [148]:
allBreweriesDF = pd.DataFrame(data, columns=columns)

In [149]:
allBreweriesDF.tail()

                      Brewery     City
53   Upstream Brewing Company    Omaha
54  Vis Major Brewing Company    Omaha
55  White Elm Brewing Company  Lincoln
56        Zipline Brewing Co.  Lincoln
57        Zipline Brewing Co.    Omaha

In [155]:
columns = ['Brewery', 'Address', 'City', 'State', 'Zip']
data = []

with sqlite3.connect('DBTest2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    sql = """
        SELECT BreweryName, StreetAddress, City, State, Zip
        FROM apitable
        UNION
        SELECT Brewery_Name, Street_Address, City, State, `5-digit_Zip`
        FROM csvtable;
    """
    rows = cursor.execute(sql)
    for row in rows:
#         print(row)
        data.append(row)

In [156]:
brewsWithAddress = pd.DataFrame(data, columns=columns)

In [157]:
brewsWithAddress

,Brewery,Address,City,State,Zip
0,Backswing Brewing Co.,500 W South St,Lincoln,NE,68522
1,Benson Brewery,6059 Maple St,Omaha,NE,68104
2,Boiler Brewing Company,129 N 10Th,Lincoln,NE,68508
3,Bolo Beer Co.,420 E 1St St,Valentine,NE,69201
4,"Bootleg Brewers, Sandhills Brewing Co.",45145 829Th Rd,Taylor,NE,68879
5,Bottle Rocket Brewing Company,230 S 5Th St,Seward,NE,68434
6,Brickway Brewery & Distillery,1116 Jackson St,Omaha,NE,68102
7,Brush Creek Brewing Company,102 N Main St,Atkinson,NE,68713
8,Catalyst Brewing Company,5730 Hidcote Dr,Lincoln,NE,68516
9,Code Beer Company,200 S Antelope Valley Pkwy,Lincoln,NE,68508
10,Code Beer Company,200 S Antelope Valley Pkwy,Lincoln,NE,68510
11,Cosmic Eye Brewing,6800 P St,Lincoln,NE,68505
12,Divots Brewery,4200 W Norfolk Ave,Norfolk,NE,68701
13,Empyrean Brewing Company,729 Q St,Lincoln,NE,68508
14,Fairfield Opera House Brewery & Grill,415 N D St,Fairfield,NE,68938
15,Farnam House Brewing Company,3558 Farnam St,Omaha,NE,68131
16,First Street Brewing Company,119 N St Joseph Ave,Hastings,NE,68901
17,Flyover Brewing Company,1824 Broadway,Scottsbluff,NE,69361
18,Gottberg Brew Pub,2804 13Th St,Columbus,NE,68601
19,Hanging Horseshoe Brewing Company,73892 332Nd Ave,Imperial,NE,69033
20,Infusion Brewing Company,6115 Maple St,Omaha,NE,68104
21,Infusion Brewing Company,6271 S 118Th St,Omaha,NE,68137
22,Jaipur Brewing Company,10922 Elm St,Omaha,NE,68144
23,Johnnie Byrd Brewing Company,121 N Pearl St,Wayne,NE,68787
24,Kinkaider Brewing Company,43860 Paulsen Rd,Broken Bow,NE,68822
25,Kros Strain Brewing Company,10411 Portal Rd,La Vista,NE,68128
26,Lazy Horse Brewing & Winery,211 Rd 20Th,Ohiowa,NE,68416
27,Loop Brewing Company,404 W A St,McCook,NE,69001
28,Lost Way Brewery,614 3Rd Ave,Holdrege,NE,68949
29,Lucky Bucket Brewing Company,11941 Centennial Rd,La Vista,NE,68128
30,Nebraska Brewing Company,6950 S 108Th St,La Vista,NE,68128
31,Nebraska Brewing Company,7474 Towne Center Pkwy,Papillion,NE,68046
32,Pals Brewing Company,4520 S Buffalo Bill Ave,North Platte,NE,69101
33,Platte Valley Brewery,14 E Railroad,Kearney,NE,68847
34,Prairie Pride Brewing Company,115 S Front St,Grand Island,NE,68801
35,Schillingbridge Brewing Company,62193 710Th Rd,Pawnee City,NE,68420
36,Scratchtown Brewing Company,141 S 16Th St,Ord,NE,68862
37,Scriptown Brewing Company,3922 Farnam St,Omaha,NE,68131
38,Soaring Wings Vineyard & Brewing,17111 S 138Th St,Springfield,NE,68059
39,Steeple Brewing Co.,717 W 1St St,Hastings,NE,68901
40,Thunderhead Brewing Company,18 E 21St St,Kearney,NE,68847
41,Thunderhead Brewing Company,201 Ave F,Axtell,NE,68924
42,Upstream Brewing Company,514 S 11Th St,Omaha,NE,68102
43,Vis Major Brewing Company,3501 Center St,Omaha,NE,68105
44,White Elm Brewing Company,2717 S 8Th St,Lincoln,NE,68502
45,White Elm Brewing Company,720 Van Dorn St,Lincoln,NE,68502
46,Zipline Brewing Co.,2100 Magnum Cir,Lincoln,NE,68522
47,Zipline Brewing Co.,721 N 14Th St,Omaha,NE,68102

In [159]:
# columns = ['Brewery', 'Address', 'City', 'State', 'Zip']
# data = []

with sqlite3.connect('DBTest2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    sql = """
        CREATE TABLE brewAddress (
            Brewery varchar(255),
            Address varchar(255),
            City varchar(255),
            State varchar(255),
            Zip varchar(255)
            ) AS
        (SELECT BreweryName, StreetAddress, City, State, Zip
        FROM apitable
        UNION
        SELECT Brewery_Name, Street_Address, City, State, `5-digit_Zip`
        FROM csvtable);
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)
#         data.append(row)

OperationalError: near "AS": syntax error

Creates a new table with Name, Address, City, State, Zip from api and csv

In [217]:
# This throws an error, but at least it deletes the table
# cursor.execute("PRAGMA foreign_keys = OFF") 
pd.read_sql_query("DROP TABLE brewAddress", conn)

TypeError: 'NoneType' object is not iterable

In [218]:
# columns = ['Brewery', 'Address', 'City', 'State', 'Zip']
# data = []

with sqlite3.connect('DBTest2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    sql = """
        CREATE TABLE brewAddress AS
            SELECT BreweryName, StreetAddress, City, State, Zip
                FROM apitable
            UNION
            SELECT Brewery_Name, Street_Address, City, State, `5-digit_Zip`
                FROM csvtable;
    """
    cursor.execute(sql)
    
#     rows = cursor.execute(sql)
#     for row in rows:
#         print(row)
# #         data.append(row)

In [221]:
pd.read_sql_query("SELECT * FROM brewAddress", conn)

,BreweryName,StreetAddress,City,State,Zip
0,Backswing Brewing Co.,500 W South St,Lincoln,NE,68522
1,Benson Brewery,6059 Maple St,Omaha,NE,68104
2,Boiler Brewing Company,129 N 10Th,Lincoln,NE,68508
3,Bolo Beer Co.,420 E 1St St,Valentine,NE,69201
4,"Bootleg Brewers, Sandhills Brewing Co.",45145 829Th Rd,Taylor,NE,68879
5,Bottle Rocket Brewing Company,230 S 5Th St,Seward,NE,68434
6,Brickway Brewery & Distillery,1116 Jackson St,Omaha,NE,68102
7,Brush Creek Brewing Company,102 N Main St,Atkinson,NE,68713
8,Catalyst Brewing Company,5730 Hidcote Dr,Lincoln,NE,68516
9,Code Beer Company,200 S Antelope Valley Pkwy,Lincoln,NE,68510
10,Cosmic Eye Brewing,6800 P St,Lincoln,NE,68505
11,Divots Brewery,4200 W Norfolk Ave,Norfolk,NE,68701
12,Empyrean Brewing Company,729 Q St,Lincoln,NE,68508
13,Fairfield Opera House Brewery & Grill,415 N D St,Fairfield,NE,68938
14,Farnam House Brewing Company,3558 Farnam St,Omaha,NE,68131
15,First Street Brewing Company,119 N St Joseph Ave,Hastings,NE,68901
16,Flyover Brewing Company,1824 Broadway,Scottsbluff,NE,69361
17,Gottberg Brew Pub,2804 13Th St,Columbus,NE,68601
18,Hanging Horseshoe Brewing Company,73892 332Nd Ave,Imperial,NE,69033
19,Infusion Brewing Company,6115 Maple St,Omaha,NE,68104
20,Infusion Brewing Company,6271 S 118Th St,Omaha,NE,68137
21,Jaipur Brewing Company,10922 Elm St,Omaha,NE,68144
22,Johnnie Byrd Brewing Company,121 N Pearl St,Wayne,NE,68787
23,Kinkaider Brewing Company,43860 Paulsen Rd,Broken Bow,NE,68822
24,Kros Strain Brewing Company,10411 Portal Rd,La Vista,NE,68128
25,Lazy Horse Brewing & Winery,211 Rd 20Th,Ohiowa,NE,68416
26,Loop Brewing Company,404 W A St,McCook,NE,69001
27,Lost Way Brewery,614 3Rd Ave,Holdrege,NE,68949
28,Lucky Bucket Brewing Company,11941 Centennial Rd,La Vista,NE,68128
29,Nebraska Brewing Company,6950 S 108Th St,La Vista,NE,68128
30,Nebraska Brewing Company,7474 Towne Center Pkwy,Papillion,NE,68046
31,Pals Brewing Company,4520 S Buffalo Bill Ave,North Platte,NE,69101
32,Platte Valley Brewery,14 E Railroad,Kearney,NE,68847
33,Prairie Pride Brewing Company,115 S Front St,Grand Island,NE,68801
34,Schillingbridge Brewing Company,62193 710Th Rd,Pawnee City,NE,68420
35,Scratchtown Brewing Company,141 S 16Th St,Ord,NE,68862
36,Scriptown Brewing Company,3922 Farnam St,Omaha,NE,68131
37,Soaring Wings Vineyard & Brewing,17111 S 138Th St,Springfield,NE,68059
38,Steeple Brewing Co.,717 W 1St St,Hastings,NE,68901
39,Thunderhead Brewing Company,18 E 21St St,Kearney,NE,68847
40,Thunderhead Brewing Company,201 Ave F,Axtell,NE,68924
41,Upstream Brewing Company,514 S 11Th St,Omaha,NE,68102
42,Vis Major Brewing Company,3501 Center St,Omaha,NE,68105
43,White Elm Brewing Company,2717 S 8Th St,Lincoln,NE,68502
44,White Elm Brewing Company,720 Van Dorn St,Lincoln,NE,68502
45,Zipline Brewing Co.,2100 Magnum Cir,Lincoln,NE,68522
46,Zipline Brewing Co.,721 N 14Th St,Omaha,NE,68102

In [162]:
# GET LIST OF TABLES IN THE DATABASE
res = conn.execute('''SELECT name FROM sqlite_master WHERE type='table';''')
tableList = []
for name in res:
    print(name[0])
    tableList.append(name[0])

csvtable
webtable
apitable
brewAddress

In [165]:
columns = ['Brewery', 'Address', 'City', 'State', 'Zip']
data = []

res = conn.execute('''SELECT * FROM brewAddress''')
for row in res:
#     print(row)
    data.append(row)
    
brewsWithAddress = pd.DataFrame(data, columns=columns)
brewsWithAddress.head()

,Brewery,Address,City,State,Zip
0,Backswing Brewing Co.,500 W South St,Lincoln,NE,68522
1,Benson Brewery,6059 Maple St,Omaha,NE,68104
2,Boiler Brewing Company,129 N 10Th,Lincoln,NE,68508
3,Bolo Beer Co.,420 E 1St St,Valentine,NE,69201
4,"Bootleg Brewers, Sandhills Brewing Co.",45145 829Th Rd,Taylor,NE,68879

## This stuff is neat / useful

https://medium.com/jbennetcodes/how-to-use-pandas-to-access-databases-e4e74e6a329e

In [167]:
from sqlalchemy import create_engine

In [170]:
# pd.read_sql_query('show tables', conn)

In [172]:
pd.read_sql_query('select count(*) from apiTable', conn)

   count(*)
0        44

In [222]:
pd.read_sql_query('select count(*) from brewAddress', conn)

   count(*)
0        47

In [173]:
pd.read_sql_query('select * from apiTable limit 5', conn)

,BreweryID,BreweryName,Type,ReviewLink,ProxyLink,Map,StreetAddress,City,State,Zip,Country,PhoneNum,Website,Rating,ImageCount,Central_City
0,21938,Catalyst Brewing Company,Brewery,https://beermapping.com/location/21938,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,5730 Hidcote Dr,Lincoln,NE,68516,United States,(402) 875-5588,None,0.0,0,Lincoln
1,19644,Backswing Brewing Co.,Brewery,https://beermapping.com/location/19644,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,500 W South St,Lincoln,NE,68522,United States,(402) 515-4263,facebook.com/BackswingBrewingCo/timeline,0.0,0,Lincoln
2,17706,Benson Brewery,Brewpub,https://beermapping.com/location/17706,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,6059 Maple St,Omaha,NE,68104,United States,(402) 937-1892,bensonbrewery.com,0.0,0,Omaha
3,20376,Boiler Brewing Company,Brewery,https://beermapping.com/location/20376,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,129 N 10Th,Lincoln,NE,68508,United States,(402) 261-8775,boilerbrewingcompany.com,0.0,0,Lincoln
4,20287,Bolo Beer Co.,Brewery,https://beermapping.com/location/20287,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,420 E 1St St,Valentine,NE,69201,United States,None,facebook.com/BoloBeerCo,0.0,0,Valentine

In [176]:
pd.read_sql_query('select BreweryName, StreetAddress, City from apiTable limit 5', conn)

                BreweryName    StreetAddress       City
0  Catalyst Brewing Company  5730 Hidcote Dr    Lincoln
1     Backswing Brewing Co.   500 W South St    Lincoln
2            Benson Brewery    6059 Maple St      Omaha
3    Boiler Brewing Company       129 N 10Th    Lincoln
4             Bolo Beer Co.     420 E 1St St  Valentine

In [177]:
pd.read_sql_query("select BreweryName, StreetAddress, City from apiTable where City='Lincoln'", conn)

                 BreweryName               StreetAddress     City
0   Catalyst Brewing Company             5730 Hidcote Dr  Lincoln
1      Backswing Brewing Co.              500 W South St  Lincoln
2     Boiler Brewing Company                  129 N 10Th  Lincoln
3          Code Beer Company  200 S Antelope Valley Pkwy  Lincoln
4         Cosmic Eye Brewing                   6800 P St  Lincoln
5   Empyrean Brewing Company                    729 Q St  Lincoln
6  White Elm Brewing Company               2717 S 8Th St  Lincoln
7        Zipline Brewing Co.             2100 Magnum Cir  Lincoln

In [181]:
pd.read_sql_query("SELECT webtable.Brewery_Name, webtable.City, csvtable.City, apitable.City "
                  "FROM webtable "
                  "LEFT JOIN csvtable ON webtable.Brewery_Name = csvtable.Brewery_Name "
                  "LEFT JOIN apitable ON webtable.Brewery_Name = apitable.BreweryName "
                  "limit 5;", conn)

                             Brewery_Name       City       City       City
0                   Backswing Brewing Co.    Lincoln    Lincoln    Lincoln
1                          Benson Brewery      Omaha      Omaha      Omaha
2                  Boiler Brewing Company    Lincoln    Lincoln    Lincoln
3                           Bolo Beer Co.  Valentine  Valentine  Valentine
4  Bootleg Brewers, Sandhills Brewing Co.     Taylor     Taylor     Taylor

In [182]:
apiData.memory_usage().sum()

5984

In [191]:
cursor.execute("PRAGMA foreign_keys = OFF") 
pd.read_sql_query("DROP TABLE brewAddress", conn)

TypeError: 'NoneType' object is not iterable

In [190]:
# pd.read_sql_query("DROP TABLE brewAddress", conn)
cursor.execute("PRAGMA foreign_keys = 1") 
pd.read_sql_query("CREATE TABLE brewAddress AS "
                  "SELECT BreweryName, StreetAddress, City, State, Zip "
                  "FROM apitable "
                  "UNION "
                  "SELECT Brewery_Name, Street_Address, City, State, `5-digit_Zip` "
                  "FROM csvtable;", conn)

TypeError: 'NoneType' object is not iterable

In [183]:
 sql = """
        CREATE TABLE brewAddress AS
        SELECT BreweryName, StreetAddress, City, State, Zip
        FROM apitable
        UNION
        SELECT Brewery_Name, Street_Address, City, State, `5-digit_Zip`
        FROM csvtable;
    """
pd.read_sql_query(sql, conn)

DatabaseError: Execution failed on sql '
       CREATE TABLE brewAddress AS
       SELECT BreweryName, StreetAddress, City, State, Zip
       FROM apitable
       UNION
       SELECT Brewery_Name, Street_Address, City, State, `5-digit_Zip`
       FROM csvtable;
   ': table brewAddress already exists

In [229]:
pd.read_sql_query("SELECT webTable.Brewery_Name, brewAddress.BreweryName, brewAddress.StreetAddress, webTable.City, brewAddress.City "
                  "FROM webTable "
                  "LEFT JOIN brewAddress ON webTable.Brewery_Name = brewAddress.BreweryName AND webTable.City = brewAddress.City;", conn)

,Brewery_Name,BreweryName,StreetAddress,City,City
0,Backswing Brewing Co.,Backswing Brewing Co.,500 W South St,Lincoln,Lincoln
1,Benson Brewery,Benson Brewery,6059 Maple St,Omaha,Omaha
2,Boiler Brewing Company,Boiler Brewing Company,129 N 10Th,Lincoln,Lincoln
3,Bolo Beer Co.,Bolo Beer Co.,420 E 1St St,Valentine,Valentine
4,"Bootleg Brewers, Sandhills Brewing Co.","Bootleg Brewers, Sandhills Brewing Co.",45145 829Th Rd,Taylor,Taylor
5,Bottle Rocket Brewing Company,Bottle Rocket Brewing Company,230 S 5Th St,Seward,Seward
6,Brewery 719,None,None,Alliance,None
7,Brickway Brewery & Distillery,Brickway Brewery & Distillery,1116 Jackson St,Omaha,Omaha
8,Brush Creek Brewing Company,Brush Creek Brewing Company,102 N Main St,Atkinson,Atkinson
9,Canyon Lakes Brewing Company,None,None,Johnson Lake,None
10,Catalyst Brewing Company,Catalyst Brewing Company,5730 Hidcote Dr,Lincoln,Lincoln
11,Code Beer Company,Code Beer Company,200 S Antelope Valley Pkwy,Lincoln,Lincoln
12,Cosmic Eye Brewing,Cosmic Eye Brewing,6800 P St,Lincoln,Lincoln
13,Divots Brewery,Divots Brewery,4200 W Norfolk Ave,Norfolk,Norfolk
14,Empyrean Brewing Company,Empyrean Brewing Company,729 Q St,Lincoln,Lincoln
15,Fairfield Opera House Brewery & Grill,Fairfield Opera House Brewery & Grill,415 N D St,Fairfield,Fairfield
16,Farnam House Brewing Company,Farnam House Brewing Company,3558 Farnam St,Omaha,Omaha
17,First Street Brewing Company,First Street Brewing Company,119 N St Joseph Ave,Hastings,Hastings
18,Flyover Brewing Company,Flyover Brewing Company,1824 Broadway,Scottsbluff,Scottsbluff
19,Gottberg Brew Pub,Gottberg Brew Pub,2804 13Th St,Columbus,Columbus
20,Hanging Horseshoe Brewing Company,Hanging Horseshoe Brewing Company,73892 332Nd Ave,Imperial,Imperial
21,Hwy 14 Brewing Company,None,None,Albion,None
22,Infusion Brewing Company,None,None,Benson,None
23,Jaipur Brewing Company,Jaipur Brewing Company,10922 Elm St,Omaha,Omaha
24,Johnnie Byrd Brewing Company,Johnnie Byrd Brewing Company,121 N Pearl St,Wayne,Wayne
25,Jukes Ale Works,None,None,Elkhorn,None
26,Kinkaider Brewing Company,Kinkaider Brewing Company,43860 Paulsen Rd,Broken Bow,Broken Bow
27,Kros Strain Brewing Company,Kros Strain Brewing Company,10411 Portal Rd,La Vista,La Vista
28,Lazy Horse Brewing & Winery,Lazy Horse Brewing & Winery,211 Rd 20Th,Ohiowa,Ohiowa
29,Loop Brewing Company,Loop Brewing Company,404 W A St,McCook,McCook
30,Lost Way Brewery,Lost Way Brewery,614 3Rd Ave,Holdrege,Holdrege
31,Lucky Bucket Brewing Company,Lucky Bucket Brewing Company,11941 Centennial Rd,La Vista,La Vista
32,Mac's Creek Winery & Brewery,None,None,Lexington,None
33,Monolithic Brewing,None,None,Omaha,None
34,Nebraska Brewing Company,Nebraska Brewing Company,6950 S 108Th St,La Vista,La Vista
35,Pals Brewing Company,Pals Brewing Company,4520 S Buffalo Bill Ave,North Platte,North Platte
36,Peg Leg Brewing Company,None,None,North Platte,None
37,Pint Nine Brewing Company,None,None,Papillion,None
38,Platte Valley Brewery,Platte Valley Brewery,14 E Railroad,Kearney,Kearney
39,Prairie Pride Brewing Company,Prairie Pride Brewing Company,115 S Front St,Grand Island,Grand Island
40,Roc Hopper Brewing Company,None,None,Syracuse,None
41,Schillingbridge Brewing Company,Schillingbridge Brewing Company,62193 710Th Rd,Pawnee City,Pawnee City
42,Scratchtown Brewing Company,Scratchtown Brewing Company,141 S 16Th St,Ord,Ord
43,Scriptown Brewing Company,Scriptown Brewing Company,3922 Farnam St,Omaha,Omaha
44,Site-1 Brewing,None,None,Omaha,None
45,Soaring Wings Vineyard & Brewing,Soaring Wings Vineyard & Brewing,17111 S 138Th St,Springfield,Springfield
46,Steeple Brewing Co.,Steeple Brewing Co.,717 W 1St St,Hastings,Hastings
47,Stone Hollow Brewing Company,None,None,Beatrice,None
48,Thunderhead Brewing Company,Thunderhead Brewing Company,18 E 21St St,Kearney,Kearney
49,Upper Room Brewery,None,None,Kearney,None
50,Upstream Brewing Company,Upstream Brewing Company,514 S 11Th St,Omaha,Omaha
51,Vis Major Brewing Company,Vis Major Brewing Company,3501 Center St,Omaha,Omaha
52,White Elm Brewing Company,White Elm Brewing Company,2717 S 8Th St,Lincoln,Lincoln
53,White Elm Brewing Company,White Elm Brewing Company,720 Van Dorn St,Lincoln,Lincoln
54,Zipline Brewing Co.,Zipline Brewing Co.,2100 Magnum Cir,Lincoln,Lincoln

In [231]:
pd.read_sql_query("SELECT webTable.Brewery_Name, brewAddress.StreetAddress, webTable.City, webTable.State, brewAddress.Zip  "
                  "FROM webTable "
                  "LEFT JOIN brewAddress ON webTable.Brewery_Name = brewAddress.BreweryName AND webTable.City = brewAddress.City;", conn)

,Brewery_Name,StreetAddress,City,State,Zip
0,Backswing Brewing Co.,500 W South St,Lincoln,NE,68522.0
1,Benson Brewery,6059 Maple St,Omaha,NE,68104.0
2,Boiler Brewing Company,129 N 10Th,Lincoln,NE,68508.0
3,Bolo Beer Co.,420 E 1St St,Valentine,NE,69201.0
4,"Bootleg Brewers, Sandhills Brewing Co.",45145 829Th Rd,Taylor,NE,68879.0
5,Bottle Rocket Brewing Company,230 S 5Th St,Seward,NE,68434.0
6,Brewery 719,None,Alliance,NE,NaN
7,Brickway Brewery & Distillery,1116 Jackson St,Omaha,NE,68102.0
8,Brush Creek Brewing Company,102 N Main St,Atkinson,NE,68713.0
9,Canyon Lakes Brewing Company,None,Johnson Lake,NE,NaN
10,Catalyst Brewing Company,5730 Hidcote Dr,Lincoln,NE,68516.0
11,Code Beer Company,200 S Antelope Valley Pkwy,Lincoln,NE,68510.0
12,Cosmic Eye Brewing,6800 P St,Lincoln,NE,68505.0
13,Divots Brewery,4200 W Norfolk Ave,Norfolk,NE,68701.0
14,Empyrean Brewing Company,729 Q St,Lincoln,NE,68508.0
15,Fairfield Opera House Brewery & Grill,415 N D St,Fairfield,NE,68938.0
16,Farnam House Brewing Company,3558 Farnam St,Omaha,NE,68131.0
17,First Street Brewing Company,119 N St Joseph Ave,Hastings,NE,68901.0
18,Flyover Brewing Company,1824 Broadway,Scottsbluff,NE,69361.0
19,Gottberg Brew Pub,2804 13Th St,Columbus,NE,68601.0
20,Hanging Horseshoe Brewing Company,73892 332Nd Ave,Imperial,NE,69033.0
21,Hwy 14 Brewing Company,None,Albion,NE,NaN
22,Infusion Brewing Company,None,Benson,NE,NaN
23,Jaipur Brewing Company,10922 Elm St,Omaha,NE,68144.0
24,Johnnie Byrd Brewing Company,121 N Pearl St,Wayne,NE,68787.0
25,Jukes Ale Works,None,Elkhorn,NE,NaN
26,Kinkaider Brewing Company,43860 Paulsen Rd,Broken Bow,NE,68822.0
27,Kros Strain Brewing Company,10411 Portal Rd,La Vista,NE,68128.0
28,Lazy Horse Brewing & Winery,211 Rd 20Th,Ohiowa,NE,68416.0
29,Loop Brewing Company,404 W A St,McCook,NE,69001.0
30,Lost Way Brewery,614 3Rd Ave,Holdrege,NE,68949.0
31,Lucky Bucket Brewing Company,11941 Centennial Rd,La Vista,NE,68128.0
32,Mac's Creek Winery & Brewery,None,Lexington,NE,NaN
33,Monolithic Brewing,None,Omaha,NE,NaN
34,Nebraska Brewing Company,6950 S 108Th St,La Vista,NE,68128.0
35,Pals Brewing Company,4520 S Buffalo Bill Ave,North Platte,NE,69101.0
36,Peg Leg Brewing Company,None,North Platte,NE,NaN
37,Pint Nine Brewing Company,None,Papillion,NE,NaN
38,Platte Valley Brewery,14 E Railroad,Kearney,NE,68847.0
39,Prairie Pride Brewing Company,115 S Front St,Grand Island,NE,68801.0
40,Roc Hopper Brewing Company,None,Syracuse,NE,NaN
41,Schillingbridge Brewing Company,62193 710Th Rd,Pawnee City,NE,68420.0
42,Scratchtown Brewing Company,141 S 16Th St,Ord,NE,68862.0
43,Scriptown Brewing Company,3922 Farnam St,Omaha,NE,68131.0
44,Site-1 Brewing,None,Omaha,NE,NaN
45,Soaring Wings Vineyard & Brewing,17111 S 138Th St,Springfield,NE,68059.0
46,Steeple Brewing Co.,717 W 1St St,Hastings,NE,68901.0
47,Stone Hollow Brewing Company,None,Beatrice,NE,NaN
48,Thunderhead Brewing Company,18 E 21St St,Kearney,NE,68847.0
49,Upper Room Brewery,None,Kearney,NE,NaN
50,Upstream Brewing Company,514 S 11Th St,Omaha,NE,68102.0
51,Vis Major Brewing Company,3501 Center St,Omaha,NE,68105.0
52,White Elm Brewing Company,2717 S 8Th St,Lincoln,NE,68502.0
53,White Elm Brewing Company,720 Van Dorn St,Lincoln,NE,68502.0
54,Zipline Brewing Co.,2100 Magnum Cir,Lincoln,NE,68522.0

In [234]:
pd.read_sql_query("SELECT webTable.Brewery_Name, brewAddress.StreetAddress, webTable.City, webTable.State, brewAddress.Zip, csvTable.Longitude, csvTable.Latitude "
                  "FROM webTable "
                  "LEFT JOIN brewAddress ON webTable.Brewery_Name = brewAddress.BreweryName AND webTable.City = brewAddress.City "
                  "LEFT JOIN csvTable ON webTable.Brewery_Name = csvTable.Brewery_Name AND webTable.City = csvTable.City;", conn)

,Brewery_Name,StreetAddress,City,State,Zip,Longitude,Latitude
0,Backswing Brewing Co.,500 W South St,Lincoln,NE,68522.0,NaN,NaN
1,Benson Brewery,6059 Maple St,Omaha,NE,68104.0,-96.006345,41.284898
2,Boiler Brewing Company,129 N 10Th,Lincoln,NE,68508.0,NaN,NaN
3,Bolo Beer Co.,420 E 1St St,Valentine,NE,69201.0,-100.545728,42.872047
4,"Bootleg Brewers, Sandhills Brewing Co.",45145 829Th Rd,Taylor,NE,68879.0,NaN,NaN
5,Bottle Rocket Brewing Company,230 S 5Th St,Seward,NE,68434.0,-97.097776,40.906296
6,Brewery 719,None,Alliance,NE,NaN,NaN,NaN
7,Brickway Brewery & Distillery,1116 Jackson St,Omaha,NE,68102.0,-95.930905,41.254491
8,Brush Creek Brewing Company,102 N Main St,Atkinson,NE,68713.0,-98.978367,42.531415
9,Canyon Lakes Brewing Company,None,Johnson Lake,NE,NaN,NaN,NaN
10,Catalyst Brewing Company,5730 Hidcote Dr,Lincoln,NE,68516.0,NaN,NaN
11,Code Beer Company,200 S Antelope Valley Pkwy,Lincoln,NE,68510.0,-96.693444,40.812308
12,Cosmic Eye Brewing,6800 P St,Lincoln,NE,68505.0,NaN,NaN
13,Divots Brewery,4200 W Norfolk Ave,Norfolk,NE,68701.0,-97.466386,42.032539
14,Empyrean Brewing Company,729 Q St,Lincoln,NE,68508.0,-96.710543,40.815587
15,Fairfield Opera House Brewery & Grill,415 N D St,Fairfield,NE,68938.0,-98.105887,40.430616
16,Farnam House Brewing Company,3558 Farnam St,Omaha,NE,68131.0,-95.965802,41.257815
17,First Street Brewing Company,119 N St Joseph Ave,Hastings,NE,68901.0,-98.387720,40.584499
18,Flyover Brewing Company,1824 Broadway,Scottsbluff,NE,69361.0,NaN,NaN
19,Gottberg Brew Pub,2804 13Th St,Columbus,NE,68601.0,-97.362127,41.429401
20,Hanging Horseshoe Brewing Company,73892 332Nd Ave,Imperial,NE,69033.0,NaN,NaN
21,Hwy 14 Brewing Company,None,Albion,NE,NaN,NaN,NaN
22,Infusion Brewing Company,None,Benson,NE,NaN,NaN,NaN
23,Jaipur Brewing Company,10922 Elm St,Omaha,NE,68144.0,-96.082394,41.232838
24,Johnnie Byrd Brewing Company,121 N Pearl St,Wayne,NE,68787.0,-97.019150,42.229428
25,Jukes Ale Works,None,Elkhorn,NE,NaN,NaN,NaN
26,Kinkaider Brewing Company,43860 Paulsen Rd,Broken Bow,NE,68822.0,NaN,NaN
27,Kros Strain Brewing Company,10411 Portal Rd,La Vista,NE,68128.0,NaN,NaN
28,Lazy Horse Brewing & Winery,211 Rd 20Th,Ohiowa,NE,68416.0,NaN,NaN
29,Loop Brewing Company,404 W A St,McCook,NE,69001.0,NaN,NaN
30,Lost Way Brewery,614 3Rd Ave,Holdrege,NE,68949.0,-99.372282,40.436852
31,Lucky Bucket Brewing Company,11941 Centennial Rd,La Vista,NE,68128.0,NaN,NaN
32,Mac's Creek Winery & Brewery,None,Lexington,NE,NaN,NaN,NaN
33,Monolithic Brewing,None,Omaha,NE,NaN,NaN,NaN
34,Nebraska Brewing Company,6950 S 108Th St,La Vista,NE,68128.0,-96.081329,41.177205
35,Pals Brewing Company,4520 S Buffalo Bill Ave,North Platte,NE,69101.0,-100.791604,41.122940
36,Peg Leg Brewing Company,None,North Platte,NE,NaN,NaN,NaN
37,Pint Nine Brewing Company,None,Papillion,NE,NaN,NaN,NaN
38,Platte Valley Brewery,14 E Railroad,Kearney,NE,68847.0,NaN,NaN
39,Prairie Pride Brewing Company,115 S Front St,Grand Island,NE,68801.0,-98.340258,40.926754
40,Roc Hopper Brewing Company,None,Syracuse,NE,NaN,NaN,NaN
41,Schillingbridge Brewing Company,62193 710Th Rd,Pawnee City,NE,68420.0,NaN,NaN
42,Scratchtown Brewing Company,141 S 16Th St,Ord,NE,68862.0,-98.929403,41.602530
43,Scriptown Brewing Company,3922 Farnam St,Omaha,NE,68131.0,NaN,NaN
44,Site-1 Brewing,None,Omaha,NE,NaN,NaN,NaN
45,Soaring Wings Vineyard & Brewing,17111 S 138Th St,Springfield,NE,68059.0,NaN,NaN
46,Steeple Brewing Co.,717 W 1St St,Hastings,NE,68901.0,-98.390250,40.584182
47,Stone Hollow Brewing Company,None,Beatrice,NE,NaN,NaN,NaN
48,Thunderhead Brewing Company,18 E 21St St,Kearney,NE,68847.0,-99.080732,40.696652
49,Upper Room Brewery,None,Kearney,NE,NaN,NaN,NaN
50,Upstream Brewing Company,514 S 11Th St,Omaha,NE,68102.0,-95.930841,41.254711
51,Vis Major Brewing Company,3501 Center St,Omaha,NE,68105.0,-95.964461,41.241419
52,White Elm Brewing Company,2717 S 8Th St,Lincoln,NE,68502.0,-96.716713,40.785693
53,White Elm Brewing Company,720 Van Dorn St,Lincoln,NE,68502.0,-96.716713,40.785693
54,Zipline Brewing Co.,2100 Magnum Cir,Lincoln,NE,68522.0,NaN,NaN

In [225]:
pd.read_sql_query("SELECT * FROM brewAddress LIMIT 1", conn)

             BreweryName   StreetAddress     City State    Zip
0  Backswing Brewing Co.  500 W South St  Lincoln    NE  68522

In [226]:
pd.read_sql_query("SELECT * FROM csvTable LIMIT 1", conn)

,Brewery_ID,Brewery_Name,Type_of_Brewery,Street_Address,City,State,Postal_Code,5-digit_Zip,Website,Phone,Longitude,Latitude,Central_City
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,Micro,500 W South St,Lincoln,NE,68522-1744,68522,http://www.backswingbrewing.com,(402) 515-4263,None,None,Lincoln

In [227]:
pd.read_sql_query("SELECT * FROM webTable LIMIT 1", conn)

,Brewery_Name,City,State,Type_of_Brewery,Type_of_Distribution,Notes,#_Locations,Locations,Central_City
0,Backswing Brewing Co.,Lincoln,NE,Micro,On-tap at the brewery and at select locations,Distro planned for 2016,1,Lincoln,Lincoln

In [228]:
pd.read_sql_query("SELECT * FROM apiTable LIMIT 1", conn)

,BreweryID,BreweryName,Type,ReviewLink,ProxyLink,Map,StreetAddress,City,State,Zip,Country,PhoneNum,Website,Rating,ImageCount,Central_City
0,21938,Catalyst Brewing Company,Brewery,https://beermapping.com/location/21938,http://beermapping.com/maps/proxymaps.php?loci...,http://beermapping.com/maps/blogproxy.php?loci...,5730 Hidcote Dr,Lincoln,NE,68516,United States,(402) 875-5588,None,0.0,0,Lincoln