In [1]:
import sqlite3
import pandas as pd

In [11]:
testDF = pd.read_csv('testData.csv')
nebrDF = pd.read_csv('nebraska.csv')

Create the DB:

In [3]:
conn = sqlite3.connect('TestDB.db')
cursor = conn.cursor()

Create the table:

In [4]:
# c.execute('CREATE TABLE IF NOT EXISTS test (Brewery Name, City, State, Type of Brewery, Type of Distribution, Notes, Num Locations, Locations)')
# conn.commit()

Get from pandas DF to SQL:

In [5]:
testDF.to_sql('test', conn, if_exists='replace', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

Take a look:

In [12]:
cursor.execute('''SELECT * FROM test''')

for row in cursor.fetchall()[:5]:
    print(row)

('Backswing Brewing Co.', 'Lincoln', 'Nebraska', 'Micro', 'On-tap at the brewery and at select locations', 'Distro planned for 2016', 1, 'Lincoln')
('Benson Brewery', 'Omaha', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Other beers, locals included, on tap. Omaha Brewing is the parent company', 1, 'Omaha')
('Boiler Brewing Company', 'Lincoln', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Tours posted on FB page', 2, 'Lincoln / Lincoln - South')
('Bolo Beer Co.', 'Valentine', 'Nebraska', 'Taproom', 'On tap at the brewery and select distribution around Omaha', None, 1, 'Valentine')
('Bootleg Brewers, Sandhills Brewing Co.', 'Taylor', 'Nebraska', 'Brewpub', 'Taproom only', 'Steakhouse and lodging available', 1, 'Taylor')

Get a list of the tables:

In [17]:
res = conn.execute('''
    SELECT name FROM sqlite_master WHERE type='table';
''')

for name in res:
    print(name[0])

test
nebr

In [14]:
with sqlite3.connect('TestDB.db') as conn:
    cursor = conn.cursor()
    testDF.to_sql('test', conn, if_exists='replace', index=False)
    nebrDF.to_sql('nebr', conn, if_exists='replace', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [15]:
cursor.execute('''SELECT * FROM test''')

for row in cursor.fetchall()[:5]:
    print(row)

('Backswing Brewing Co.', 'Lincoln', 'Nebraska', 'Micro', 'On-tap at the brewery and at select locations', 'Distro planned for 2016', 1, 'Lincoln')
('Benson Brewery', 'Omaha', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Other beers, locals included, on tap. Omaha Brewing is the parent company', 1, 'Omaha')
('Boiler Brewing Company', 'Lincoln', 'Nebraska', 'Taproom', 'On tap only at the brewery', 'Tours posted on FB page', 2, 'Lincoln / Lincoln - South')
('Bolo Beer Co.', 'Valentine', 'Nebraska', 'Taproom', 'On tap at the brewery and select distribution around Omaha', None, 1, 'Valentine')
('Bootleg Brewers, Sandhills Brewing Co.', 'Taylor', 'Nebraska', 'Brewpub', 'Taproom only', 'Steakhouse and lodging available', 1, 'Taylor')

In [16]:
cursor.execute('''SELECT * FROM nebr''')

for row in cursor.fetchall()[:5]:
    print(row)

('backswing-brewing-co-lincoln', 'Backswing Brewing Co.', 'micro', '500 W South St Ste 8', None, None, 'Lincoln', 'Nebraska', None, '68522-1744', 'http://www.backswingbrewing.com', 4025154263.0, '2018-07-24 01:33:43', '2018-08-11 21:38:14', 'United States', None, None, None)
('barley-boys-brewery-omaha', 'Barley Boys Brewery', 'planning', None, None, None, 'Omaha', 'Nebraska', None, '68144-1922', 'http://www.barleyboysbrewery.com', 4025986096.0, '2018-07-24 01:33:43', '2018-08-11 21:38:14', 'United States', None, None, None)
('benson-brewery-omaha', 'Benson Brewery', 'brewpub', '6059 Maple St', None, None, 'Omaha', 'Nebraska', None, '68104-4050', 'http://www.bensonbrewery.com', 4029348668.0, '2018-07-24 01:33:43', '2018-08-24 00:47:32', 'United States', -96.00634511, 41.28489756, None)
('blue-blood-brewing-company-lincoln', 'Blue Blood Brewing Company', 'brewpub', '925 Robbers Cave Rd', None, None, 'Lincoln', 'Nebraska', None, '68502', 'http://www.bluebloodbrewing.com', 4024772337.0, '2018-07-24 01:33:43', '2018-08-24 00:47:33', 'United States', -96.70701376, 40.77999602, None)
('boiler-brewing-company-lincoln', 'Boiler Brewing Company', 'micro', '129 N 10th St Ste 8', None, None, 'Lincoln', 'Nebraska', None, '68508-3633', 'http://www.boilerbrewingcompany.com', 4022618775.0, '2018-07-24 01:33:43', '2018-08-11 21:38:14', 'United States', None, None, None)