# Scott Breitbach
## Milestone 2: Cleaning / Formatting Flat File Source
## 22-Jan-2021
## DSC540, Weeks 5-6

In [217]:
import pandas as pd
import numpy as np

### Perform at least 5 data transformation and/or cleansing steps to your flat file data.  
For example:  
* Replace Headers
* Format data into a more readable format
* Identify outliers and bad data
* Find duplicates
* Fix casing or inconsistent values
* Conduct Fuzzy Matching  

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

Import CSV file:

In [218]:
df = pd.read_csv('nebraska.csv')
df.head()

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,micro,500 W South St Ste 8,NaN,NaN,Lincoln,Nebraska,NaN,68522-1744,http://www.backswingbrewing.com,4.025154e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN,NaN
1,barley-boys-brewery-omaha,Barley Boys Brewery,planning,NaN,NaN,NaN,Omaha,Nebraska,NaN,68144-1922,http://www.barleyboysbrewery.com,4.025986e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN,NaN
2,benson-brewery-omaha,Benson Brewery,brewpub,6059 Maple St,NaN,NaN,Omaha,Nebraska,NaN,68104-4050,http://www.bensonbrewery.com,4.029349e+09,2018-07-24 01:33:43,2018-08-24 00:47:32,United States,-96.006345,41.284898,NaN
3,blue-blood-brewing-company-lincoln,Blue Blood Brewing Company,brewpub,925 Robbers Cave Rd,NaN,NaN,Lincoln,Nebraska,NaN,68502,http://www.bluebloodbrewing.com,4.024772e+09,2018-07-24 01:33:43,2018-08-24 00:47:33,United States,-96.707014,40.779996,NaN
4,boiler-brewing-company-lincoln,Boiler Brewing Company,micro,129 N 10th St Ste 8,NaN,NaN,Lincoln,Nebraska,NaN,68508-3633,http://www.boilerbrewingcompany.com,4.022619e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN,NaN

In [219]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               53 non-null     object
 1   name             53 non-null     object
 2   brewery_type     53 non-null     object
 3   street           45 non-null     object
 4   address_2        0 non-null      float64
 5   address_3        0 non-null      float64
 6   city             53 non-null     object
 7   state            53 non-null     object
 8   county_province  0 non-null      float64
 9   postal_code      53 non-null     object
 10  website_url      46 non-null     object
 11  phone            50 non-null     float64
 12  created_at       53 non-null     object
 13  updated_at       53 non-null     object
 14  country          53 non-null     object
 15  longitude        31 non-null     float64
 16  latitude         31 non-null     float64
 17  tags             0 non-null      float64
dtypes: float64(7), object(11)
memory usage: 7.6+ KB
None

#### 1) It would appear that four of the columns consist entirely of NaNs. These are not useful and should be removed:

In [220]:
# df.isna().all() # Shows True for any column made entirely of NaNs

In [221]:
# df.notna().any()# Shows True for any column NOT made entirely of NaNs

In [222]:
# noNulls = df.dropna(axis=1, how='all') # Assigns new DF without NaN columns

In [223]:
# noNulls.info()

In [224]:
# df.info()

In [225]:
df.dropna(axis=1, how='all', inplace=True) # inplace=True; removes NaN columns without having to assign a new DF

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            53 non-null     object
 1   name          53 non-null     object
 2   brewery_type  53 non-null     object
 3   street        45 non-null     object
 4   city          53 non-null     object
 5   state         53 non-null     object
 6   postal_code   53 non-null     object
 7   website_url   46 non-null     object
 8   phone         50 non-null     float64
 9   created_at    53 non-null     object
 10  updated_at    53 non-null     object
 11  country       53 non-null     object
 12  longitude     31 non-null     float64
 13  latitude      31 non-null     float64
dtypes: float64(3), object(11)
memory usage: 5.9+ KB

In [227]:
df.head()

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,micro,500 W South St Ste 8,Lincoln,Nebraska,68522-1744,http://www.backswingbrewing.com,4.025154e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
1,barley-boys-brewery-omaha,Barley Boys Brewery,planning,NaN,Omaha,Nebraska,68144-1922,http://www.barleyboysbrewery.com,4.025986e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
2,benson-brewery-omaha,Benson Brewery,brewpub,6059 Maple St,Omaha,Nebraska,68104-4050,http://www.bensonbrewery.com,4.029349e+09,2018-07-24 01:33:43,2018-08-24 00:47:32,United States,-96.006345,41.284898
3,blue-blood-brewing-company-lincoln,Blue Blood Brewing Company,brewpub,925 Robbers Cave Rd,Lincoln,Nebraska,68502,http://www.bluebloodbrewing.com,4.024772e+09,2018-07-24 01:33:43,2018-08-24 00:47:33,United States,-96.707014,40.779996
4,boiler-brewing-company-lincoln,Boiler Brewing Company,micro,129 N 10th St Ste 8,Lincoln,Nebraska,68508-3633,http://www.boilerbrewingcompany.com,4.022619e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN

#### 2) Some breweries are still in the planning stage. Let's remove them because they're not brewing yet:

In [228]:
brewersDF = df[df['brewery_type'] != 'planning']

In [229]:
# brewersDF.head()

In [230]:
brewersDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 52
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45 non-null     object
 1   name          45 non-null     object
 2   brewery_type  45 non-null     object
 3   street        45 non-null     object
 4   city          45 non-null     object
 5   state         45 non-null     object
 6   postal_code   45 non-null     object
 7   website_url   40 non-null     object
 8   phone         43 non-null     float64
 9   created_at    45 non-null     object
 10  updated_at    45 non-null     object
 11  country       45 non-null     object
 12  longitude     31 non-null     float64
 13  latitude      31 non-null     float64
dtypes: float64(3), object(11)
memory usage: 5.3+ KB

In [231]:
brewersDF.head()

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude
0,backswing-brewing-co-lincoln,Backswing Brewing Co.,micro,500 W South St Ste 8,Lincoln,Nebraska,68522-1744,http://www.backswingbrewing.com,4.025154e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
2,benson-brewery-omaha,Benson Brewery,brewpub,6059 Maple St,Omaha,Nebraska,68104-4050,http://www.bensonbrewery.com,4.029349e+09,2018-07-24 01:33:43,2018-08-24 00:47:32,United States,-96.006345,41.284898
3,blue-blood-brewing-company-lincoln,Blue Blood Brewing Company,brewpub,925 Robbers Cave Rd,Lincoln,Nebraska,68502,http://www.bluebloodbrewing.com,4.024772e+09,2018-07-24 01:33:43,2018-08-24 00:47:33,United States,-96.707014,40.779996
4,boiler-brewing-company-lincoln,Boiler Brewing Company,micro,129 N 10th St Ste 8,Lincoln,Nebraska,68508-3633,http://www.boilerbrewingcompany.com,4.022619e+09,2018-07-24 01:33:43,2018-08-11 21:38:14,United States,NaN,NaN
5,bolo-beer-co-valentine,Bolo Beer Co,micro,420 E 1st St,Valentine,Nebraska,69201-1904,http://www.bolobeer.com,NaN,2018-07-24 01:33:43,2018-08-24 00:47:34,United States,-100.545728,42.872047

#### 3) Remove 'created_at' and 'updated_at' columns as they are not usful for analysis.

In [232]:
brewersDF = brewersDF.drop(['created_at', 'updated_at'], axis=1)

In [233]:
# brewersDF.drop(['created_at', 'updated_at'], axis=1, inplace=True)

In [234]:
brewersDF.columns

Index(['id', 'name', 'brewery_type', 'street', 'city', 'state', 'postal_code',
       'website_url', 'phone', 'country', 'longitude', 'latitude'],
      dtype='object')

#### 4) Remove 'country' column because we're only dealing with US breweries, so this information is irrelevant:

In [235]:
brewersDF.drop(['country'], axis=1, inplace=True)

In [236]:
brewersDF.columns

Index(['id', 'name', 'brewery_type', 'street', 'city', 'state', 'postal_code',
       'website_url', 'phone', 'longitude', 'latitude'],
      dtype='object')

#### 5) Create a column, 'zip5' with just the 5-digit zip code, for consistency:

In [237]:
brewersDF['zip5'] = brewersDF['postal_code'].str[:5]

In [238]:
brewersDF[['zip5', 'postal_code']].head()

    zip5 postal_code
0  68522  68522-1744
2  68104  68104-4050
3  68502       68502
4  68508  68508-3633
5  69201  69201-1904

#### 6) Check for and remove duplicates:

In [239]:
print("Duplicates in:")
for name in brewersDF.columns:
    print("{:>15}:".format(name), any(brewersDF[name].duplicated()))

Duplicates in:
             id: False
           name: True
   brewery_type: True
         street: False
           city: True
          state: True
    postal_code: False
    website_url: True
          phone: True
      longitude: True
       latitude: True
           zip5: True

It isn't unreasonable that these columns would have duplicates because some breweries have multiple locations. Since some variables do not contain duplicates, I will not look for entirely duplicated rows.

#### 7) Fix phone numbers that are showing up in scientific notation:

In [240]:
brewersDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 52
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45 non-null     object
 1   name          45 non-null     object
 2   brewery_type  45 non-null     object
 3   street        45 non-null     object
 4   city          45 non-null     object
 5   state         45 non-null     object
 6   postal_code   45 non-null     object
 7   website_url   40 non-null     object
 8   phone         43 non-null     float64
 9   longitude     31 non-null     float64
 10  latitude      31 non-null     float64
 11  zip5          45 non-null     object
dtypes: float64(3), object(9)
memory usage: 4.6+ KB

In [241]:
# test = brewersDF

In [242]:
# brewersDF['phone'].isna().any()

Because some phone numbers are missing (Nan) I will need to change them to 0 before converting to integers.

In [243]:
brewersDF['phone'] = brewersDF['phone'].fillna(0.0).apply(np.int64)

In [244]:
brewersDF.phone.head(10)

0     4025154263
2     4029348668
3     4024772337
4     4022618775
5              0
6     3089423440
7     4023045673
9     4029332613
10    4029252629
11    4023185888
Name: phone, dtype: int64

In [245]:
brewersDF[brewersDF['phone'] == 0]

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,longitude,latitude,zip5
5,bolo-beer-co-valentine,Bolo Beer Co,micro,420 E 1st St,Valentine,Nebraska,69201-1904,http://www.bolobeer.com,0,-100.545728,42.872047,69201
22,green-flash-brewing-co-lincoln,Green Flash Brewing Co,brewpub,1630 P St,Lincoln,Nebraska,68508-1644,NaN,0,-96.697680,40.814811,68508

Of the two breweries that are missing phone numbers, Green Flash has closed and I was able to find the phone number for Bolo on their website. I'll remove the Green Flash row and add a phone number for Bolo.

In [246]:
brewersDF.drop(22, inplace=True)

In [247]:
brewersDF[15:20]

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,longitude,latitude,zip5
19,gottberg-brew-pub-columbus,Gottberg Brew Pub,brewpub,2804 13th St,Columbus,Nebraska,68601-4919,http://www.dustersrestaurant.com,4025626488,-97.362127,41.429401,68601
20,granite-city-food-brewery-16-omaha,Granite City Food & Brewery (#16),brewpub,1001 N 102nd St,Omaha,Nebraska,68114-2155,http://www.gcfb.net,4023935000,-96.071539,41.268008,68114
21,granite-city-food-brewery-7-lincoln,Granite City Food & Brewery (#7),brewpub,6200 O St,Lincoln,Nebraska,68510-2240,http://www.gcfb.net,4024661900,-96.687233,40.813589,68510
23,hanging-horseshoe-brewing-company-imperial,Hanging Horseshoe Brewing Company,micro,73892 332 Ave,Imperial,Nebraska,69033-,NaN,3088827772,NaN,NaN,69033
24,infusion-brewing-company-omaha,Infusion Brewing Company,micro,6115 Maple St,Omaha,Nebraska,68104-4043,http://www.infusionbrewing.com,4029342064,-96.007724,41.284907,68104

In [248]:
# brewersDF.index[22] # huh?

In [249]:
# 4022595180

In [250]:
# test = brewersDF

In [251]:
brewersDF.at[5, 'phone'] = 4022595180

In [252]:
# df.at['C', 'x'] = 10

In [253]:
brewersDF[brewersDF['phone'] == 4022595180]

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,longitude,latitude,zip5
5,bolo-beer-co-valentine,Bolo Beer Co,micro,420 E 1st St,Valentine,Nebraska,69201-1904,http://www.bolobeer.com,4022595180,-100.545728,42.872047,69201

In [254]:
# test.set_value(5, 'phone', 4022595180)  # Deprecated

#### 8) Column Headers; Rearrange, Rename:

Rearrange columns:

In [256]:
brewersDF.columns

Index(['id', 'name', 'brewery_type', 'street', 'city', 'state', 'postal_code',
       'website_url', 'phone', 'longitude', 'latitude', 'zip5'],
      dtype='object')

In [257]:
cols = ['id', 'name', 'brewery_type', 'street', 'city', 'state', 'postal_code',
       'zip5', 'website_url', 'phone', 'longitude', 'latitude']

In [261]:
brewersDF = brewersDF[cols]

In [262]:
brewersDF.columns

Index(['id', 'name', 'brewery_type', 'street', 'city', 'state', 'postal_code',
       'zip5', 'website_url', 'phone', 'longitude', 'latitude'],
      dtype='object')

In [263]:
headers = ['Brewery ID', 'Brewery Name', 'Type of Brewery', 'Street Address',
          'City', 'State', 'Postal Code', '5-digit Zip', 'Website', 'Phone',
          'Longitude', 'Latitude']

In [264]:
test.columns = headers

In [265]:
# >>> df.columns = ['a', 'b']

In [266]:
test.columns

Index(['Brewery ID', 'Brewery Name', 'Type of Brewery', 'Street Address',
       'City', 'State', 'Postal Code', '5-digit Zip', 'Website', 'Phone',
       'Longitude', 'Latitude'],
      dtype='object')

TO DO:  
* DONE--Remove columns with datetime info from web scraping
* NA--~~Rename breweries (swap hyphens with spaces; Title Case; )~~ Wait, id is different than name
* DONE--All breweries are US, so 'country' column can be removed
* DONE--Add column for 5-digit zip
  * Maybe remove hyphen from 'postal_code' where there are only 5 digits?
  * Maybe get the 9-digit postal code?
* DONE--"Remove duplicates"
* DONE--Maybe fix phone #s (scientific notation)? float --> int
  * Maybe reformat phone numbers? **"Format data into a more readable format"**
    * https://stackoverflow.com/questions/51227601/python-format-phone-number/51227770
* Rearrange columns
  * Rename columns? **"Replace Headers"**
* Brewery type, title case?
* Maybe make a histogram to look for outliers?
* Maybe get missing lat-long from addresses? Is this even useful?