In [1]:
import pandas as pd
import numpy as np
import requests

https://towardsdatascience.com/how-to-use-multiindex-in-pandas-to-level-up-your-analysis-aeac7f451fce

https://github.com/metmuseum/openaccess/raw/master/MetObjects.csv  
https://www.scq.ubc.ca/so-much-candy-data-seriously/

## 2017 Data

In [2]:
candy17url = 'https://www.scq.ubc.ca/wp-content/uploads/2017/10/candyhierarchy2017.csv'

In [3]:
# Specified latin encoding to deal with error
df = pd.read_csv(candy17url, encoding='latin-1')

In [4]:
df.shape

(2460, 120)

In [5]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [6]:
df.describe()

,Internal ID,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo]
count,2.460000e+03,85.0,1362.0,99.0,67.0
mean,9.028016e+07,1.0,1.0,1.0,1.0
std,7.435532e+03,0.0,0.0,0.0,0.0
min,9.025877e+07,1.0,1.0,1.0,1.0
25%,9.027520e+07,1.0,1.0,1.0,1.0
50%,9.027780e+07,1.0,1.0,1.0,1.0
75%,9.028242e+07,1.0,1.0,1.0,1.0
max,9.031480e+07,1.0,1.0,1.0,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Columns: 120 entries, Internal ID to Click Coordinates (x, y)
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

Check for duplicates:

In [8]:
# print("Duplicates in:")
# for name in df.columns:
#     print("{:.<60}".format(name), any(df[name].duplicated()))

All columns, except ID, contain Duplicates.

In [9]:
# print("NaN's in:")
# for name in df.columns:
#     print("{:.<60} {}".format(name, df[name].isna().any()))

All columns, except ID, contain null values.

In [10]:
df.columns[1]

'Q1: GOING OUT?'

In [11]:
df[df.columns[1]]

0       NaN
1        No
2       NaN
3        No
4        No
       ...
2455     No
2456     No
2457     No
2458     No
2459     No
Name: Q1: GOING OUT?, Length: 2460, dtype: object

## 2016 Data Set

In [12]:
candy16url = "https://www.scq.ubc.ca/wp-content/uploads/2016/10/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx"

In [13]:
df = pd.read_excel(candy16url)

In [14]:
df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Columns: 123 entries, Timestamp to  [York Peppermint Patties] Ignore
dtypes: datetime64[ns](1), float64(1), object(121)
memory usage: 1.2+ MB

In [16]:
# # Check if any columns are all NaNs:
# for header in df.columns:
#     print("{:.<60}".format(header), df[header].isnull().all())

In [17]:
df[df.columns[-1]].isnull().all()

True

In [18]:
for header in df.columns:
    if df[header].isnull().all() == True:
        df.drop(header, axis=1, inplace=True)
    else:
        continue

In [19]:
len(df.columns)

122

In [20]:
df.columns[-1]

'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).'

In [21]:
# print("Duplicates in:")
# for name in df.columns:
#     print("{:.<60}".format(name), any(df[name].duplicated()))

No duplicates in 'Timestamp', all other columns contain duplicates

In [22]:
# print("NaN's in:")
# for name in df.columns:
#     print("{:.<60} {}".format(name, df[name].isna().any()))

No NaNs in 'Timestamp' or 'Are you going actually going trick or treating yourself?' columns. All others contain at least 1 NaN.

In [23]:
for item in df.columns:
    print(item)

Timestamp
Are you going actually going trick or treating yourself?
Your gender:
How old are you?
Which country do you live in?
Which state, province, county do you live in?
 [100 Grand Bar]
 [Anonymous brown globs that come in black and orange wrappers]
 [Any full-sized candy bar]
 [Black Jacks]
 [Bonkers (the candy)]
 [Bonkers (the board game)]
 [Bottle Caps]
 [Box'o'Raisins]
 [Broken glow stick]
 [Butterfinger]
 [Cadbury Creme Eggs]
 [Candy Corn]
 [Candy that is clearly just the stuff given out for free at restaurants]
 [Caramellos]
 [Cash, or other forms of legal tender]
 [Chardonnay]
 [Chick-o-Sticks (we donâ€™t know what that is)]
 [Chiclets]
 [Coffee Crisp]
 [Creepy Religious comics/Chick Tracts]
 [Dental paraphenalia]
 [Dots]
 [Dove Bars]
 [Fuzzy Peaches]
 [Generic Brand Acetaminophen]
 [Glow sticks]
 [Goo Goo Clusters]
 [Good N' Plenty]
 [Gum from baseball cards]
 [Gummy Bears straight up]
 [Hard Candy]
 [Healthy Fruit]
 [Heath Bar]
 [Hershey's Dark Chocolate]
 [Hersheyâ€™s Milk Chocolate]
 [Hershey's Kisses]
 [Hugs (actual physical hugs)]
 [Jolly Rancher (bad flavor)]
 [Jolly Ranchers (good flavor)]
 [JoyJoy (Mit Iodine!)]
 [Junior Mints]
 [Senior Mints]
 [Kale smoothie]
 [Kinder Happy Hippo]
 [Kit Kat]
 [LaffyTaffy]
 [LemonHeads]
 [Licorice (not black)]
 [Licorice (yes black)]
 [Lindt Truffle]
 [Lollipops]
 [Mars]
 [Mary Janes]
 [Maynards]
 [Mike and Ike]
 [Milk Duds]
 [Milky Way]
 [Regular M&Ms]
 [Peanut M&Mâ€™s]
 [Blue M&M's]
 [Red M&M's]
 [Third Party M&M's]
 [Minibags of chips]
 [Mint Kisses]
 [Mint Juleps]
 [Mr. Goodbar]
 [Necco Wafers]
 [Nerds]
 [Nestle Crunch]
 [Now'n'Laters]
 [Peeps]
 [Pencils]
 [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]
 [Pixy Stix]
 [Reeseâ€™s Peanut Butter Cups]
 [Reese's Pieces]
 [Reggie Jackson Bar]
 [Rolos]
 [Skittles]
 [Smarties (American)]
 [Smarties (Commonwealth)]
 [Snickers]
 [Sourpatch Kids (i.e. abominations of nature)]
 [Spotted Dick]
 [Starburst]
 [Sweet Tarts]
 [Swedish Fish]
 [Sweetums (a friend to diabetes)]
 [Tic Tacs]
 [Those odd marshmallow circus peanut things]
 [Three Musketeers]
 [Tolberone something or other]
 [Trail Mix]
 [Twix]
 [Vials of pure high fructose corn syrup, for main-lining into your vein]
 [Vicodin]
 [Whatchamacallit Bars]
 [White Bread]
 [Whole Wheat anything]
 [York Peppermint Patties]
Please list any items not included above that give you JOY.
Please list any items not included above that give you DESPAIR.
Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.
Guess the number of mints in my hand.
Betty or Veronica?
"That dress* that went viral a few years back - when I first saw it, it was ________"
What is your favourite font?
Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]
Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]
Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©]
Please estimate the degree(s) of separation you have from the following celebrities [Bieber]
Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]
Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]
Which day do you prefer, Friday or Sunday?
Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?
When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).

### Replace NaNs in candy columns with 'UNKNOWN', because survey said to "leave blank if you have no idea what the item is":

In [24]:
startCol = df.columns[6]
endCol = df.columns[105]

In [25]:
df.loc[:, startCol:endCol].tail()

,[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers (the candy)],[Bonkers (the board game)],[Bottle Caps],[Box'o'Raisins],[Broken glow stick],[Butterfinger],...,[Three Musketeers],[Tolberone something or other],[Trail Mix],[Twix],"[Vials of pure high fructose corn syrup, for main-lining into your vein]",[Vicodin],[Whatchamacallit Bars],[White Bread],[Whole Wheat anything],[York Peppermint Patties]
1254,JOY,DESPAIR,JOY,MEH,MEH,NaN,NaN,DESPAIR,NaN,JOY,...,MEH,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,MEH
1255,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,...,JOY,JOY,MEH,JOY,JOY,JOY,MEH,DESPAIR,DESPAIR,MEH
1256,JOY,MEH,JOY,NaN,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,JOY,...,MEH,JOY,MEH,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,MEH
1257,NaN,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,JOY,...,MEH,JOY,DESPAIR,JOY,MEH,JOY,JOY,MEH,MEH,DESPAIR
1258,JOY,MEH,JOY,JOY,MEH,JOY,JOY,MEH,MEH,JOY,...,JOY,JOY,MEH,JOY,MEH,MEH,JOY,MEH,MEH,JOY

In [26]:
df.loc[:, startCol:endCol] = df.loc[:, startCol:endCol].fillna('UNKNOWN')

In [27]:
df.tail()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
1254,2016-10-29 16:53:52.516,No,Female,52,USA,TX,JOY,DESPAIR,JOY,MEH,...,Candara,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines
1255,2016-10-30 06:53:54.735,No,Male,33,united states,minnesota,JOY,DESPAIR,JOY,DESPAIR,...,Trebuchet,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines
1256,2016-10-30 11:06:10.827,No,Male,NaN,NaN,NaN,JOY,MEH,JOY,UNKNOWN,...,Comic Sans,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines
1257,2016-10-30 16:07:26.539,No,Male,48,canada,BC,UNKNOWN,DESPAIR,JOY,DESPAIR,...,NaN,1,2,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines
1258,2016-10-30 17:06:45.660,Yes,Female,44,Us,Nh,JOY,MEH,JOY,JOY,...,NaN,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish

In [28]:
df.index.names

FrozenList([None])

In [29]:
df.loc[:, df.columns[106]:].tail()

,Please list any items not included above that give you JOY.,Please list any items not included above that give you DESPAIR.,"Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.",Guess the number of mints in my hand.,Betty or Veronica?,"""That dress* that went viral a few years back - when I first saw it, it was ________""",What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
1254,"Red hots, mounds, almond joy",NaN,Are you guys kidding me?,14,Betty,White and gold,Candara,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines
1255,"Bandwidth, Take 5 (bar), Take 5 (jazz), anythi...","coconut, cream fillings, marshmallow, creepy d...",NaN,"seventeen and a half (that's gross, I don't wa...",???,Blue and black,Trebuchet,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines
1256,sky bar,dumdums,NaN,all of them have melted into a single mint by now,Veronica,Blue and black,Comic Sans,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines
1257,"weed, mini packs of mini cookies (oreos, etc)",NaN,NaN,NaN,Betty,White and gold,NaN,1,2,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines
1258,NaN,NaN,NaN,6,Betty,White and gold,NaN,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish

In [30]:
df.columns[121]

'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).'

In [31]:
df.index

RangeIndex(start=0, stop=1259, step=1)

In [32]:
df.columns[106]

'Please list any items not included above that give you JOY.'

In [33]:
dfLite = df.loc[:, :df.columns[105]]

In [34]:
dfLite.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,[Three Musketeers],[Tolberone something or other],[Trail Mix],[Twix],"[Vials of pure high fructose corn syrup, for main-lining into your vein]",[Vicodin],[Whatchamacallit Bars],[White Bread],[Whole Wheat anything],[York Peppermint Patties]
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,JOY
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,JOY,JOY,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,JOY
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,JOY
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,JOY,JOY,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,JOY
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,JOY,JOY,MEH,JOY,JOY,JOY,MEH,DESPAIR,DESPAIR,MEH

In [35]:
countries = list(df['Which country do you live in?'].unique())

In [36]:
countries

['Canada',
 'usa',
 'US',
 'USA',
 'UK',
 'United States of America',
 'uSA',
 'Japan',
 'united states',
 'USA ',
 'canada',
 'United States',
 'us',
 'france',
 'USSA',
 'United States of America ',
 'U.S.A.',
 'A tropical island south of the equator',
 'england',
 'uk',
 'Switzerland',
 'Murica',
 'United Kingdom',
 'Neverland',
 'USA!',
 'this one',
 "USA (I think but it's an election year so who can really tell)",
 'Korea',
 51,
 'Usa',
 nan,
 'U.S.',
 'Us',
 'America ',
 'Units States',
 'belgium',
 'croatia',
 'United states',
 'Portugal',
 'England',
 'USA USA USA',
 'the best one - usa',
 'USA! USA! USA!',
 47,
 'united states ',
 'Cascadia',
 'espaÃ±a',
 'u.s.',
 "there isn't one for old men",
 'United States ',
 'Panama',
 'one of the best ones',
 'The Yoo Ess of Aaayyyyyy',
 'United Kindom',
 'France',
 'America',
 'Australia',
 'hungary',
 'united states of america',
 'UK ',
 'Austria',
 'Somewhere',
 'New Zealand',
 54,
 'Germany',
 'Mexico',
 44,
 'Brasil',
 "god's country",
 'South Korea',
 'USA!!!!!!',
 'Philippines',
 ' United States',
 'EUA',
 'USA! USA!',
 45,
 'sweden',
 'Canada ',
 'United Sates',
 "Sub-Canadian North America... 'Merica",
 'The Netherlands',
 'Finland',
 'Trumpistan',
 'U.s.',
 'Merica',
 'China',
 'germany',
 'See above',
 'UNited States',
 'kenya',
 30,
 'Netherlands',
 'The republic of Cascadia ',
 'United Stetes',
 'america',
 'Not the USA or Canada',
 'USA USA USA USA',
 'New Zealand ',
 'United  States of America',
 'netherlands',
 'Denial',
 'United State']

In [37]:
# pip install country_converter --upgrade

In [38]:
# # lowercase all countries
# countriesLower = []
# for c in countries:
#     countriesLower += [str(c).lower().strip()]

In [39]:
# countriesLower

In [40]:
# import country_converter as coco
# # some_names = ['United Rep. of Tanzania', 'DE', 'Cape Verde', '788', 'Burma', 'COG',
# #               'Iran (Islamic Republic of)', 'Korea, Republic of',
# #               "Dem. People's Rep. of Korea"]
# standard_names = coco.convert(names=countriesLower, to='name_short')
# print(standard_names)

In [41]:
# pip install pycountry

In [42]:
import pycountry

In [44]:
# pycountry.countries.search_fuzzy(countries)

In [45]:
testDF = df[['Timestamp', 'Which country do you live in?']]

In [46]:
testDF.head()

                Timestamp Which country do you live in?
0 2016-10-24 05:09:23.033                        Canada
1 2016-10-24 05:09:54.798                           usa
2 2016-10-24 05:13:06.734                            US
3 2016-10-24 05:14:17.192                           usa
4 2016-10-24 05:14:24.625                           USA

In [47]:
testDF.columns = ['Timestamp', 'Country']

In [48]:
testDF.columns

Index(['Timestamp', 'Country'], dtype='object')

In [49]:
fuzzyUSA = pycountry.countries.search_fuzzy('usa')

In [50]:
fuzzyUSA[0]

Country(alpha_2='US', alpha_3='USA', name='United States', numeric='840', official_name='United States of America')

In [51]:
type(fuzzyUSA[0])

pycountry.db.Country

In [52]:
fuzzyUSA[0].name

'United States'

In [53]:
pycountry.countries.search_fuzzy('usa')[0].name

'United States'

In [54]:
testDF = df[['Timestamp', 'Which country do you live in?']].copy()
testDF.columns = ['Timestamp', 'Country']
testDF.head()

                Timestamp Country
0 2016-10-24 05:09:23.033  Canada
1 2016-10-24 05:09:54.798     usa
2 2016-10-24 05:13:06.734      US
3 2016-10-24 05:14:17.192     usa
4 2016-10-24 05:14:24.625     USA

In [55]:
# testDF['Country'] = testDF['Country'].str.lower()

In [56]:
testDF['Country'] = testDF['Country'].str.lower().str.replace('[.,!]', '')

In [57]:
testDF.head()

                Timestamp Country
0 2016-10-24 05:09:23.033  canada
1 2016-10-24 05:09:54.798     usa
2 2016-10-24 05:13:06.734      us
3 2016-10-24 05:14:17.192     usa
4 2016-10-24 05:14:24.625     usa

In [58]:
# testDF['Test'] = testDF['Country'].str.apply(lambda x: 'usa' if x.startswith('us') else x)

In [59]:
import numpy as np

In [60]:
# testDF.Country[testDF.Country.str.startswith('us')]

In [61]:
testDF['Test'] = np.where(testDF['Country'].str.startswith('us'), 'usa', testDF['Country'])
testDF['Test'] = np.where(testDF['Test'].str.endswith('usa'), 'usa', testDF['Test'])

In [62]:
testDF[testDF.Test.str.startswith('esp')]

                  Timestamp Country    Test
367 2016-10-24 09:31:09.132  espaÃ±a  espaÃ±a

In [63]:
replacements = {
    'uk': 'united kingdom',
    'units states': 'usa',
    'america': 'usa',
    'the yoo ess of aaayyyyyy': 'usa',
    'espaÃ±a': 'spain',
    'murica': 'usa',
    'united kindom': 'united kingdom',
    'brasil': 'brazil',
    "god's country": 'usa',
    'united sates': 'usa',
    "sub-canadian north america 'merica": 'usa',
    'trumpistan': 'usa',
    'united stetes': 'usa'
}

In [64]:
testDF['Test'].replace(replacements, inplace=True)

In [65]:
# testDf['Country'].apply(lambda x: 'usa' if x.startswith('us') else x)

In [66]:
testDF.head(50)

,Timestamp,Country,Test
0,2016-10-24 05:09:23.033,canada,canada
1,2016-10-24 05:09:54.798,usa,usa
2,2016-10-24 05:13:06.734,us,usa
3,2016-10-24 05:14:17.192,usa,usa
4,2016-10-24 05:14:24.625,usa,usa
5,2016-10-24 05:16:43.126,usa,usa
6,2016-10-24 05:16:50.572,usa,usa
7,2016-10-24 05:16:55.324,canada,canada
8,2016-10-24 05:17:49.292,usa,usa
9,2016-10-24 05:18:51.021,uk,united kingdom
10,2016-10-24 05:20:21.125,united states of america,united states of america
11,2016-10-24 05:21:19.858,usa,usa
12,2016-10-24 05:21:27.708,usa,usa
13,2016-10-24 05:22:12.699,japan,japan
14,2016-10-24 05:22:30.678,united states,united states
15,2016-10-24 05:24:08.316,usa,usa
16,2016-10-24 05:24:11.446,usa,usa
17,2016-10-24 05:26:18.333,canada,canada
18,2016-10-24 05:26:35.167,usa,usa
19,2016-10-24 05:27:00.491,united states,united states
20,2016-10-24 05:30:39.763,united states,united states
21,2016-10-24 05:31:48.862,canada,canada
22,2016-10-24 05:33:18.915,united states,united states
23,2016-10-24 05:33:28.488,united states,united states
24,2016-10-24 05:34:36.438,us,usa
25,2016-10-24 05:34:37.116,us,usa
26,2016-10-24 05:34:40.001,usa,usa
27,2016-10-24 05:35:45.940,united states,united states
28,2016-10-24 05:36:13.156,usa,usa
29,2016-10-24 05:36:44.146,usa,usa
30,2016-10-24 05:36:57.130,usa,usa
31,2016-10-24 05:37:19.368,usa,usa
32,2016-10-24 05:37:49.446,united states,united states
33,2016-10-24 05:38:40.977,us,usa
34,2016-10-24 05:39:57.505,usa,usa
35,2016-10-24 05:41:24.267,united states,united states
36,2016-10-24 05:41:33.588,usa,usa
37,2016-10-24 05:42:42.462,usa,usa
38,2016-10-24 05:44:28.365,united states of america,united states of america
39,2016-10-24 05:45:28.953,usa,usa
40,2016-10-24 05:45:54.442,canada,canada
41,2016-10-24 05:45:57.634,canada,canada
42,2016-10-24 05:46:14.788,united states,united states
43,2016-10-24 05:46:36.139,france,france
44,2016-10-24 05:49:18.148,usa,usa
45,2016-10-24 05:49:21.514,ussa,usa
46,2016-10-24 05:49:51.906,us,usa
47,2016-10-24 05:50:02.903,usa,usa
48,2016-10-24 05:50:16.728,united states,united states
49,2016-10-24 05:51:41.073,united states of america,united states of america

In [67]:
# testDF['Test'] = testDF['Country'].startswith('us').replace('usa')

In [68]:
# testDF['New'] = testDF['Country'].map(lambda x: re.sub(r'\W+', '', x))
# testDF['Country'] = testDF['Country'].str.replace('[.,!]', '')

Notes:  
UK should be United Kingdom, not ukraine  
Remove Punctuation  
USSA, probably USA  
anything that starts with US --> USA? Probably  
Units States  
America --> US, not American Samoa  
Not found: (maybe do a search, filtering by NOT FOUND)  
  The best one -- USA  
  USA USA USA  
  Espana  
  The Yoo Ess of Aaayyyyyy

In [69]:
# countryFix = {
#     'uk': 'united kingdom',
    
# }

In [70]:
# testDF.head(50)

In [71]:
testDF.Country = testDF.Country.str.lower()

In [72]:
testDF.Country = testDF.Country.str.strip()

In [73]:
def fuzzyCountry(countryName):
    try:
        return pycountry.countries.search_fuzzy(countryName)[0].name
    except:
        return ("NOT FOUND")

In [74]:
testDF['Country Guess'] = testDF.apply(lambda row: fuzzyCountry(row.Country), axis=1)

In [75]:
testDF['Country Guess'] = testDF.apply(lambda row: fuzzyCountry(row.Test), axis=1)

In [76]:
testDF[testDF['Country Guess'] == 'NOT FOUND']

,Timestamp,Country,Test,Country Guess
57,2016-10-24 05:54:40.128,a tropical island south of the equator,a tropical island south of the equator,NOT FOUND
89,2016-10-24 06:15:22.247,neverland,neverland,NOT FOUND
99,2016-10-24 06:21:18.515,this one,this one,NOT FOUND
310,2016-10-24 08:50:32.535,cascadia,cascadia,NOT FOUND
411,2016-10-24 10:21:01.946,there isn't one for old men,there isn't one for old men,NOT FOUND
444,2016-10-24 11:00:42.575,one of the best ones,one of the best ones,NOT FOUND
612,2016-10-24 14:48:10.100,somewhere,somewhere,NOT FOUND
725,2016-10-24 19:21:39.300,south korea,south korea,NOT FOUND
1071,2016-10-27 10:42:49.888,see above,see above,NOT FOUND
1124,2016-10-27 12:23:56.227,the republic of cascadia,the republic of cascadia,NOT FOUND
1156,2016-10-27 13:53:10.380,not the usa or canada,not the usa or canada,NOT FOUND
1186,2016-10-27 15:14:24.219,united states of america,united states of america,NOT FOUND
1193,2016-10-27 15:49:33.782,denial,denial,NOT FOUND

In [77]:
testDF[500:550]

                  Timestamp        Country           Test  Country Guess
500 2016-10-24 12:03:16.062            usa            usa  United States
501 2016-10-24 12:04:23.018            usa            usa  United States
502 2016-10-24 12:08:21.353            usa            usa  United States
503 2016-10-24 12:11:18.214             us            usa  United States
504 2016-10-24 12:12:36.524            usa            usa  United States
505 2016-10-24 12:12:41.987            usa            usa  United States
506 2016-10-24 12:14:06.431  united states  united states  United States
507 2016-10-24 12:15:41.961            usa            usa  United States
508 2016-10-24 12:15:58.021            usa            usa  United States
509 2016-10-24 12:17:19.083            usa            usa  United States
510 2016-10-24 12:21:50.786            usa            usa  United States
511 2016-10-24 12:22:14.308            usa            usa  United States
512 2016-10-24 12:22:55.015            usa            usa  United States
513 2016-10-24 12:22:57.389            usa            usa  United States
514 2016-10-24 12:23:08.949         canada         canada         Canada
515 2016-10-24 12:24:13.608            usa            usa  United States
516 2016-10-24 12:24:25.958      australia      australia      Australia
517 2016-10-24 12:26:31.631            usa            usa  United States
518 2016-10-24 12:30:48.836             us            usa  United States
519 2016-10-24 12:33:33.731            usa            usa  United States
520 2016-10-24 12:33:42.801             us            usa  United States
521 2016-10-24 12:34:24.890            usa            usa  United States
522 2016-10-24 12:35:36.427            NaN            usa  United States
523 2016-10-24 12:36:25.469             us            usa  United States
524 2016-10-24 12:38:56.664            usa            usa  United States
525 2016-10-24 12:39:24.853             us            usa  United States
526 2016-10-24 12:40:04.748  united states  united states  United States
527 2016-10-24 12:43:04.583            usa            usa  United States
528 2016-10-24 12:45:26.127  united states  united states  United States
529 2016-10-24 12:50:06.038         canada         canada         Canada
530 2016-10-24 12:50:36.905             us            usa  United States
531 2016-10-24 12:52:51.557         canada         canada         Canada
532 2016-10-24 12:53:57.579             us            usa  United States
533 2016-10-24 12:56:16.155         canada         canada         Canada
534 2016-10-24 12:56:54.690            usa            usa  United States
535 2016-10-24 12:56:58.697            usa            usa  United States
536 2016-10-24 12:57:37.394         canada         canada         Canada
537 2016-10-24 12:58:52.275            usa            usa  United States
538 2016-10-24 13:00:40.844             us            usa  United States
539 2016-10-24 13:00:51.323         canada         canada         Canada
540 2016-10-24 13:01:16.045            usa            usa  United States
541 2016-10-24 13:02:52.282            usa            usa  United States
542 2016-10-24 13:03:29.005  united states  united states  United States
543 2016-10-24 13:04:45.192         canada         canada         Canada
544 2016-10-24 13:05:40.439  united states  united states  United States
545 2016-10-24 13:08:55.122            usa            usa  United States
546 2016-10-24 13:10:14.838            usa            usa  United States
547 2016-10-24 13:11:46.040            usa            usa  United States
548 2016-10-24 13:12:30.131         canada         canada         Canada
549 2016-10-24 13:12:55.564         canada         canada         Canada

In [78]:
df[df['Which country do you live in?'] == "god's country"]

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
715,2016-10-24 18:57:28.334,No,Male,23.2,god's country,douglass commonwealth,JOY,MEH,JOY,UNKNOWN,...,tacoma,3 or higher,3 or higher,3 or higher,2,3 or higher,3 or higher,Sunday,start at the stem/ the big round top bits,YAHOO! Finance.

In [79]:
df.columns

Index(['Timestamp', 'Are you going actually going trick or treating yourself?',
       'Your gender:', 'How old are you?', 'Which country do you live in?',
       'Which state, province, county do you live in?', ' [100 Grand Bar]',
       ' [Anonymous brown globs that come in black and orange wrappers]',
       ' [Any full-sized candy bar]', ' [Black Jacks]',
       ...
       'What is your favourite font?',
       'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',
       'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
       'Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
       'Which day do you prefer, Friday or Sunday?',
       'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
       'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).'],
      dtype='object', length=122)

In [80]:
testDF.head()

                Timestamp Country    Test  Country Guess
0 2016-10-24 05:09:23.033  canada  canada         Canada
1 2016-10-24 05:09:54.798     usa     usa  United States
2 2016-10-24 05:13:06.734      us     usa  United States
3 2016-10-24 05:14:17.192     usa     usa  United States
4 2016-10-24 05:14:24.625     usa     usa  United States

In [82]:
testDF[testDF['Country Guess'] == 'NOT FOUND']

,Timestamp,Country,Test,Country Guess
57,2016-10-24 05:54:40.128,a tropical island south of the equator,a tropical island south of the equator,NOT FOUND
89,2016-10-24 06:15:22.247,neverland,neverland,NOT FOUND
99,2016-10-24 06:21:18.515,this one,this one,NOT FOUND
310,2016-10-24 08:50:32.535,cascadia,cascadia,NOT FOUND
411,2016-10-24 10:21:01.946,there isn't one for old men,there isn't one for old men,NOT FOUND
444,2016-10-24 11:00:42.575,one of the best ones,one of the best ones,NOT FOUND
612,2016-10-24 14:48:10.100,somewhere,somewhere,NOT FOUND
725,2016-10-24 19:21:39.300,south korea,south korea,NOT FOUND
1071,2016-10-27 10:42:49.888,see above,see above,NOT FOUND
1124,2016-10-27 12:23:56.227,the republic of cascadia,the republic of cascadia,NOT FOUND
1156,2016-10-27 13:53:10.380,not the usa or canada,not the usa or canada,NOT FOUND
1186,2016-10-27 15:14:24.219,united states of america,united states of america,NOT FOUND
1193,2016-10-27 15:49:33.782,denial,denial,NOT FOUND

In [83]:
temp = testDF.copy()

In [84]:
temp.head()

                Timestamp Country    Test  Country Guess
0 2016-10-24 05:09:23.033  canada  canada         Canada
1 2016-10-24 05:09:54.798     usa     usa  United States
2 2016-10-24 05:13:06.734      us     usa  United States
3 2016-10-24 05:14:17.192     usa     usa  United States
4 2016-10-24 05:14:24.625     usa     usa  United States

In [85]:
temp['Country Guess'].replace('NOT FOUND', np.nan, inplace=True)

In [86]:
temp[temp['Country Guess'] == 'NOT FOUND']

Empty DataFrame
Columns: [Timestamp, Country, Test, Country Guess]
Index: []

In [89]:
temp[temp['Country Guess'].isnull()]

,Timestamp,Country,Test,Country Guess
57,2016-10-24 05:54:40.128,a tropical island south of the equator,a tropical island south of the equator,NaN
89,2016-10-24 06:15:22.247,neverland,neverland,NaN
99,2016-10-24 06:21:18.515,this one,this one,NaN
310,2016-10-24 08:50:32.535,cascadia,cascadia,NaN
411,2016-10-24 10:21:01.946,there isn't one for old men,there isn't one for old men,NaN
444,2016-10-24 11:00:42.575,one of the best ones,one of the best ones,NaN
612,2016-10-24 14:48:10.100,somewhere,somewhere,NaN
725,2016-10-24 19:21:39.300,south korea,south korea,NaN
1071,2016-10-27 10:42:49.888,see above,see above,NaN
1124,2016-10-27 12:23:56.227,the republic of cascadia,the republic of cascadia,NaN
1156,2016-10-27 13:53:10.380,not the usa or canada,not the usa or canada,NaN
1186,2016-10-27 15:14:24.219,united states of america,united states of america,NaN
1193,2016-10-27 15:49:33.782,denial,denial,NaN

In [90]:
temp.iloc[57]

Timestamp                    2016-10-24 05:54:40.128000
Country          a tropical island south of the equator
Test             a tropical island south of the equator
Country Guess                                       NaN
Name: 57, dtype: object

In [95]:
combined = temp['Country Guess'].combine_first(temp['Country'])

In [96]:
type(combined)

pandas.core.series.Series

In [97]:
len(combined)

1259

In [98]:
len(temp)

1259

In [102]:
temp['Combined'] = temp['Country Guess'].combine_first(temp['Country']).str.title()

In [100]:
temp.head()

                Timestamp Country    Test  Country Guess       Combined
0 2016-10-24 05:09:23.033  canada  canada         Canada         Canada
1 2016-10-24 05:09:54.798     usa     usa  United States  United States
2 2016-10-24 05:13:06.734      us     usa  United States  United States
3 2016-10-24 05:14:17.192     usa     usa  United States  United States
4 2016-10-24 05:14:24.625     usa     usa  United States  United States

In [103]:
temp[temp['Country Guess'].isnull()]

,Timestamp,Country,Test,Country Guess,Combined
57,2016-10-24 05:54:40.128,a tropical island south of the equator,a tropical island south of the equator,NaN,A Tropical Island South Of The Equator
89,2016-10-24 06:15:22.247,neverland,neverland,NaN,Neverland
99,2016-10-24 06:21:18.515,this one,this one,NaN,This One
310,2016-10-24 08:50:32.535,cascadia,cascadia,NaN,Cascadia
411,2016-10-24 10:21:01.946,there isn't one for old men,there isn't one for old men,NaN,There Isn'T One For Old Men
444,2016-10-24 11:00:42.575,one of the best ones,one of the best ones,NaN,One Of The Best Ones
612,2016-10-24 14:48:10.100,somewhere,somewhere,NaN,Somewhere
725,2016-10-24 19:21:39.300,south korea,south korea,NaN,South Korea
1071,2016-10-27 10:42:49.888,see above,see above,NaN,See Above
1124,2016-10-27 12:23:56.227,the republic of cascadia,the republic of cascadia,NaN,The Republic Of Cascadia
1156,2016-10-27 13:53:10.380,not the usa or canada,not the usa or canada,NaN,Not The Usa Or Canada
1186,2016-10-27 15:14:24.219,united states of america,united states of america,NaN,United States Of America
1193,2016-10-27 15:49:33.782,denial,denial,NaN,Denial

In [104]:
temp.iloc[1186, 2]

'united  states of america'

In [109]:
df.head(2)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,impact,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,Calibri,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines

In [108]:
df.index

RangeIndex(start=0, stop=1259, step=1)

In [120]:
test = df.copy()

In [121]:
test.columns[1]

'Are you going actually going trick or treating yourself?'

In [122]:
test.columns[2]

'Your gender:'

In [123]:
test.columns[3]

'How old are you?'

In [124]:
test.set_index(['Are you going actually going trick or treating yourself?', 'Your gender:', 'How old are you?'], inplace=True)

In [125]:
test.index

MultiIndex([( 'No',   'Male',  22),
            ( 'No',   'Male',  45),
            ( 'No', 'Female',  48),
            ( 'No',   'Male',  57),
            ('Yes',   'Male',  42),
            ( 'No',   'Male',  41),
            ('Yes',   'Male',  47),
            ( 'No',   'Male',  28),
            ('Yes',   'Male',  44),
            ( 'No', 'Female',  41),
            ...
            ('Yes', 'Female',  47),
            ( 'No',   'Male',  35),
            ( 'No', 'Female',  34),
            ('Yes', 'Female',  56),
            ( 'No',   'Male',  54),
            ( 'No', 'Female',  52),
            ( 'No',   'Male',  33),
            ( 'No',   'Male', nan),
            ( 'No',   'Male',  48),
            ('Yes', 'Female',  44)],
           names=['Are you going actually going trick or treating yourself?', 'Your gender:', 'How old are you?'], length=1259)

In [126]:
test.head()

                                                                                               Timestamp  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22               2016-10-24 05:09:23.033
                                                                45               2016-10-24 05:09:54.798
                                                   Female       48               2016-10-24 05:13:06.734
                                                   Male         57               2016-10-24 05:14:17.192
Yes                                                Male         42               2016-10-24 05:14:24.625

                                                                                 Which country do you live in?  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                      Canada
                                                                45                                         usa
                                                   Female       48                                          US
                                                   Male         57                                         usa
Yes                                                Male         42                                         USA

                                                                                 Which state, province, county do you live in?  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                     Ontario
                                                                45                                                          il
                                                   Female       48                                                    Colorado
                                                   Male         57                                                          il
Yes                                                Male         42                                                South Dakota

                                                                                  [100 Grand Bar]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                            JOY
                                                                45                            MEH
                                                   Female       48                            JOY
                                                   Male         57                            JOY
Yes                                                Male         42                            MEH

                                                                                  [Anonymous brown globs that come in black and orange wrappers]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                          DESPAIR
                                                                45                                                              MEH
                                                   Female       48                                                          DESPAIR
                                                   Male         57                                                              MEH
Yes                                                Male         42                                                          DESPAIR

                                                                                  [Any full-sized candy bar]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                       JOY
                                                                45                                       JOY
                                                   Female       48                                       JOY
                                                   Male         57                                       JOY
Yes                                                Male         42                                       JOY

                                                                                  [Black Jacks]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                          MEH
                                                                45                          JOY
                                                   Female       48                          MEH
                                                   Male         57                          MEH
Yes                                                Male         42                      DESPAIR

                                                                                  [Bonkers (the candy)]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                  MEH
                                                                45                              DESPAIR
                                                   Female       48                                  MEH
                                                   Male         57                                  MEH
Yes                                                Male         42                                  MEH

                                                                                  [Bonkers (the board game)]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                       MEH
                                                                45                                       MEH
                                                   Female       48                                       JOY
                                                   Male         57                                   DESPAIR
Yes                                                Male         42                                       JOY

                                                                                  [Bottle Caps]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                          MEH
                                                                45                          JOY
                                                   Female       48                          JOY
                                                   Male         57                      DESPAIR
Yes                                                Male         42                          MEH

                                                                                  ...  \
Are you going actually going trick or treating ... Your gender: How old are you?  ...
No                                                 Male         22                ...
                                                                45                ...
                                                   Female       48                ...
                                                   Male         57                ...
Yes                                                Male         42                ...

                                                                                 What is your favourite font?  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                     impact
                                                                45                                    Calibri
                                                   Female       48                                   garamond
                                                   Male         57                                    Papyrus
Yes                                                Male         42                                    Default

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                      3 or higher
                                                                45                                                      3 or higher
                                                   Female       48                                                      3 or higher
                                                   Male         57                                                      3 or higher
Yes                                                Male         42                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                                2
                                                                45                                                      3 or higher
                                                   Female       48                                                      3 or higher
                                                   Male         57                                                      3 or higher
Yes                                                Male         42                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                      3 or higher
                                                                45                                                      3 or higher
                                                   Female       48                                                      3 or higher
                                                   Male         57                                                      3 or higher
Yes                                                Male         42                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [Bieber]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                      3 or higher
                                                                45                                                      3 or higher
                                                   Female       48                                                      3 or higher
                                                   Male         57                                                      3 or higher
Yes                                                Male         42                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                      3 or higher
                                                                45                                                      3 or higher
                                                   Female       48                                                      3 or higher
                                                   Male         57                                                      3 or higher
Yes                                                Male         42                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                      3 or higher
                                                                45                                                      3 or higher
                                                   Female       48                                                      3 or higher
                                                   Male         57                                                      3 or higher
Yes                                                Male         42                                                      3 or higher

                                                                                 Which day do you prefer, Friday or Sunday?  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                   Friday
                                                                45                                                   Friday
                                                   Female       48                                                   Sunday
                                                   Male         57                                                   Sunday
Yes                                                Male         42                                                   Friday

                                                                                 Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?  \
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                                                   South to North
                                                                45                                                     East to West
                                                   Female       48                                                     East to West
                                                   Male         57                                                   South to North
Yes                                                Male         42                                                     East to West

                                                                                 When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).
Are you going actually going trick or treating ... Your gender: How old are you?
No                                                 Male         22                               Science: Latest News and Headlines
                                                                45                               Science: Latest News and Headlines
                                                   Female       48                               Science: Latest News and Headlines
                                                   Male         57                               Science: Latest News and Headlines
Yes                                                Male         42                                                             ESPN

[5 rows x 119 columns]

In [127]:
test.loc[('Yes', 'Male', 40)]

<ipython-input-127-d7c65a601594>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  test.loc[('Yes', 'Male', 40)]

                                                                                               Timestamp  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40               2016-10-24 07:02:40.720
                                                                40               2016-10-24 16:22:55.590
                                                                40               2016-10-24 16:48:26.992

                                                                                 Which country do you live in?  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                         USA
                                                                40                                         USA
                                                                40                                         usa

                                                                                 Which state, province, county do you live in?  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                    Missouri
                                                                40                                                          CA
                                                                40                                                          ca

                                                                                  [100 Grand Bar]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                            JOY
                                                                40                            MEH
                                                                40                            JOY

                                                                                  [Anonymous brown globs that come in black and orange wrappers]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                          DESPAIR
                                                                40                                                          DESPAIR
                                                                40                                                          DESPAIR

                                                                                  [Any full-sized candy bar]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                       JOY
                                                                40                                       JOY
                                                                40                                       JOY

                                                                                  [Black Jacks]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                      DESPAIR
                                                                40                          MEH
                                                                40                      DESPAIR

                                                                                  [Bonkers (the candy)]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                              DESPAIR
                                                                40                                  MEH
                                                                40                                  MEH

                                                                                  [Bonkers (the board game)]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                       MEH
                                                                40                                       MEH
                                                                40                                       MEH

                                                                                  [Bottle Caps]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                          MEH
                                                                40                      DESPAIR
                                                                40                          JOY

                                                                                  ...  \
Are you going actually going trick or treating ... Your gender: How old are you?  ...
Yes                                                Male         40                ...
                                                                40                ...
                                                                40                ...

                                                                                 What is your favourite font?  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                       Anna
                                                                40                               Deja Vu Sans
                                                                40                                  helvetica

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                      3 or higher
                                                                40                                                      3 or higher
                                                                40                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                      3 or higher
                                                                40                                                      3 or higher
                                                                40                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                      3 or higher
                                                                40                                                      3 or higher
                                                                40                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [Bieber]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                      3 or higher
                                                                40                                                                2
                                                                40                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                      3 or higher
                                                                40                                                      3 or higher
                                                                40                                                      3 or higher

                                                                                 Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                      3 or higher
                                                                40                                                      3 or higher
                                                                40                                                      3 or higher

                                                                                 Which day do you prefer, Friday or Sunday?  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                   Sunday
                                                                40                                                   Friday
                                                                40                                                   Friday

                                                                                 Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?  \
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                                                     East to West
                                                                40                                              Crazy Spiral Method
                                                                40                                                     East to West

                                                                                 When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).
Are you going actually going trick or treating ... Your gender: How old are you?
Yes                                                Male         40                               Science: Latest News and Headlines
                                                                40                               Science: Latest News and Headlines
                                                                40                               Science: Latest News and Headlines

[3 rows x 119 columns]