In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
candy16url = "https://www.scq.ubc.ca/wp-content/uploads/2016/10/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx"
df = pd.read_excel(candy16url)

### Remove any columns consisting entirely of NaNs:

In [3]:
for header in df.columns:
    if df[header].isnull().all() == True:
        df.drop(header, axis=1, inplace=True)
    else:
        continue

### Check for duplicates in each column:

In [4]:
# print("Duplicates in:")
# for name in df.columns:
#     print("{:.<60}".format(name), any(df[name].duplicated()))

No duplicates in 'Timestamp', all other columns contain duplicates

### Check for columns without NaNs:

In [5]:
# print("NaN's in:")
# for name in df.columns:
#     print("{:.<60} {}".format(name, df[name].isna().any()))

No NaNs in 'Timestamp' or 'Are you going actually going trick or treating yourself?' columns. All others contain at least 1 NaN.

### Replace NaNs in candy columns with 'UNKNOWN', because survey said to "leave blank if you have no idea what the item is":

In [6]:
startCol = df.columns[6]
endCol = df.columns[105]
df.loc[:, startCol:endCol] = df.loc[:, startCol:endCol].fillna('UNKNOWN')

In [7]:
df.tail()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
1254,2016-10-29 16:53:52.516,No,Female,52,USA,TX,JOY,DESPAIR,JOY,MEH,...,Candara,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines
1255,2016-10-30 06:53:54.735,No,Male,33,united states,minnesota,JOY,DESPAIR,JOY,DESPAIR,...,Trebuchet,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines
1256,2016-10-30 11:06:10.827,No,Male,NaN,NaN,NaN,JOY,MEH,JOY,UNKNOWN,...,Comic Sans,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines
1257,2016-10-30 16:07:26.539,No,Male,48,canada,BC,UNKNOWN,DESPAIR,JOY,DESPAIR,...,NaN,1,2,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines
1258,2016-10-30 17:06:45.660,Yes,Female,44,Us,Nh,JOY,MEH,JOY,JOY,...,NaN,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish

### Create a smaller DF with just User and Candy info:

In [8]:
dfLite = df.loc[:, :df.columns[105]]

### Make column names easier to read:

In [21]:
oldCols = list(df.columns[0:6])
newCols = ['Timestamp', 'TrickOrTreat', 'Gender', 'Age', 'Country', 'Locale']
dictCols = dict(zip(oldCols, newCols))

In [22]:
dfLite.rename(columns=dictCols, inplace=True)

### Clean up Country names:

In [9]:
tempDF = dfLite[['Timestamp', 'Country']].copy()

In [10]:
tempDF.head()

                Timestamp Country
0 2016-10-24 05:09:23.033  Canada
1 2016-10-24 05:09:54.798     usa
2 2016-10-24 05:13:06.734      US
3 2016-10-24 05:14:17.192     usa
4 2016-10-24 05:14:24.625     USA

In [11]:
tempDF['CountryCleaned'] = tempDF['Country'].str.lower().str.replace('[.,!]', '')
tempDF['CountryCleaned'] = np.where(tempDF['CountryCleaned'].str.startswith('us'), 'usa', tempDF['CountryCleaned'])
tempDF['CountryCleaned'] = np.where(tempDF['CountryCleaned'].str.endswith('usa'), 'usa', tempDF['CountryCleaned'])

In [13]:
replacements = {
    'uk': 'united kingdom',
    'units states': 'usa',
    'america': 'usa',
    'the yoo ess of aaayyyyyy': 'usa',
    'españa': 'spain',
    'murica': 'usa',
    'united kindom': 'united kingdom',
    'brasil': 'brazil',
    "god's country": 'usa',
    'united sates': 'usa',
    "sub-canadian north america 'merica": 'usa',
    'trumpistan': 'usa',
    'united stetes': 'usa',
    'united  states of america': 'usa'
}

tempDF['CountryCleaned'].replace(replacements, inplace=True)

In [14]:
tempDF.CountryCleaned = tempDF.CountryCleaned.str.strip()

In [15]:
def fuzzyCountry(countryName):
    try:
        return pycountry.countries.search_fuzzy(countryName)[0].name
    except:
#         return ("NOT FOUND")  # for troubleshooting matching
        return(np.nan)

tempDF['FuzzyMatch'] = tempDF.apply(lambda row: fuzzyCountry(row.CountryCleaned), axis=1)

In [16]:
tempDF.head()

                Timestamp Country CountryCleaned     FuzzyMatch
0 2016-10-24 05:09:23.033  Canada         canada         Canada
1 2016-10-24 05:09:54.798     usa            usa  United States
2 2016-10-24 05:13:06.734      US            usa  United States
3 2016-10-24 05:14:17.192     usa            usa  United States
4 2016-10-24 05:14:24.625     USA            usa  United States

In [17]:
# tempDF[tempDF['FuzzyMatch'] == 'NOT FOUND']

In [18]:
tempDF['Combined'] = tempDF['FuzzyMatch'].combine_first(tempDF['Country'])

In [19]:
tempDF[tempDF['FuzzyMatch'].isnull()]

,Timestamp,Country,CountryCleaned,FuzzyMatch,Combined
57,2016-10-24 05:54:40.128,A tropical island south of the equator,a tropical island south of the equator,NaN,A tropical island south of the equator
89,2016-10-24 06:15:22.247,Neverland,neverland,NaN,Neverland
99,2016-10-24 06:21:18.515,this one,this one,NaN,this one
310,2016-10-24 08:50:32.535,Cascadia,cascadia,NaN,Cascadia
411,2016-10-24 10:21:01.946,there isn't one for old men,there isn't one for old men,NaN,there isn't one for old men
444,2016-10-24 11:00:42.575,one of the best ones,one of the best ones,NaN,one of the best ones
612,2016-10-24 14:48:10.100,Somewhere,somewhere,NaN,Somewhere
725,2016-10-24 19:21:39.300,South Korea,south korea,NaN,South Korea
1071,2016-10-27 10:42:49.888,See above,see above,NaN,See above
1124,2016-10-27 12:23:56.227,The republic of Cascadia,the republic of cascadia,NaN,The republic of Cascadia
1156,2016-10-27 13:53:10.380,Not the USA or Canada,not the usa or canada,NaN,Not the USA or Canada
1186,2016-10-27 15:14:24.219,United States of America,united states of america,NaN,United States of America
1193,2016-10-27 15:49:33.782,Denial,denial,NaN,Denial

### Merge Datasets:

In [23]:
dfLite['Country'] = tempDF['Combined']

In [25]:
dfLite.iloc[0:3, 0:6]

                Timestamp TrickOrTreat  Gender Age        Country    Locale
0 2016-10-24 05:09:23.033           No    Male  22         Canada   Ontario
1 2016-10-24 05:09:54.798           No    Male  45  United States        il
2 2016-10-24 05:13:06.734           No  Female  48  United States  Colorado

### Create Hierarchical Index:

In [27]:
dfIndexed = dfLite.copy()

In [28]:
indices = [dfIndexed.columns[1], dfIndexed.columns[2], dfIndexed.columns[3]]
dfIndexed.set_index(indices, inplace=True)

In [30]:
type(dfIndexed.index)

pandas.core.indexes.multi.MultiIndex

In [31]:
dfIndexed.shape

(1259, 103)

In [32]:
dfIndexed.head()

                                      Timestamp        Country        Locale  \
TrickOrTreat Gender Age
No           Male   22  2016-10-24 05:09:23.033         Canada       Ontario
                    45  2016-10-24 05:09:54.798  United States            il
             Female 48  2016-10-24 05:13:06.734  United States      Colorado
             Male   57  2016-10-24 05:14:17.192  United States            il
Yes          Male   42  2016-10-24 05:14:24.625  United States  South Dakota

                         [100 Grand Bar]  \
TrickOrTreat Gender Age
No           Male   22               JOY
                    45               MEH
             Female 48               JOY
             Male   57               JOY
Yes          Male   42               MEH

                         [Anonymous brown globs that come in black and orange wrappers]  \
TrickOrTreat Gender Age
No           Male   22                                             DESPAIR
                    45                                                 MEH
             Female 48                                             DESPAIR
             Male   57                                                 MEH
Yes          Male   42                                             DESPAIR

                         [Any full-sized candy bar]  [Black Jacks]  \
TrickOrTreat Gender Age
No           Male   22                          JOY            MEH
                    45                          JOY            JOY
             Female 48                          JOY            MEH
             Male   57                          JOY            MEH
Yes          Male   42                          JOY        DESPAIR

                         [Bonkers (the candy)]  [Bonkers (the board game)]  \
TrickOrTreat Gender Age
No           Male   22                     MEH                         MEH
                    45                 DESPAIR                         MEH
             Female 48                     MEH                         JOY
             Male   57                     MEH                     DESPAIR
Yes          Male   42                     MEH                         JOY

                         [Bottle Caps]  ...  [Three Musketeers]  \
TrickOrTreat Gender Age                 ...
No           Male   22             MEH  ...                 JOY
                    45             JOY  ...                 JOY
             Female 48             JOY  ...                 JOY
             Male   57         DESPAIR  ...                 JOY
Yes          Male   42             MEH  ...                 JOY

                         [Tolberone something or other]  [Trail Mix]  [Twix]  \
TrickOrTreat Gender Age
No           Male   22                              JOY      DESPAIR     JOY
                    45                              JOY          MEH     JOY
             Female 48                              JOY      DESPAIR     JOY
             Male   57                              JOY          JOY     JOY
Yes          Male   42                              JOY          MEH     JOY

                         [Vials of pure high fructose corn syrup, for main-lining into your vein]  \
TrickOrTreat Gender Age
No           Male   22                                             DESPAIR
                    45                                             DESPAIR
             Female 48                                             DESPAIR
             Male   57                                             DESPAIR
Yes          Male   42                                                 JOY

                         [Vicodin]  [Whatchamacallit Bars]  [White Bread]  \
TrickOrTreat Gender Age
No           Male   22         JOY                 DESPAIR        DESPAIR
                    45         JOY                     JOY        DESPAIR
             Female 48     DESPAIR                     MEH        DESPAIR
             Male   57         JOY                     JOY        DESPAIR
Yes          Male   42         JOY                     MEH        DESPAIR

                         [Whole Wheat anything]  [York Peppermint Patties]
TrickOrTreat Gender Age
No           Male   22                  DESPAIR                        JOY
                    45                  DESPAIR                        JOY
             Female 48                  DESPAIR                        JOY
             Male   57                  DESPAIR                        JOY
Yes          Male   42                  DESPAIR                        MEH

[5 rows x 103 columns]

In [33]:
dfIndexed.loc[('Yes', 'Male', 40)]

<ipython-input-33-22b2028c15bf>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  dfIndexed.loc[('Yes', 'Male', 40)]

                                      Timestamp        Country    Locale  \
TrickOrTreat Gender Age
Yes          Male   40  2016-10-24 07:02:40.720  United States  Missouri
                    40  2016-10-24 16:22:55.590  United States        CA
                    40  2016-10-24 16:48:26.992  United States        ca

                         [100 Grand Bar]  \
TrickOrTreat Gender Age
Yes          Male   40               JOY
                    40               MEH
                    40               JOY

                         [Anonymous brown globs that come in black and orange wrappers]  \
TrickOrTreat Gender Age
Yes          Male   40                                             DESPAIR
                    40                                             DESPAIR
                    40                                             DESPAIR

                         [Any full-sized candy bar]  [Black Jacks]  \
TrickOrTreat Gender Age
Yes          Male   40                          JOY        DESPAIR
                    40                          JOY            MEH
                    40                          JOY        DESPAIR

                         [Bonkers (the candy)]  [Bonkers (the board game)]  \
TrickOrTreat Gender Age
Yes          Male   40                 DESPAIR                         MEH
                    40                     MEH                         MEH
                    40                     MEH                         MEH

                         [Bottle Caps]  ...  [Three Musketeers]  \
TrickOrTreat Gender Age                 ...
Yes          Male   40             MEH  ...                 JOY
                    40         DESPAIR  ...                 MEH
                    40             JOY  ...                 MEH

                         [Tolberone something or other]  [Trail Mix]  [Twix]  \
TrickOrTreat Gender Age
Yes          Male   40                              JOY      DESPAIR     JOY
                    40                              JOY      DESPAIR     MEH
                    40                              MEH      DESPAIR     MEH

                         [Vials of pure high fructose corn syrup, for main-lining into your vein]  \
TrickOrTreat Gender Age
Yes          Male   40                                             DESPAIR
                    40                                             DESPAIR
                    40                                                 MEH

                         [Vicodin]  [Whatchamacallit Bars]  [White Bread]  \
TrickOrTreat Gender Age
Yes          Male   40         JOY                     MEH        DESPAIR
                    40         MEH                 DESPAIR        DESPAIR
                    40         MEH                     JOY        DESPAIR

                         [Whole Wheat anything]  [York Peppermint Patties]
TrickOrTreat Gender Age
Yes          Male   40                  DESPAIR                        MEH
                    40                  DESPAIR                    DESPAIR
                    40                  DESPAIR                        MEH

[3 rows x 103 columns]