In [1]:
import pandas as pd
import numpy as np
import requests

https://towardsdatascience.com/how-to-use-multiindex-in-pandas-to-level-up-your-analysis-aeac7f451fce

https://github.com/metmuseum/openaccess/raw/master/MetObjects.csv  
https://www.scq.ubc.ca/so-much-candy-data-seriously/

In [2]:
candy17url = 'https://www.scq.ubc.ca/wp-content/uploads/2017/10/candyhierarchy2017.csv'

In [3]:
# Specified latin encoding to deal with error
df = pd.read_csv(candy17url, encoding='latin-1')

In [4]:
df.shape

(2460, 120)

In [5]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [6]:
df.describe()

,Internal ID,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo]
count,2.460000e+03,85.0,1362.0,99.0,67.0
mean,9.028016e+07,1.0,1.0,1.0,1.0
std,7.435532e+03,0.0,0.0,0.0,0.0
min,9.025877e+07,1.0,1.0,1.0,1.0
25%,9.027520e+07,1.0,1.0,1.0,1.0
50%,9.027780e+07,1.0,1.0,1.0,1.0
75%,9.028242e+07,1.0,1.0,1.0,1.0
max,9.031480e+07,1.0,1.0,1.0,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Columns: 120 entries, Internal ID to Click Coordinates (x, y)
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

Check for duplicates:

In [8]:
# print("Duplicates in:")
# for name in df.columns:
#     print("{:.<60}".format(name), any(df[name].duplicated()))

All columns, except ID, contain Duplicates.

In [9]:
# print("NaN's in:")
# for name in df.columns:
#     print("{:.<60} {}".format(name, df[name].isna().any()))

All columns, except ID, contain null values.

In [10]:
df.columns[1]

'Q1: GOING OUT?'

In [11]:
df[df.columns[1]]

0       NaN
1        No
2       NaN
3        No
4        No
       ...
2455     No
2456     No
2457     No
2458     No
2459     No
Name: Q1: GOING OUT?, Length: 2460, dtype: object

## 2016 Data Set

In [12]:
candy16url = "https://www.scq.ubc.ca/wp-content/uploads/2016/10/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx"

In [13]:
df = pd.read_excel(candy16url)

In [14]:
df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Columns: 123 entries, Timestamp to  [York Peppermint Patties] Ignore
dtypes: datetime64[ns](1), float64(1), object(121)
memory usage: 1.2+ MB

In [16]:
# # Check if any columns are all NaNs:
# for header in df.columns:
#     print("{:.<60}".format(header), df[header].isnull().all())

In [17]:
df[df.columns[-1]].isnull().all()

True

In [18]:
for header in df.columns:
    if df[header].isnull().all() == True:
        df.drop(header, axis=1, inplace=True)
    else:
        continue

In [19]:
len(df.columns)

122

In [20]:
df.columns[-1]

'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).'

In [21]:
# print("Duplicates in:")
# for name in df.columns:
#     print("{:.<60}".format(name), any(df[name].duplicated()))

No duplicates in 'Timestamp', all other columns contain duplicates

In [22]:
# print("NaN's in:")
# for name in df.columns:
#     print("{:.<60} {}".format(name, df[name].isna().any()))

No NaNs in 'Timestamp' or 'Are you going actually going trick or treating yourself?' columns. All others contain at least 1 NaN.

In [23]:
for item in df.columns:
    print(item)

Timestamp
Are you going actually going trick or treating yourself?
Your gender:
How old are you?
Which country do you live in?
Which state, province, county do you live in?
 [100 Grand Bar]
 [Anonymous brown globs that come in black and orange wrappers]
 [Any full-sized candy bar]
 [Black Jacks]
 [Bonkers (the candy)]
 [Bonkers (the board game)]
 [Bottle Caps]
 [Box'o'Raisins]
 [Broken glow stick]
 [Butterfinger]
 [Cadbury Creme Eggs]
 [Candy Corn]
 [Candy that is clearly just the stuff given out for free at restaurants]
 [Caramellos]
 [Cash, or other forms of legal tender]
 [Chardonnay]
 [Chick-o-Sticks (we don’t know what that is)]
 [Chiclets]
 [Coffee Crisp]
 [Creepy Religious comics/Chick Tracts]
 [Dental paraphenalia]
 [Dots]
 [Dove Bars]
 [Fuzzy Peaches]
 [Generic Brand Acetaminophen]
 [Glow sticks]
 [Goo Goo Clusters]
 [Good N' Plenty]
 [Gum from baseball cards]
 [Gummy Bears straight up]
 [Hard Candy]
 [Healthy Fruit]
 [Heath Bar]
 [Hershey's Dark Chocolate]
 [Hershey’s Milk Chocolate]
 [Hershey's Kisses]
 [Hugs (actual physical hugs)]
 [Jolly Rancher (bad flavor)]
 [Jolly Ranchers (good flavor)]
 [JoyJoy (Mit Iodine!)]
 [Junior Mints]
 [Senior Mints]
 [Kale smoothie]
 [Kinder Happy Hippo]
 [Kit Kat]
 [LaffyTaffy]
 [LemonHeads]
 [Licorice (not black)]
 [Licorice (yes black)]
 [Lindt Truffle]
 [Lollipops]
 [Mars]
 [Mary Janes]
 [Maynards]
 [Mike and Ike]
 [Milk Duds]
 [Milky Way]
 [Regular M&Ms]
 [Peanut M&M’s]
 [Blue M&M's]
 [Red M&M's]
 [Third Party M&M's]
 [Minibags of chips]
 [Mint Kisses]
 [Mint Juleps]
 [Mr. Goodbar]
 [Necco Wafers]
 [Nerds]
 [Nestle Crunch]
 [Now'n'Laters]
 [Peeps]
 [Pencils]
 [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]
 [Pixy Stix]
 [Reese’s Peanut Butter Cups]
 [Reese's Pieces]
 [Reggie Jackson Bar]
 [Rolos]
 [Skittles]
 [Smarties (American)]
 [Smarties (Commonwealth)]
 [Snickers]
 [Sourpatch Kids (i.e. abominations of nature)]
 [Spotted Dick]
 [Starburst]
 [Sweet Tarts]
 [Swedish Fish]
 [Sweetums (a friend to diabetes)]
 [Tic Tacs]
 [Those odd marshmallow circus peanut things]
 [Three Musketeers]
 [Tolberone something or other]
 [Trail Mix]
 [Twix]
 [Vials of pure high fructose corn syrup, for main-lining into your vein]
 [Vicodin]
 [Whatchamacallit Bars]
 [White Bread]
 [Whole Wheat anything]
 [York Peppermint Patties]
Please list any items not included above that give you JOY.
Please list any items not included above that give you DESPAIR.
Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.
Guess the number of mints in my hand.
Betty or Veronica?
"That dress* that went viral a few years back - when I first saw it, it was ________"
What is your favourite font?
Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]
Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]
Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé]
Please estimate the degree(s) of separation you have from the following celebrities [Bieber]
Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]
Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]
Which day do you prefer, Friday or Sunday?
Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?
When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).

### Replace NaNs in candy columns with 'UNKNOWN', because survey said to "leave blank if you have no idea what the item is":

In [24]:
startCol = df.columns[6]
endCol = df.columns[105]

In [25]:
df.loc[:, startCol:endCol].tail()

,[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers (the candy)],[Bonkers (the board game)],[Bottle Caps],[Box'o'Raisins],[Broken glow stick],[Butterfinger],...,[Three Musketeers],[Tolberone something or other],[Trail Mix],[Twix],"[Vials of pure high fructose corn syrup, for main-lining into your vein]",[Vicodin],[Whatchamacallit Bars],[White Bread],[Whole Wheat anything],[York Peppermint Patties]
1254,JOY,DESPAIR,JOY,MEH,MEH,NaN,NaN,DESPAIR,NaN,JOY,...,MEH,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,MEH
1255,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,...,JOY,JOY,MEH,JOY,JOY,JOY,MEH,DESPAIR,DESPAIR,MEH
1256,JOY,MEH,JOY,NaN,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,JOY,...,MEH,JOY,MEH,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,MEH
1257,NaN,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,JOY,...,MEH,JOY,DESPAIR,JOY,MEH,JOY,JOY,MEH,MEH,DESPAIR
1258,JOY,MEH,JOY,JOY,MEH,JOY,JOY,MEH,MEH,JOY,...,JOY,JOY,MEH,JOY,MEH,MEH,JOY,MEH,MEH,JOY

In [26]:
df.loc[:, startCol:endCol] = df.loc[:, startCol:endCol].fillna('UNKNOWN')

In [27]:
df.tail()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
1254,2016-10-29 16:53:52.516,No,Female,52,USA,TX,JOY,DESPAIR,JOY,MEH,...,Candara,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines
1255,2016-10-30 06:53:54.735,No,Male,33,united states,minnesota,JOY,DESPAIR,JOY,DESPAIR,...,Trebuchet,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines
1256,2016-10-30 11:06:10.827,No,Male,NaN,NaN,NaN,JOY,MEH,JOY,UNKNOWN,...,Comic Sans,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines
1257,2016-10-30 16:07:26.539,No,Male,48,canada,BC,UNKNOWN,DESPAIR,JOY,DESPAIR,...,NaN,1,2,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines
1258,2016-10-30 17:06:45.660,Yes,Female,44,Us,Nh,JOY,MEH,JOY,JOY,...,NaN,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish

In [28]:
df.index.names

FrozenList([None])

In [29]:
df.loc[:, df.columns[106]:].tail()

,Please list any items not included above that give you JOY.,Please list any items not included above that give you DESPAIR.,"Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.",Guess the number of mints in my hand.,Betty or Veronica?,"""That dress* that went viral a few years back - when I first saw it, it was ________""",What is your favourite font?,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest)."
1254,"Red hots, mounds, almond joy",NaN,Are you guys kidding me?,14,Betty,White and gold,Candara,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines
1255,"Bandwidth, Take 5 (bar), Take 5 (jazz), anythi...","coconut, cream fillings, marshmallow, creepy d...",NaN,"seventeen and a half (that's gross, I don't wa...",???,Blue and black,Trebuchet,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines
1256,sky bar,dumdums,NaN,all of them have melted into a single mint by now,Veronica,Blue and black,Comic Sans,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines
1257,"weed, mini packs of mini cookies (oreos, etc)",NaN,NaN,NaN,Betty,White and gold,NaN,1,2,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines
1258,NaN,NaN,NaN,6,Betty,White and gold,NaN,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish

In [30]:
df.columns[121]

'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).'

In [31]:
df.index

RangeIndex(start=0, stop=1259, step=1)

In [32]:
df.columns[106]

'Please list any items not included above that give you JOY.'

In [33]:
dfLite = df.loc[:, :df.columns[105]]

In [34]:
dfLite.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,[Three Musketeers],[Tolberone something or other],[Trail Mix],[Twix],"[Vials of pure high fructose corn syrup, for main-lining into your vein]",[Vicodin],[Whatchamacallit Bars],[White Bread],[Whole Wheat anything],[York Peppermint Patties]
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,JOY
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,JOY,JOY,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,JOY
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,JOY
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,JOY,JOY,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,JOY
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,JOY,JOY,MEH,JOY,JOY,JOY,MEH,DESPAIR,DESPAIR,MEH

In [35]:
countries = list(df['Which country do you live in?'].unique())

In [36]:
countries

['Canada',
 'usa',
 'US',
 'USA',
 'UK',
 'United States of America',
 'uSA',
 'Japan',
 'united states',
 'USA ',
 'canada',
 'United States',
 'us',
 'france',
 'USSA',
 'United States of America ',
 'U.S.A.',
 'A tropical island south of the equator',
 'england',
 'uk',
 'Switzerland',
 'Murica',
 'United Kingdom',
 'Neverland',
 'USA!',
 'this one',
 "USA (I think but it's an election year so who can really tell)",
 'Korea',
 51,
 'Usa',
 nan,
 'U.S.',
 'Us',
 'America ',
 'Units States',
 'belgium',
 'croatia',
 'United states',
 'Portugal',
 'England',
 'USA USA USA',
 'the best one - usa',
 'USA! USA! USA!',
 47,
 'united states ',
 'Cascadia',
 'españa',
 'u.s.',
 "there isn't one for old men",
 'United States ',
 'Panama',
 'one of the best ones',
 'The Yoo Ess of Aaayyyyyy',
 'United Kindom',
 'France',
 'America',
 'Australia',
 'hungary',
 'united states of america',
 'UK ',
 'Austria',
 'Somewhere',
 'New Zealand',
 54,
 'Germany',
 'Mexico',
 44,
 'Brasil',
 "god's country",
 'South Korea',
 'USA!!!!!!',
 'Philippines',
 ' United States',
 'EUA',
 'USA! USA!',
 45,
 'sweden',
 'Canada ',
 'United Sates',
 "Sub-Canadian North America... 'Merica",
 'The Netherlands',
 'Finland',
 'Trumpistan',
 'U.s.',
 'Merica',
 'China',
 'germany',
 'See above',
 'UNited States',
 'kenya',
 30,
 'Netherlands',
 'The republic of Cascadia ',
 'United Stetes',
 'america',
 'Not the USA or Canada',
 'USA USA USA USA',
 'New Zealand ',
 'United  States of America',
 'netherlands',
 'Denial',
 'United State']

In [37]:
# pip install country_converter --upgrade

In [38]:
countriesLower = []
for c in countries:
    countriesLower += [str(c).lower().strip()]

In [39]:
# countriesLower

In [40]:
# import country_converter as coco
# # some_names = ['United Rep. of Tanzania', 'DE', 'Cape Verde', '788', 'Burma', 'COG',
# #               'Iran (Islamic Republic of)', 'Korea, Republic of',
# #               "Dem. People's Rep. of Korea"]
# standard_names = coco.convert(names=countriesLower, to='name_short')
# print(standard_names)

In [41]:
# pip install pycountry

In [42]:
import pycountry

In [43]:
pycountry.countries.search_fuzzy(countries)

AttributeError: 'list' object has no attribute 'strip'

In [81]:
testDF = df[['Timestamp', 'Which country do you live in?']]

In [82]:
testDF.head()

                Timestamp Which country do you live in?
0 2016-10-24 05:09:23.033                        Canada
1 2016-10-24 05:09:54.798                           usa
2 2016-10-24 05:13:06.734                            US
3 2016-10-24 05:14:17.192                           usa
4 2016-10-24 05:14:24.625                           USA

In [84]:
testDF.columns = ['Timestamp', 'Country']

In [85]:
testDF.columns

Index(['Timestamp', 'Country'], dtype='object')

In [55]:
fuzzyUSA = pycountry.countries.search_fuzzy('usa')

In [60]:
fuzzyUSA[0]

Country(alpha_2='US', alpha_3='USA', name='United States', numeric='840', official_name='United States of America')

In [64]:
type(fuzzyUSA[0])

pycountry.db.Country

In [63]:
fuzzyUSA[0].name

'United States'

In [68]:
pycountry.countries.search_fuzzy('usa')[0].name

'United States'

In [69]:
def fuzzyCountry(countryName):
    try:
        return pycountry.countries.search_fuzzy(countryName)[0].name
    except:
        return ("NOT FOUND")

In [86]:
testDF['Country Guess'] = testDF.apply(lambda row: fuzzyCountry(row.Country), axis=1)

<ipython-input-86-6b0927a1a1f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDF['Country Guess'] = testDF.apply(lambda row: fuzzyCountry(row.Country), axis=1)

In [100]:
testDF[450:500]

                  Timestamp                   Country         Country Guess
450 2016-10-24 11:03:56.009                       USA         United States
451 2016-10-24 11:04:39.113  United States of America         United States
452 2016-10-24 11:05:27.957                       USA         United States
453 2016-10-24 11:05:42.689                       USA         United States
454 2016-10-24 11:06:21.461                    U.S.A.             NOT FOUND
455 2016-10-24 11:06:41.561                       usa         United States
456 2016-10-24 11:07:24.167                       USA         United States
457 2016-10-24 11:07:43.272                        UK               Ukraine
458 2016-10-24 11:09:01.123                       NaN             NOT FOUND
459 2016-10-24 11:10:01.632                       usa         United States
460 2016-10-24 11:10:16.589             United States         United States
461 2016-10-24 11:14:31.569                       usa         United States
462 2016-10-24 11:15:39.087                    Canada                Canada
463 2016-10-24 11:16:21.199                       USA         United States
464 2016-10-24 11:17:05.653             United States         United States
465 2016-10-24 11:17:54.456                       usa         United States
466 2016-10-24 11:18:27.337  United States of America         United States
467 2016-10-24 11:18:40.273                        us         United States
468 2016-10-24 11:19:05.996  United States of America         United States
469 2016-10-24 11:19:55.469                        US         United States
470 2016-10-24 11:21:17.737  The Yoo Ess of Aaayyyyyy             NOT FOUND
471 2016-10-24 11:21:49.381                       USA         United States
472 2016-10-24 11:22:29.771                        us         United States
473 2016-10-24 11:23:29.207                       USA         United States
474 2016-10-24 11:25:58.759                       USA         United States
475 2016-10-24 11:30:47.575                        US         United States
476 2016-10-24 11:31:58.394                       USA         United States
477 2016-10-24 11:32:03.808                       usa         United States
478 2016-10-24 11:32:49.469                       USA         United States
479 2016-10-24 11:32:51.893  United States of America         United States
480 2016-10-24 11:35:27.692                    canada                Canada
481 2016-10-24 11:41:57.373                       USA         United States
482 2016-10-24 11:42:31.106             united states         United States
483 2016-10-24 11:43:21.879             United Kindom             NOT FOUND
484 2016-10-24 11:48:14.927                       USA         United States
485 2016-10-24 11:48:50.386                      U.S.  Virgin Islands, U.S.
486 2016-10-24 11:49:46.898                       USA         United States
487 2016-10-24 11:52:23.138                       USA         United States
488 2016-10-24 11:54:14.009                       USA         United States
489 2016-10-24 11:54:32.144                       USA         United States
490 2016-10-24 11:54:45.051                    France                France
491 2016-10-24 11:56:26.662  United States of America         United States
492 2016-10-24 11:56:46.724                    Canada                Canada
493 2016-10-24 11:57:48.865                        US         United States
494 2016-10-24 11:58:11.773             United States         United States
495 2016-10-24 11:58:20.033                       USA         United States
496 2016-10-24 11:59:27.880             United States         United States
497 2016-10-24 12:00:23.748                   America        American Samoa
498 2016-10-24 12:02:11.271             United States         United States
499 2016-10-24 12:02:25.451             United States         United States

Notes:  
UK should be United Kingdom, not ukraine
Remove Punctuation
USSA, probably USA
anything that starts with US --> USA? Probably
Units States
America --> US, not American Samoa
Not found: (maybe do a search, filtering by NOT FOUND)
  The best one -- USA
  USA USA USA
  Espana
  The Yoo Ess of Aaayyyyyy