# DWwP, Ch 8: RDBMS and SQL
Learning Objectives
* Apply the basics of RDBMS to query databases using Python
* Convert data from SQL into a pandas DF

In [1]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                import sqlite3

## Using an RDBMS (MySQL/PostgreSQL/SQLite)

### Exercise 107: Connecting to Database in SQLite
Connect to a DB and close the connection.

#### 1) Impor the **sqlite3** library of Python by using the following command:

In [2]:
import sqlite3

#### 2) Use `.connect()` to connect to a DB.
Note: we are note using any **server address, user name, password** or other creds to connect. These fields are not required in **sqlite3**, unlike **Postgresql** or **MySQL**.

In [3]:
conn = sqlite3.connect("chapter.db")

#### 3) Close the connection:

In [4]:
conn.close()

**conn** is the main connection object. We'll need a second type of object to interact with the DB.

#### 4) Use the `with` statement, like we did for files:

In [5]:
with sqlite3.connect("chapter.db") as conn:
    pass

### Exercise 108: DDL and DML Commands in SQLite
Create and insert data into a table.

#### 1) Use SQLite's `.connect()`fuction to connect to the **chapter.db** DB:

In [6]:
# with sqlite3.connect("chapter.db") as conn:

#### 2) Create a cursor object by calling `conn.cursor()`. This acts as a medium to communicate with the DB. Create a table in Python:

In [7]:
# cursor = conn.cursor()
# cursor.execute("CREATE TABLE IF NONE EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")

#### 3) Insert rows into the DB that you created:

In [8]:
# cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31)")
# cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39 )")

#### 4) Commit to the DB:

In [9]:
# conn.commit()

#### Put it all together:
This will create the table and write two rows to it with data.

In [10]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")
    
    cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31)")
    cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39 )")
    
    conn.commit()

### Reading Data from a Database in SQLite

#### Use the **SELECT** clause in SQL to retrieve data:

In [11]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39)

#### Use the SELECT clause with a **LIMIT**:

In [12]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user LIMIT 50')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39)

### Exercise 109: Sorting Values that are Present in the Database
Use the **ORDER BY** clause to sor the rows of *user* table by age.

#### 1) Sort the **chapter.db** by **age** in descending order:

In [13]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age DESC')
    for row in rows:
        print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39)
('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31)

#### 2) Sort the **chapter.db** by **age** in ascending order:

In [14]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39)

### Exercise 110: Altering the Structure of a Table and Updating the New Fields
Use **ALTER** to add a column.  
Use **UPDATE** to edit/update any row after it has been inserted.  
Be careful, because UPDATE w/o selective clauses (like WHERE) affects the entire table.

#### 1) Establish a connection with the DB:

In [15]:
# with sqlite3.connect('chapter.db') as conn:
#     cursor = conn.cursor()

#### 2) Add a column in the *user* table and fill it with *null* values:

In [16]:
# cursor.execute("ALTER TABLE user ADD COLUMN gender text")

#### 3) Update all of the values of *gender* so that they are **M**:

In [17]:
# cursor.execute("UPDATE user SET gender='M'")
# conn.commit()

#### 4) Check the altered table:

In [18]:
# rows = cursor.execute('SELECT * FROM user')
# for row in rows:
#     print(row)

#### Put it all together

In [19]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("ALTER TABLE user ADD COLUMN gender text")
    cursor.execute("UPDATE user SET gender='M'")
    conn.commit()
    rows = cursor.execute('SELECT * FROM user')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39, 'M')

### Exercise 111: Grouping Values in Tables
Add female users to the table and group based on gender.

#### 1) Add a female user to the table:

In [20]:
# cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123 Ocean View Lane', 39, 'F')")

In [21]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")
    conn.commit()

#### 2) See the count by each gender:

In [22]:
# rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")
# for row in rows: 
#     print(row)

In [23]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")
    for row in rows:
        print(row)

(1, 'F')
(2, 'M')

### Relation Mapping in DBs
Create a table called **comments** and link it with the *user* table in a 1:N relationship by adding the **user** table's *primary key* as a *foreign key* in the **comments** table.  
#### Use **ON DELETE** to tell the engine what to do with the rows when the parent row gets deleted:

In [20]:
# with sqlite3.connect("chapter.db") as conn:
#     cursor = conn.cursor()
#     conn.commit()
# #     conn.close()

In [14]:
# conn.commit()

In [16]:
# conn.close()

In [24]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('PRAGMA foreign_keys = 1')
    sql = """
        CREATE TABLE comments (
            user_id text,
            comments text,
            FOREIGN KEY (user_id) REFERENCES user (email)
            ON DELETE CASCADE ON UPDATE NO ACTION
        )
    """
    cursor.execute(sql)
    conn.commit()

### Adding Rows in the comments table
#### We have created a table called comments. Now dynamically generate an insert query:

In [25]:
with sqlite3.connect("chapter.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = "INSERT INTO comments VALUES ('{}', '{}')"
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        email = row[0]
        print(f"Going to create rows for {email}")
        name = row[1] + " " + row[2]
        for i in range(10):
            comment = f"This is comment{i} by {name}"
            conn.cursor().execute(sql.format(email, comment))
    conn.commit()

Going to create rows for bob@example.com
Going to create rows for tom@web.com
Going to create rows for shelly@www.com

## Joins

#### Get comments from just Bob:

In [26]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")    
    sql = """
        SELECT * FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

('bob@example.com', 'This is comment0 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment1 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment2 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment3 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment4 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment5 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment6 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment7 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment8 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment9 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy Lane, Fantasy City', 31, 'M')

### Retrieving Specific Columns from a JOIN query
#### Change the SELECT statement to retrieve only emails and comments:

In [27]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")    
    sql = """
        SELECT comments.* FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

('bob@example.com', 'This is comment0 by Bob Codd')
('bob@example.com', 'This is comment1 by Bob Codd')
('bob@example.com', 'This is comment2 by Bob Codd')
('bob@example.com', 'This is comment3 by Bob Codd')
('bob@example.com', 'This is comment4 by Bob Codd')
('bob@example.com', 'This is comment5 by Bob Codd')
('bob@example.com', 'This is comment6 by Bob Codd')
('bob@example.com', 'This is comment7 by Bob Codd')
('bob@example.com', 'This is comment8 by Bob Codd')
('bob@example.com', 'This is comment9 by Bob Codd')

### Exercise 112: Deleting Rows
Delete a row form the user table and see the effect on the comments table.

#### 1) Use the **DELETE** clause in SQL to delete a row from the *user* table:

In [28]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    cursor.execute("DELETE FROM user WHERE email='bob@example.com'")
    conn.commit()

#### 2) Use the **SELECT** operation on the *user* table:

In [29]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy Lane, Fantasu City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')

Notice user Bob has been deleted.  
Check the *comments* table to see that Bob's comments were removed.

#### 3) Use the **SELECT** operation on the *user* table:

In [30]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    rows = cursor.execute("SELECT * FROM comments")
    for row in rows:
        print(row)

('tom@web.com', 'This is comment0 by Tom Fake')
('tom@web.com', 'This is comment1 by Tom Fake')
('tom@web.com', 'This is comment2 by Tom Fake')
('tom@web.com', 'This is comment3 by Tom Fake')
('tom@web.com', 'This is comment4 by Tom Fake')
('tom@web.com', 'This is comment5 by Tom Fake')
('tom@web.com', 'This is comment6 by Tom Fake')
('tom@web.com', 'This is comment7 by Tom Fake')
('tom@web.com', 'This is comment8 by Tom Fake')
('tom@web.com', 'This is comment9 by Tom Fake')
('shelly@www.com', 'This is comment0 by Shelly Milar')
('shelly@www.com', 'This is comment1 by Shelly Milar')
('shelly@www.com', 'This is comment2 by Shelly Milar')
('shelly@www.com', 'This is comment3 by Shelly Milar')
('shelly@www.com', 'This is comment4 by Shelly Milar')
('shelly@www.com', 'This is comment5 by Shelly Milar')
('shelly@www.com', 'This is comment6 by Shelly Milar')
('shelly@www.com', 'This is comment7 by Shelly Milar')
('shelly@www.com', 'This is comment8 by Shelly Milar')
('shelly@www.com', 'This is comment9 by Shelly Milar')

### Updating Specific Values in a Table
#### Combine UPDATE with WHERE to selectively update the first name f hte user iwth the email address tom@web.com:

In [31]:
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1") 
    cursor.execute("UPDATE user set first_name='Chris' where email='tom@web.com'")
    conn.commit()
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

('tom@web.com', 'Chris', 'Fake', '456 Fantasy Lane, Fantasu City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')

### Exercise 113: RDBMS and DataFrames
Convert our data to a DF.

#### 1) Import pandas:

In [32]:
import pandas as pd

#### 2) Create a columns list with email, first name, last name, age, gender, comments.  Also create an empty data list:

In [33]:
columns = ['Email', 'First Name', 'Last Name', 'Age', 'Gender', 'Comments']
data = []

#### 3) Connect to **chapter.db** using SQLite and obtain a cursor:
#### 4) Create a **sql** variable that will contain the SELECT command and use the JOIN command to join the DBs:
#### 5) Use the `.execute()` method of cursor to execute the **sql** command:
#### 6) Append the rows to the data list:

In [34]:
# 3
with sqlite3.connect('chapter.db') as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
# 4
    sql = """
        SELECT user.email, user.first_name, user.last_name, user.age, user.gender, comments.comments FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email = 'tom@web.com'
    """
# 5
    rows = cursor.execute(sql)
# 6
    for row in rows:
        data.append(row)

#### 7) Create a DF using the data list:

In [35]:
data

[('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment0 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment1 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment2 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment3 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment4 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment5 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment6 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment7 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment8 by Tom Fake'),
 ('tom@web.com', 'Chris', 'Fake', 39, 'M', 'This is comment9 by Tom Fake')]

In [36]:
df = pd.DataFrame(data, columns=columns)

In [37]:
df

         Email First Name Last Name  Age Gender                      Comments
0  tom@web.com      Chris      Fake   39      M  This is comment0 by Tom Fake
1  tom@web.com      Chris      Fake   39      M  This is comment1 by Tom Fake
2  tom@web.com      Chris      Fake   39      M  This is comment2 by Tom Fake
3  tom@web.com      Chris      Fake   39      M  This is comment3 by Tom Fake
4  tom@web.com      Chris      Fake   39      M  This is comment4 by Tom Fake
5  tom@web.com      Chris      Fake   39      M  This is comment5 by Tom Fake
6  tom@web.com      Chris      Fake   39      M  This is comment6 by Tom Fake
7  tom@web.com      Chris      Fake   39      M  This is comment7 by Tom Fake
8  tom@web.com      Chris      Fake   39      M  This is comment8 by Tom Fake
9  tom@web.com      Chris      Fake   39      M  This is comment9 by Tom Fake