# Week 1-2: Notes

In [1]:
import pandas as pd

## Notes from videos
#### Wrangling Data with Pandas  
https://www.youtube.com/watch?v=XDAnFZqJDvI

In [2]:
csv_data = pd.read_csv("iris_training.csv")

DataFrame.head()

In [3]:
csv_data.head()

   120    4  setosa  versicolor  virginica
0  6.4  2.8     5.6         2.2          2
1  5.0  2.3     3.3         1.0          1
2  4.9  2.5     4.5         1.7          2
3  4.9  3.1     1.5         0.1          0
4  5.7  3.8     1.7         0.3          0

DataFrame.describe()

In [4]:
csv_data.describe(include='all')

              120           4      setosa  versicolor   virginica
count  120.000000  120.000000  120.000000  120.000000  120.000000
mean     5.845000    3.065000    3.739167    1.196667    1.000000
std      0.868578    0.427156    1.822100    0.782039    0.840168
min      4.400000    2.000000    1.000000    0.100000    0.000000
25%      5.075000    2.800000    1.500000    0.300000    0.000000
50%      5.800000    3.000000    4.400000    1.300000    1.000000
75%      6.425000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

Shuffling the DataFrame

In [5]:
csv_data = csv_data.sample(frac=1).reset_index(drop=True)

##### DataFrame access:

Columns

In [6]:
csv_data.columns

Index(['120', '4', 'setosa', 'versicolor', 'virginica'], dtype='object')

In [7]:
csv_data['120']

0      4.5
1      6.7
2      7.7
3      6.8
4      6.9
      ...
115    5.1
116    6.8
117    4.9
118    5.7
119    6.2
Name: 120, Length: 120, dtype: float64

Rows

In [8]:
csv_data.iloc[5]

120           4.6
4             3.1
setosa        1.5
versicolor    0.2
virginica     0.0
Name: 5, dtype: float64

Column & Row

In [9]:
csv_data['120'].iloc[5]

4.6

Range Selection

In [10]:
csv_data[['120', '4']]

     120    4
0    4.5  2.3
1    6.7  3.0
2    7.7  2.8
3    6.8  2.8
4    6.9  3.1
..   ...  ...
115  5.1  3.8
116  6.8  3.2
117  4.9  3.0
118  5.7  3.0
119  6.2  2.8

[120 rows x 2 columns]

In [11]:
# Get the column names
cols_2_4 = csv_data.columns[2:4]
# Then get the dta columns
csv_data[cols_2_4]

     setosa  versicolor
0       1.3         0.3
1       5.2         2.3
2       6.7         2.0
3       4.8         1.4
4       5.1         2.3
..      ...         ...
115     1.6         0.2
116     5.9         2.3
117     1.4         0.2
118     4.2         1.2
119     4.8         1.8

[120 rows x 2 columns]

In [12]:
csv_data.iloc[5:10]

   120    4  setosa  versicolor  virginica
5  4.6  3.1     1.5         0.2          0
6  4.6  3.2     1.4         0.2          0
7  6.3  2.3     4.4         1.3          1
8  5.8  2.7     4.1         1.0          1
9  6.2  2.2     4.5         1.5          1

In [13]:
# First, choose the column names
cols_2_4 = csv_data.columns[2:4]
# Then we get the columns
cols_2_4 = csv_data[cols_2_4]
# Now select the rows from that DataFrame
cols_2_4.iloc[5:10]

   setosa  versicolor
5     1.5         0.2
6     1.4         0.2
7     4.4         1.3
8     4.1         1.0
9     4.5         1.5

In [14]:
# Same as above, but condensed
csv_data[csv_data.columns[2:4]].iloc[5:10]

   setosa  versicolor
5     1.5         0.2
6     1.4         0.2
7     4.4         1.3
8     4.1         1.0
9     4.5         1.5

## PfDA, Ch.2

In [15]:
print("Hello, world!")

Hello, world!

In [16]:
run hello_world.py

Hello world

tab completion

In [17]:
an_apple = 27

In [18]:
an_example = 42

In [19]:
an_apple # an<Tab>

27

In [20]:
b = [1, 2, 3]

In [21]:
# b.<Tab> for available methods & attributes

In [22]:
import datetime

In [23]:
# datetime.<Tab> for available modules

\<Tab> completetion is also useful for filepaths

and you can autocomplete your function keywords

In [24]:
def func_with_keywords(abra=1, abbra=2, abbbra=3):
    return abra, abbra, abbbra

In [25]:
func_with_keywords # ab<Tab> is supposed to work but doesn't??

Use a ? before or after a variable to get more info about it

In [26]:
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [27]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [28]:
def add_nums(a, b):
    """
    Add two numbers together
    
    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [29]:
add_nums?

Signature: add_nums(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      c:\users\micha\onedrive\documents\github\dsc540\weeks1-2\<ipython-input-28-fa2149aa2def>
Type:      function

In [30]:
# Signature: add_nums(a, b)
# Docstring:
# Add two numbers together

# Returns
# -------
# the_sum : type of arguments
# File:      c:\users\micha\onedrive\documents\github\dsc540\weeks1-2\<ipython-input-21-fa2149aa2def>
# Type:      function

?? will show source code, if possible:

In [31]:
add_nums??

Signature: add_nums(a, b)
Source:
def add_nums(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b
File:      c:\users\micha\onedrive\documents\github\dsc540\weeks1-2\<ipython-input-28-fa2149aa2def>
Type:      function

In [32]:
# Signature: add_nums(a, b)
# Source:   
# def add_nums(a, b):
#     """
#     Add two numbers together
    
#     Returns
#     -------
#     the_sum : type of arguments
#     """
#     return a + b
# File:      c:\users\micha\onedrive\documents\github\dsc540\weeks1-2\<ipython-input-21-fa2149aa2def>
# Type:      function

Use * wildcard to search namespace:

np.\*load*?

The %run command

In [33]:
%run hello_world.py

Hello world

In [34]:
# %load hello_world.py
print('Hello world')

Hello world

You can run code from the clipboard using:

%paste

In [36]:
# %paste # okay, I guess you can't.

In [37]:
%matplotlib inline

In [39]:
# import numpy as np
# import matplotlib.pyplot as plt
# plt.plot(np.random.randn(50).cumsum  )
# TypeError: float() argument must be a string or a number, not 'builtin_function_or_method'

In [40]:
def append_element(some_list, element):
    some_list.append(element)

In [41]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

Duck typing

In [42]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [43]:
isiterable('a string')

True

In [44]:
isiterable([1, 2, 3])

True

In [45]:
isiterable(5)

False

Use when writing functions that can accept multiple kinds of input. 

Commonly, when writing a function that can accept any kind of sequence (list, tuple, ndarray). You can first check if object is a list (or NumPy array) and, if not, convert it to one:

In [46]:
x = 5

In [47]:
if not isinstance(x, list) and isiterable(x):
    x = list(x)

Scalar Types

In [48]:
s = r'this\has\no\special\characters'

In [49]:
s

'this\\has\\no\\special\\characters'

The _r_ stands for raw

range

In [50]:
# range(<start>, <end>, <step>)

In [51]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [53]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [54]:
sum = 0
# sum the numbesr 0 to 99,999 that are multiples of 3 or 5:
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i
sum

2333316668

Ternary expressions

In [55]:
x = 5

In [56]:
'Non-negative' if x >= 0 else 'Negative'
# Note: condenses code, but may sacrifice readability

'Non-negative'

## PfDA, Ch. 3: Built-in Data Structures, Functions, and Files

See Ch03 from book

## DWwP, Ch 2: Advanced Data Structures and File Handling

### Iterator

In [57]:
big_list_of_numbers = [1 for x in range(0, 10000000)]
from sys import getsizeof
getsizeof(big_list_of_numbers)  # In bytes

81528048

81 Mb is pretty big; this uses a lot of memory and the variable is not available until the list comprehension is done.

Better to use an iterator that only generates the numbers as they are asked for. This will reduce memory utiliztion.

In [58]:
from itertools import repeat
small_list_of_numbers = repeat(1, times=10000000)
getsizeof(small_list_of_numbers)

48

Can then loop over the newly generated iterator, as needed.

In [59]:
for i, x in enumerate(small_list_of_numbers):
    print(x, i)
    if i > 10:
        break

1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11

In [60]:
small_list_of_numbers

repeat(1, 9999988)

In [61]:
from itertools import (permutations, combinations, dropwhile, repeat, zip_longest)

In [62]:
permutations?

Init signature: permutations(iterable, r=None)
Docstring:
Return successive r-length permutations of elements in the iterable.

permutations(range(3), 2) --> (0,1), (0,2), (1,0), (1,2), (2,0), (2,1)
Type:           type
Subclasses:

In [63]:
combinations?

Init signature: combinations(iterable, r)
Docstring:
Return successive r-length combinations of elements in the iterable.

combinations(range(4), 3) --> (0,1,2), (0,1,3), (0,2,3), (1,2,3)
Type:           type
Subclasses:

In [64]:
dropwhile?

Init signature: dropwhile(predicate, iterable, /)
Docstring:
Drop items from the iterable while predicate(item) is true.

Afterwards, return every element until the iterable is exhausted.
Type:           type
Subclasses:

In [65]:
repeat?

Init signature: repeat(self, /, *args, **kwargs)
Docstring:
repeat(object [,times]) -> create an iterator which returns the object
for the specified number of times.  If not specified, returns the object
endlessly.
Type:           type
Subclasses:

In [66]:
zip_longest?

Init signature: zip_longest(self, /, *args, **kwargs)
Docstring:
zip_longest(iter1 [,iter2 [...]], [fillvalue=None]) --> zip_longest object

Return a zip_longest object whose .__next__() method returns a tuple where
the i-th element comes from the i-th iterable argument.  The .__next__()
method continues until the longest iterable in the argument sequence
is exhausted and then it raises StopIteration.  When the shorter iterables
are exhausted, the fillvalue is substituted in their place.  The fillvalue
defaults to None or can be specified by a keyword argument.
Type:           type
Subclasses:

### Stacks

##### Exercise 16: Implementing a Stack in Python

In [67]:
stack = []

In [68]:
stack.append(25)
stack

[25]

In [69]:
stack.append(-12)
stack

[25, -12]

In [70]:
tos = stack.pop()
tos

-12

In [71]:
stack

[25]

In [72]:
stack.append("Hello")
stack

[25, 'Hello']

### Exercise 17: Implementing a Stack Using User-Defined Methods

Manually implementing **append** and **pop** methods

In [73]:
def stack_push(s, value):
    return s + [value]  # the square brackets convert the value to a one-element list for the sake of the '+' operation

def stack_pop(s):
    tos = s[-1]
    del s[-1]
    return tos

url_stack = []

First line from Wikipedia article on data science:

In [74]:
wikipedia_datascience = "Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge [https://en.wikipedia.org/wiki/Knowledge] and insights from data [https://en.wikipedia.org/wiki/Data] in various forms, both structured and unstructured,similar to data mining [https://en.wikipedia.org/wiki/Data_mining]"

Find the length of the string:

In [75]:
len(wikipedia_datascience)

347

Convert to a list (using **split**) and calculate length:

In [76]:
wd_list = wikipedia_datascience.split()
len(wd_list)

34

Use a 'for loop' to check whether each word is a URL using **startswith** method:

In [77]:
wd_list

['Data',
 'science',
 'is',
 'an',
 'interdisciplinary',
 'field',
 'that',
 'uses',
 'scientific',
 'methods,',
 'processes,',
 'algorithms',
 'and',
 'systems',
 'to',
 'extract',
 'knowledge',
 '[https://en.wikipedia.org/wiki/Knowledge]',
 'and',
 'insights',
 'from',
 'data',
 '[https://en.wikipedia.org/wiki/Data]',
 'in',
 'various',
 'forms,',
 'both',
 'structured',
 'and',
 'unstructured,similar',
 'to',
 'data',
 'mining',
 '[https://en.wikipedia.org/wiki/Data_mining]']

In [78]:
for word in wd_list:
    if word.startswith("[https://"):
        url_stack  = stack_push(url_stack, word[1:-1])  # Notice the clever use of string slicing

In [79]:
url_stack

['https://en.wikipedia.org/wiki/Knowledge',
 'https://en.wikipedia.org/wiki/Data',
 'https://en.wikipedia.org/wiki/Data_mining']

In [80]:
for i in range(0, len(url_stack)):
    print(stack_pop(url_stack))

https://en.wikipedia.org/wiki/Data_mining
https://en.wikipedia.org/wiki/Data
https://en.wikipedia.org/wiki/Knowledge

URL stack is now empty:

In [81]:
url_stack

[]

### Exercise 18: Lambda Expression

Prove the trigonometric identity:

sin^2(x) + cos^2(x) = 1

In [82]:
import math

Define sine and cosine functions that use degrees and convert to radians:

In [83]:
def my_sine():
    return lambda x: math.sin(math.radians(x))

def my_cosine():
    return lambda x: math.cos(math.radians(x))

Define our **sine** and **cosine**:

In [84]:
sine = my_sine()
cosine = my_cosine()

In [85]:
math.pow(sine(30), 2) + math.pow(cosine(30), 2)

1.0

### Exercise 19: Lambda Expression for Sorting

In [86]:
capitals = [("USA", "Washington"), ("India", "Delhi"), ("France", "Paris"), ("UK", "London")]

In [87]:
capitals

[('USA', 'Washington'),
 ('India', 'Delhi'),
 ('France', 'Paris'),
 ('UK', 'London')]

In [88]:
capitals.sort(key=lambda item: item[1])
capitals

[('India', 'Delhi'),
 ('UK', 'London'),
 ('France', 'Paris'),
 ('USA', 'Washington')]

In [89]:
capitals.sort(key=lambda item: item[0])
capitals

[('France', 'Paris'),
 ('India', 'Delhi'),
 ('UK', 'London'),
 ('USA', 'Washington')]

### Exercise 20: Multi-Element Membership Checking

In [90]:
list_of_words = ["Hello", "there.", "How", "are", "you", "doing"]

In [91]:
check_for = ["How", "are"]

The **all** function returns **True** if all the elements of the iterable are true:

In [92]:
all(w in list_of_words for w in check_for)

True

In [93]:
for w in check_for:
    print(w in list_of_words)

True
True

### Queue

First, inefficiency of list methods. Then, better **dequeue** data structure from collection module.

##### Exercise 21: Implementing a Queue in Python

Create a Python queue using plain list methods:

In [94]:
%%time
queue = []
for i in range (0, 100000):
    queue.append(i)
print("Queue created")

Queue created
Wall time: 24.9 ms

Use **pop** function to empty the queue and check items

In [95]:
%%time
for i in range(0, 100000):
    queue.pop(0)
print("Queue emptied")

Queue emptied
Wall time: 12.8 s

Implement the same queue using the **deque* data structure

In [96]:
from collections import deque

In [97]:
%%time
queue2 = deque()
for i in range(0, 100000):
    queue2.append(i)
print("Queue created")

Queue created
Wall time: 9.09 ms

In [98]:
%%time
for i in range(0, 100000):
    queue2.popleft()
print("Queue emptied")

Queue emptied
Wall time: 18.3 ms

### Basic File Operations in Python

### Exercise 22: File Operations

In [99]:
import os

In [100]:
os.environ['MY_KEY'] = "MY_VAL"
os.getenv('MY_KEY')

'MY_VAL'

When the environment variable is not set:

In [101]:
print(os.getenv('MY_KEY_NOT_SET'))

None

In [102]:
# print(os.environ)  #not shown, for security reasons

#### File Handling

In [103]:
fd = open("Alice’s Adventures in Wonderland, by Lewis Carroll")

In [104]:
fd

In [105]:
fd = open("Alice’s Adventures in Wonderland, by Lewis Carroll", "rb")

In [106]:
fd

In [107]:
# fd = open("Alice’s Adventures in Wonderland, by Lewis Carroll", "w")

In [108]:
fd

### Exercise 23: Opening and Closing a File

It is very important to close a file once you open it

In [117]:
fd = open("Alice’s Adventures in Wonderland, by Lewis Carroll", "rb")

In [118]:
fd.closed

False

In [119]:
fd.close()

In [120]:
fd.closed

True

Use a with statement to open files because it will automatically close the file when done

In [121]:
with open("Alice’s Adventures in Wonderland, by Lewis Carroll") as fd:
    print(fd.closed)
print(fd.closed)

False
True

### Exercise 24: Reading a File Line by Line

In [122]:
with open("Alice’s Adventures in Wonderland, by Lewis Carroll", 
          encoding="utf8") as fd:
    for line in fd:
        print(line)

CHAPTER I. Down the Rabbit-Hole



Alice was beginning to get very tired of sitting by her sister on the

bank, and of having nothing to do: once or twice she had peeped into the

book her sister was reading, but it had no pictures or conversations in

it, ‘and what is the use of a book,’ thought Alice ‘without pictures or

conversations?’



So she was considering in her own mind (as well as she could, for the

hot day made her feel very sleepy and stupid), whether the pleasure

of making a daisy-chain would be worth the trouble of getting up and

picking the daisies, when suddenly a White Rabbit with pink eyes ran

close by her.



There was nothing so VERY remarkable in that; nor did Alice think it so

VERY much out of the way to hear the Rabbit say to itself, ‘Oh dear!

Oh dear! I shall be late!’ (when she thought it over afterwards, it

occurred to her that she ought to have wondered at this, but at the time

it all seemed quite natural); but when the Rabbit actually TOOK A WATCH

OUT OF ITS WAISTCOAT-POCKET, and looked at it, and then hurried on,

Alice started to her feet, for it flashed across her mind that she had

never before seen a rabbit with either a waistcoat-pocket, or a watch

to take out of it, and burning with curiosity, she ran across the field

after it, and fortunately was just in time to see it pop down a large

rabbit-hole under the hedge.



In another moment down went Alice after it, never once considering how

in the world she was to get out again.



The rabbit-hole went straight on like a tunnel for some way, and then

dipped suddenly down, so suddenly that Alice had not a moment to think

about stopping herself before she found herself falling down a very deep

well.



Either the well was very deep, or she fell very slowly, for she had

plenty of time as she went down to look about her and to wonder what was

going to happen next. First, she tried to look down and make out what

she was coming to, but it was too dark to see anything; then she

looked at the sides of the well, and noticed that they were filled with

cupboards and book-shelves; here and there she saw maps and pictures

hung upon pegs. She took down a jar from one of the shelves as

she passed; it was labelled ‘ORANGE MARMALADE’, but to her great

disappointment it was empty: she did not like to drop the jar for fear

of killing somebody, so managed to put it into one of the cupboards as

she fell past it.



‘Well!’ thought Alice to herself, ‘after such a fall as this, I shall

think nothing of tumbling down stairs! How brave they’ll all think me at

home! Why, I wouldn’t say anything about it, even if I fell off the top

of the house!’ (Which was very likely true.)



Down, down, down. Would the fall NEVER come to an end! ‘I wonder how

many miles I’ve fallen by this time?’ she said aloud. ‘I must be getting

somewhere near the centre of the earth. Let me see: that would be four

thousand miles down, I think--’ (for, you see, Alice had learnt several

things of this sort in her lessons in the schoolroom, and though this

was not a VERY good opportunity for showing off her knowledge, as there

was no one to listen to her, still it was good practice to say it over)

‘--yes, that’s about the right distance--but then I wonder what Latitude

or Longitude I’ve got to?’ (Alice had no idea what Latitude was, or

Longitude either, but thought they were nice grand words to say.)



Presently she began again. ‘I wonder if I shall fall right THROUGH the

earth! How funny it’ll seem to come out among the people that walk with

their heads downward! The Antipathies, I think--’ (she was rather glad

there WAS no one listening, this time, as it didn’t sound at all the

right word) ‘--but I shall have to ask them what the name of the country

is, you know. Please, Ma’am, is this New Zealand or Australia?’ (and

she tried to curtsey as she spoke--fancy CURTSEYING as you’re falling

through the air! Do you think you could manage it?) ‘And what an

ignorant little girl she’ll think me for asking! No, it’ll never do to

ask: perhaps I shall see it written up somewhere.’



Down, down, down. There was nothing else to do, so Alice soon began

talking again. ‘Dinah’ll miss me very much to-night, I should think!’

(Dinah was the cat.) ‘I hope they’ll remember her saucer of milk at

tea-time. Dinah my dear! I wish you were down here with me! There are no

mice in the air, I’m afraid, but you might catch a bat, and that’s very

like a mouse, you know. But do cats eat bats, I wonder?’ And here Alice

began to get rather sleepy, and went on saying to herself, in a dreamy

sort of way, ‘Do cats eat bats? Do cats eat bats?’ and sometimes, ‘Do

bats eat cats?’ for, you see, as she couldn’t answer either question,

it didn’t much matter which way she put it. She felt that she was dozing

off, and had just begun to dream that she was walking hand in hand with

Dinah, and saying to her very earnestly, ‘Now, Dinah, tell me the truth:

did you ever eat a bat?’ when suddenly, thump! thump! down she came upon

a heap of sticks and dry leaves, and the fall was over.



Alice was not a bit hurt, and she jumped up on to her feet in a moment:

she looked up, but it was all dark overhead; before her was another

long passage, and the White Rabbit was still in sight, hurrying down it.

There was not a moment to be lost: away went Alice like the wind, and

was just in time to hear it say, as it turned a corner, ‘Oh my ears

and whiskers, how late it’s getting!’ She was close behind it when she

turned the corner, but the Rabbit was no longer to be seen: she found

herself in a long, low hall, which was lit up by a row of lamps hanging

from the roof.



There were doors all round the hall, but they were all locked; and when

Alice had been all the way down one side and up the other, trying every

door, she walked sadly down the middle, wondering how she was ever to

get out again.



Suddenly she came upon a little three-legged table, all made of solid

glass; there was nothing on it except a tiny golden key, and Alice’s

first thought was that it might belong to one of the doors of the hall;

but, alas! either the locks were too large, or the key was too small,

but at any rate it would not open any of them. However, on the second

time round, she came upon a low curtain she had not noticed before, and

behind it was a little door about fifteen inches high: she tried the

little golden key in the lock, and to her great delight it fitted!



Alice opened the door and found that it led into a small passage, not

much larger than a rat-hole: she knelt down and looked along the passage

into the loveliest garden you ever saw. How she longed to get out of

that dark hall, and wander about among those beds of bright flowers and

those cool fountains, but she could not even get her head through the

doorway; ‘and even if my head would go through,’ thought poor Alice, ‘it

would be of very little use without my shoulders. Oh, how I wish I could

shut up like a telescope! I think I could, if I only knew how to begin.’

For, you see, so many out-of-the-way things had happened lately,

that Alice had begun to think that very few things indeed were really

impossible.



There seemed to be no use in waiting by the little door, so she went

back to the table, half hoping she might find another key on it, or at

any rate a book of rules for shutting people up like telescopes: this

time she found a little bottle on it, [‘which certainly was not here

before,’ said Alice,) and round the neck of the bottle was a paper

label, with the words ‘DRINK ME’ beautifully printed on it in large

letters.



It was all very well to say ‘Drink me,’ but the wise little Alice was

not going to do THAT in a hurry. ‘No, I’ll look first,’ she said, ‘and

see whether it’s marked “poison” or not’; for she had read several nice

little histories about children who had got burnt, and eaten up by wild

beasts and other unpleasant things, all because they WOULD not remember

the simple rules their friends had taught them: such as, that a red-hot

poker will burn you if you hold it too long; and that if you cut your

finger VERY deeply with a knife, it usually bleeds; and she had never

forgotten that, if you drink much from a bottle marked ‘poison,’ it is

almost certain to disagree with you, sooner or later.



However, this bottle was NOT marked ‘poison,’ so Alice ventured to taste

it, and finding it very nice, (it had, in fact, a sort of mixed flavour

of cherry-tart, custard, pine-apple, roast turkey, toffee, and hot

buttered toast,) she very soon finished it off.



  *    *    *    *    *    *    *



    *    *    *    *    *    *



  *    *    *    *    *    *    *



‘What a curious feeling!’ said Alice; ‘I must be shutting up like a

telescope.’



And so it was indeed: she was now only ten inches high, and her face

brightened up at the thought that she was now the right size for going

through the little door into that lovely garden. First, however, she

waited for a few minutes to see if she was going to shrink any further:

she felt a little nervous about this; ‘for it might end, you know,’ said

Alice to herself, ‘in my going out altogether, like a candle. I wonder

what I should be like then?’ And she tried to fancy what the flame of a

candle is like after the candle is blown out, for she could not remember

ever having seen such a thing.



After a while, finding that nothing more happened, she decided on going

into the garden at once; but, alas for poor Alice! when she got to the

door, she found she had forgotten the little golden key, and when she

went back to the table for it, she found she could not possibly reach

it: she could see it quite plainly through the glass, and she tried her

best to climb up one of the legs of the table, but it was too slippery;

and when she had tired herself out with trying, the poor little thing

sat down and cried.



‘Come, there’s no use in crying like that!’ said Alice to herself,

rather sharply; ‘I advise you to leave off this minute!’ She generally

gave herself very good advice, (though she very seldom followed it),

and sometimes she scolded herself so severely as to bring tears into

her eyes; and once she remembered trying to box her own ears for having

cheated herself in a game of croquet she was playing against herself,

for this curious child was very fond of pretending to be two people.

‘But it’s no use now,’ thought poor Alice, ‘to pretend to be two people!

Why, there’s hardly enough of me left to make ONE respectable person!’



Soon her eye fell on a little glass box that was lying under the table:

she opened it, and found in it a very small cake, on which the words

‘EAT ME’ were beautifully marked in currants. ‘Well, I’ll eat it,’ said

Alice, ‘and if it makes me grow larger, I can reach the key; and if it

makes me grow smaller, I can creep under the door; so either way I’ll

get into the garden, and I don’t care which happens!’



She ate a little bit, and said anxiously to herself, ‘Which way? Which

way?’, holding her hand on the top of her head to feel which way it was

growing, and she was quite surprised to find that she remained the same

size: to be sure, this generally happens when one eats cake, but Alice

had got so much into the way of expecting nothing but out-of-the-way

things to happen, that it seemed quite dull and stupid for life to go on

in the common way.



So she set to work, and very soon finished off the cake.



  *    *    *    *    *    *    *



    *    *    *    *    *    *



  *    *    *    *    *    *    *

In [123]:
print(fd.closed)

True

In [126]:
with open("Alice’s Adventures in Wonderland, by Lewis Carroll", 
          encoding="utf8") as fd:
    for line in fd:
        print(line)
    print("Ended first loop")
    for line in fd:
        print(line)

# For some reason, this stops after printing "Ended first loop"

CHAPTER I. Down the Rabbit-Hole



Alice was beginning to get very tired of sitting by her sister on the

bank, and of having nothing to do: once or twice she had peeped into the

book her sister was reading, but it had no pictures or conversations in

it, ‘and what is the use of a book,’ thought Alice ‘without pictures or

conversations?’



So she was considering in her own mind (as well as she could, for the

hot day made her feel very sleepy and stupid), whether the pleasure

of making a daisy-chain would be worth the trouble of getting up and

picking the daisies, when suddenly a White Rabbit with pink eyes ran

close by her.



There was nothing so VERY remarkable in that; nor did Alice think it so

VERY much out of the way to hear the Rabbit say to itself, ‘Oh dear!

Oh dear! I shall be late!’ (when she thought it over afterwards, it

occurred to her that she ought to have wondered at this, but at the time

it all seemed quite natural); but when the Rabbit actually TOOK A WATCH

OUT OF ITS WAISTCOAT-POCKET, and looked at it, and then hurried on,

Alice started to her feet, for it flashed across her mind that she had

never before seen a rabbit with either a waistcoat-pocket, or a watch

to take out of it, and burning with curiosity, she ran across the field

after it, and fortunately was just in time to see it pop down a large

rabbit-hole under the hedge.



In another moment down went Alice after it, never once considering how

in the world she was to get out again.



The rabbit-hole went straight on like a tunnel for some way, and then

dipped suddenly down, so suddenly that Alice had not a moment to think

about stopping herself before she found herself falling down a very deep

well.



Either the well was very deep, or she fell very slowly, for she had

plenty of time as she went down to look about her and to wonder what was

going to happen next. First, she tried to look down and make out what

she was coming to, but it was too dark to see anything; then she

looked at the sides of the well, and noticed that they were filled with

cupboards and book-shelves; here and there she saw maps and pictures

hung upon pegs. She took down a jar from one of the shelves as

she passed; it was labelled ‘ORANGE MARMALADE’, but to her great

disappointment it was empty: she did not like to drop the jar for fear

of killing somebody, so managed to put it into one of the cupboards as

she fell past it.



‘Well!’ thought Alice to herself, ‘after such a fall as this, I shall

think nothing of tumbling down stairs! How brave they’ll all think me at

home! Why, I wouldn’t say anything about it, even if I fell off the top

of the house!’ (Which was very likely true.)



Down, down, down. Would the fall NEVER come to an end! ‘I wonder how

many miles I’ve fallen by this time?’ she said aloud. ‘I must be getting

somewhere near the centre of the earth. Let me see: that would be four

thousand miles down, I think--’ (for, you see, Alice had learnt several

things of this sort in her lessons in the schoolroom, and though this

was not a VERY good opportunity for showing off her knowledge, as there

was no one to listen to her, still it was good practice to say it over)

‘--yes, that’s about the right distance--but then I wonder what Latitude

or Longitude I’ve got to?’ (Alice had no idea what Latitude was, or

Longitude either, but thought they were nice grand words to say.)



Presently she began again. ‘I wonder if I shall fall right THROUGH the

earth! How funny it’ll seem to come out among the people that walk with

their heads downward! The Antipathies, I think--’ (she was rather glad

there WAS no one listening, this time, as it didn’t sound at all the

right word) ‘--but I shall have to ask them what the name of the country

is, you know. Please, Ma’am, is this New Zealand or Australia?’ (and

she tried to curtsey as she spoke--fancy CURTSEYING as you’re falling

through the air! Do you think you could manage it?) ‘And what an

ignorant little girl she’ll think me for asking! No, it’ll never do to

ask: perhaps I shall see it written up somewhere.’



Down, down, down. There was nothing else to do, so Alice soon began

talking again. ‘Dinah’ll miss me very much to-night, I should think!’

(Dinah was the cat.) ‘I hope they’ll remember her saucer of milk at

tea-time. Dinah my dear! I wish you were down here with me! There are no

mice in the air, I’m afraid, but you might catch a bat, and that’s very

like a mouse, you know. But do cats eat bats, I wonder?’ And here Alice

began to get rather sleepy, and went on saying to herself, in a dreamy

sort of way, ‘Do cats eat bats? Do cats eat bats?’ and sometimes, ‘Do

bats eat cats?’ for, you see, as she couldn’t answer either question,

it didn’t much matter which way she put it. She felt that she was dozing

off, and had just begun to dream that she was walking hand in hand with

Dinah, and saying to her very earnestly, ‘Now, Dinah, tell me the truth:

did you ever eat a bat?’ when suddenly, thump! thump! down she came upon

a heap of sticks and dry leaves, and the fall was over.



Alice was not a bit hurt, and she jumped up on to her feet in a moment:

she looked up, but it was all dark overhead; before her was another

long passage, and the White Rabbit was still in sight, hurrying down it.

There was not a moment to be lost: away went Alice like the wind, and

was just in time to hear it say, as it turned a corner, ‘Oh my ears

and whiskers, how late it’s getting!’ She was close behind it when she

turned the corner, but the Rabbit was no longer to be seen: she found

herself in a long, low hall, which was lit up by a row of lamps hanging

from the roof.



There were doors all round the hall, but they were all locked; and when

Alice had been all the way down one side and up the other, trying every

door, she walked sadly down the middle, wondering how she was ever to

get out again.



Suddenly she came upon a little three-legged table, all made of solid

glass; there was nothing on it except a tiny golden key, and Alice’s

first thought was that it might belong to one of the doors of the hall;

but, alas! either the locks were too large, or the key was too small,

but at any rate it would not open any of them. However, on the second

time round, she came upon a low curtain she had not noticed before, and

behind it was a little door about fifteen inches high: she tried the

little golden key in the lock, and to her great delight it fitted!



Alice opened the door and found that it led into a small passage, not

much larger than a rat-hole: she knelt down and looked along the passage

into the loveliest garden you ever saw. How she longed to get out of

that dark hall, and wander about among those beds of bright flowers and

those cool fountains, but she could not even get her head through the

doorway; ‘and even if my head would go through,’ thought poor Alice, ‘it

would be of very little use without my shoulders. Oh, how I wish I could

shut up like a telescope! I think I could, if I only knew how to begin.’

For, you see, so many out-of-the-way things had happened lately,

that Alice had begun to think that very few things indeed were really

impossible.



There seemed to be no use in waiting by the little door, so she went

back to the table, half hoping she might find another key on it, or at

any rate a book of rules for shutting people up like telescopes: this

time she found a little bottle on it, [‘which certainly was not here

before,’ said Alice,) and round the neck of the bottle was a paper

label, with the words ‘DRINK ME’ beautifully printed on it in large

letters.



It was all very well to say ‘Drink me,’ but the wise little Alice was

not going to do THAT in a hurry. ‘No, I’ll look first,’ she said, ‘and

see whether it’s marked “poison” or not’; for she had read several nice

little histories about children who had got burnt, and eaten up by wild

beasts and other unpleasant things, all because they WOULD not remember

the simple rules their friends had taught them: such as, that a red-hot

poker will burn you if you hold it too long; and that if you cut your

finger VERY deeply with a knife, it usually bleeds; and she had never

forgotten that, if you drink much from a bottle marked ‘poison,’ it is

almost certain to disagree with you, sooner or later.



However, this bottle was NOT marked ‘poison,’ so Alice ventured to taste

it, and finding it very nice, (it had, in fact, a sort of mixed flavour

of cherry-tart, custard, pine-apple, roast turkey, toffee, and hot

buttered toast,) she very soon finished it off.



  *    *    *    *    *    *    *



    *    *    *    *    *    *



  *    *    *    *    *    *    *



‘What a curious feeling!’ said Alice; ‘I must be shutting up like a

telescope.’



And so it was indeed: she was now only ten inches high, and her face

brightened up at the thought that she was now the right size for going

through the little door into that lovely garden. First, however, she

waited for a few minutes to see if she was going to shrink any further:

she felt a little nervous about this; ‘for it might end, you know,’ said

Alice to herself, ‘in my going out altogether, like a candle. I wonder

what I should be like then?’ And she tried to fancy what the flame of a

candle is like after the candle is blown out, for she could not remember

ever having seen such a thing.



After a while, finding that nothing more happened, she decided on going

into the garden at once; but, alas for poor Alice! when she got to the

door, she found she had forgotten the little golden key, and when she

went back to the table for it, she found she could not possibly reach

it: she could see it quite plainly through the glass, and she tried her

best to climb up one of the legs of the table, but it was too slippery;

and when she had tired herself out with trying, the poor little thing

sat down and cried.



‘Come, there’s no use in crying like that!’ said Alice to herself,

rather sharply; ‘I advise you to leave off this minute!’ She generally

gave herself very good advice, (though she very seldom followed it),

and sometimes she scolded herself so severely as to bring tears into

her eyes; and once she remembered trying to box her own ears for having

cheated herself in a game of croquet she was playing against herself,

for this curious child was very fond of pretending to be two people.

‘But it’s no use now,’ thought poor Alice, ‘to pretend to be two people!

Why, there’s hardly enough of me left to make ONE respectable person!’



Soon her eye fell on a little glass box that was lying under the table:

she opened it, and found in it a very small cake, on which the words

‘EAT ME’ were beautifully marked in currants. ‘Well, I’ll eat it,’ said

Alice, ‘and if it makes me grow larger, I can reach the key; and if it

makes me grow smaller, I can creep under the door; so either way I’ll

get into the garden, and I don’t care which happens!’



She ate a little bit, and said anxiously to herself, ‘Which way? Which

way?’, holding her hand on the top of her head to feel which way it was

growing, and she was quite surprised to find that she remained the same

size: to be sure, this generally happens when one eats cake, but Alice

had got so much into the way of expecting nothing but out-of-the-way

things to happen, that it seemed quite dull and stupid for life to go on

in the common way.



So she set to work, and very soon finished off the cake.



  *    *    *    *    *    *    *



    *    *    *    *    *    *



  *    *    *    *    *    *    *
Ended first loop

### Exercise 25: Write to a File

1) Use the **write** function from the file descriptor object:

In [128]:
data_dict = {"India": "Delhi", "France": "Paris", "UK": "London", 
             "USA": "Washington"}
with open("data_temporary_files.txt", "w") as fd:
    for country, capital in data_dict.items():
        fd.write("The capital of {} is {}\n".format(country, capital))

2) Read the file

In [129]:
with open("data_temporary_files.txt", "r") as fd:
    for line in fd:
        print(line)

The capital of India is Delhi

The capital of France is Paris

The capital of UK is London

The capital of USA is Washington

3) Use the print function to write to a file

In [130]:
data_dict_2 = {"China": "Beijing", "Japan": "Tokyo"}
with open("data_temporary_files.txt", "a") as fd:  # Opened in 'append' mode
    for country, capital in data_dict_2.items():
        print("The capital of {} is {}".format(country, capital), file=fd)

In [131]:
with open("data_temporary_files.txt", "r") as fd:
    for line in fd:
        print(line)

The capital of India is Delhi

The capital of France is Paris

The capital of UK is London

The capital of USA is Washington

The capital of China is Beijing

The capital of Japan is Tokyo